<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลเอกสาร</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">ข้อมูลเอกสาร</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0"> เอกสาร <span class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <div class="email-app">
                            <div class="left-part" style="height: 900px;">
                                <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                    href="javascript:void(0)"></a>
                                <div class="scrollable ps-container ps-theme-default"
                                    style="height: calc(100vh - 25px);"
                                    data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                    <div class="p-3" align="center">
                                        <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->

                                        <div class="card-body">
                                            <div class="button-group">
                                                <!-- ------------------------------------------ -->
                                                <!-- Fullscreen -->
                                                <!-- ------------------------------------------ -->
                                                <div class="row ">
                                                    <button type="button" class="btn btn-success px-4"
                                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                                                            class="fas fa-plus"></i>
                                                        เพิ่มเอกสาร</button>
                                                </div>


                                                <!-- Modal Createdoc-->

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Model -->
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                        </div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- -------------------------------------------------------------- -->
                            <!-- Right Part -->
                            <!-- -------------------------------------------------------------- -->
                            <div class="right-part mail-list bg-white overflow-auto">
                                <div class="container-fluid note-has-grid">
                                    <div class="tab-content">
                                        <div id="note-full-container" class="note-has-grid row">
                                            <input id="doc_i" value="<%=doc_i%>" readonly hidden />
                                            <input id='doc_n' value="<%=doc_n%>" readonly hidden />
                                            <input id="doc_r" value="<%=doc_r%>" readonly hidden />
                                            <input id='doc_t' value="<%=doc_t%>" readonly hidden />
                                            <input id="doc_status" value="<%=doc_status%>" readonly hidden />

                                            <% for(var j=0;j<have_doc1.length;j++){ %>
                                                <h2 style="padding: 20px;">
                                                    <%=have_doc1[j].have_doc_name%>
                                                </h2>
                                                <br>
                                                <% for(var i=0;i<doc.length;i++){ %>
                                                    <% if(have_doc1[j].have_doc_id==doc[i].doc_type_id ){ %>

                                                        <div class="col-md-4">
                                                            <div class="card card-body"
                                                                style="background-color: whitesmoke;">
                                                                <span class="side-stick"></span>

                                                                <a href="/show_slide/<%=doc[i].doc_id%>" target="_blank"
                                                                    rel="noopener noreferrer" class="col-md-1"
                                                                    style="margin-left: 90%;"><i
                                                                        data-feather="link-2"></i></a>
                                                                <a href="#" id="<%=doc[i].doc_id%>"
                                                                    onclick="setlink(this.id)" data-bs-toggle="modal"
                                                                    data-bs-target="#setlink-modal" class="col-md-1"
                                                                    style="margin-left: 90%;"><i
                                                                        data-feather="share-2"></i></a>
                                                                <form action="/sent_mail" method="POST">
                                                                    <div id="setlink-modal" class="modal fade show"
                                                                        tabindex="-1"
                                                                        aria-labelledby="info-header-modalLabel"
                                                                        aria-modal="true" role="dialog">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div
                                                                                    class="modal-header modal-colored-header bg-info text-white">
                                                                                    <h4 class="modal-title"
                                                                                        id="info-header-modalLabel">
                                                                                        แชร์เอกสาร
                                                                                    </h4>
                                                                                    <button type="button"
                                                                                        class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <div class="mb-3">
                                                                                        <input type="email"
                                                                                            name="email_outside"
                                                                                            class="form-control"
                                                                                            placeholder="อีเมลล์ผู้รับ"
                                                                                            required>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <input type="text"
                                                                                            name="subject"
                                                                                            class="form-control"
                                                                                            placeholder="หัวข้อ"
                                                                                            required>
                                                                                    </div>
                                                                                    <div class="mb-3">
                                                                                        <textarea name="link_and_remark"
                                                                                            id="setlink_id" cols="30"
                                                                                            rows="10"
                                                                                            class="form-control">

                                                                                        </textarea>
                                                                                    </div>
                                                                                    <input id="setdoc_id" type="hidden"
                                                                                        name="link_doc_id" readonly>


                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit"
                                                                                        class="btn btn-info font-weight-medium">ส่ง</button>
                                                                                    <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                                </div>
                                                                            </div><!-- /.modal-content -->
                                                                        </div><!-- /.modal-dialog -->
                                                                    </div>
                                                                </form>
                                                                <a href="/print_doc_policy/<%=doc[i].doc_id%>"
                                                                    target="_blank" rel="noopener noreferrer"
                                                                    class="col-md-1"
                                                                    style="margin-left: 90%;margin-top: 1%;"><i
                                                                        data-feather="printer"></i></a>



                                                                <%if(doc[i].doc_status==1){%>
                                                                    <a href="#" id="<%=doc[i].doc_id%>"
                                                                        onclick="copydoc(this.id)"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#copydoc-modal" class="col-md-1"
                                                                        style="margin-left: 90%;margin-top: 2%;"><i
                                                                            data-feather="copy"></i></a>
                                                                    <form action="/copydoc_save" method="POST">
                                                                        <div id="copydoc-modal" class="modal fade show"
                                                                            tabindex="-1"
                                                                            aria-labelledby="info-header-modalLabel"
                                                                            aria-modal="true" role="dialog">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div
                                                                                        class="modal-header modal-colored-header bg-info text-white">
                                                                                        <h4 class="modal-title"
                                                                                            id="info-header-modalLabel">
                                                                                            คัดลอกเอกสาร
                                                                                        </h4>
                                                                                        <button type="button"
                                                                                            class="btn-close"
                                                                                            data-bs-dismiss="modal"
                                                                                            aria-label="Close"></button>
                                                                                    </div>
                                                                                    <div class="modal-body"
                                                                                        id="copydoc_input">

                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="submit"
                                                                                            class="btn btn-info font-weight-medium">ยืนยัน</button>
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-bs-dismiss="modal">ปิด</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <%}%>
                                                                        <%if(doc[i].doc_status==2){%>
                                                                            <a href="/api_support/<%=doc[i].doc_id%>"
                                                                                class="col-md-1"
                                                                                style="margin-left: 90.5%;margin-top: 2%;"><i
                                                                                    class="fas fa-code-branch"
                                                                                    style="font-size: 23px;"></i> </a>
                                                                            <%}%>

                                                                                <h5 class="note-title text-truncate w-75 mb-0 col-md-4"
                                                                                    data-noteHeading="Book a Ticket for Movie">

                                                                                    <!-- <img src="/UI/assets/images/document/status_doc/1.png" > -->

                                                                                    <%if(doc[i].doc_status==0){%>
                                                                                        <h4 class="card-title col-md-10"
                                                                                            style="margin-top: -15%;">
                                                                                            <a
                                                                                                href="/paper/<%=doc[i].doc_id%>">
                                                                                                <i class="ti-file col-md-4"
                                                                                                    style="color:gray;font-size: 6em;margin-top: -10%;"></i>
                                                                                                <h5
                                                                                                    style="margin-left: 125px; margin-top: -90px;  font-size: 18px;">
                                                                                                    <%=doc[i].doc_name%>
                                                                                                        <br><br>
                                                                                                        <span
                                                                                                            style="color: gray;">สถานะ
                                                                                                            : ร่าง
                                                                                                        </span>
                                                                                                </h5>
                                                                                            </a>
                                                                                        </h4>
                                                                                        <%}%>
                                                                                            <%if(doc[i].doc_status==1){%>
                                                                                                <h4 class="card-title col-md-10"
                                                                                                    style="margin-top: -22%;">
                                                                                                    <a
                                                                                                        href="/paper/<%=doc[i].doc_id%>">
                                                                                                        <i class="ti-file col-md-4"
                                                                                                            style="color:#009efb;font-size: 6em;"></i>
                                                                                                        <h5
                                                                                                            style="margin-left: 125px; margin-top: -90px;  font-size: 18px;">
                                                                                                            <%=doc[i].doc_name%>
                                                                                                                <br><br>
                                                                                                                <span
                                                                                                                    style="color: #009efb;">สถานะ
                                                                                                                    :
                                                                                                                    ต้นฉบับ
                                                                                                                </span>
                                                                                                        </h5>
                                                                                                    </a>
                                                                                                </h4>
                                                                                                <%}%>
                                                                                                    <%if(doc[i].doc_status==2){%>
                                                                                                        <h4 class="card-title col-md-10"
                                                                                                            style="margin-top: -22%;">
                                                                                                            <a href="/paper/<%=doc[i].doc_id%>"">
                                                                                                <i class=" ti-file
                                                                                                                col-md-4"
                                                                                                                style="color:#57cd64;font-size: 6em;"></i>
                                                                                                                <h5
                                                                                                                    style="margin-left: 125px; margin-top: -90px;  font-size: 18px;">
                                                                                                                    <%=doc[i].doc_name%>
                                                                                                                        <br><br>
                                                                                                                        <span
                                                                                                                            style="color: #57cd64;">สถานะ
                                                                                                                            :
                                                                                                                            ใช้งาน
                                                                                                                        </span>
                                                                                                                </h5>
                                                                                                            </a>
                                                                                                        </h4>
                                                                                                        <%}%>
                                                                                                            <%if(doc[i].doc_status==3){%>
                                                                                                                <h4 class="card-title col-md-10"
                                                                                                                    style="margin-top: -15%;">
                                                                                                                    <a
                                                                                                                        href="/paper/<%=doc[i].doc_id%>">
                                                                                                                        <i class="ti-file col-md-4"
                                                                                                                            style="color:#f74d6b;font-size: 6em;"></i>
                                                                                                                        <h5
                                                                                                                            style="margin-left: 125px; margin-top: -90px;  font-size: 18px;">
                                                                                                                            <%=doc[i].doc_name%>
                                                                                                                                <br><br>
                                                                                                                                <span
                                                                                                                                    style="color: #f74d6b;">สถานะ
                                                                                                                                    :
                                                                                                                                    ยกเลิก
                                                                                                                                </span>
                                                                                                                        </h5>
                                                                                                                    </a>
                                                                                                                </h4>
                                                                                                                <%}%>
                                                                                                                    </h4>
                                                                                </h5>
                                                                                <p class="note-date fs-2 text-muted">
                                                                                </p>
                                                                                <div class="note-content">
                                                                                    <p class="note-inner-content text-muted"
                                                                                        data-noteContent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">
                                                                                        <%=doc[i].remark%>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <a id="<%=doc[i].doc_id%>" href="#"
                                                                                        onclick="editdoc(this.id)"
                                                                                        class="btn btn-warning"
                                                                                        data-bs-toggle="modal"
                                                                                        data-bs-target="#edit_doc"><i
                                                                                            class="fas fa-pencil-alt fa-x"></i>
                                                                                        แก้ไขเอกสาร</a>
                                                                                    <a id="<%=doc[i].doc_id%>" href="#"
                                                                                        onclick="deldoc(this.id)"
                                                                                        class="btn btn-danger"
                                                                                        data-bs-toggle="modal"
                                                                                        data-bs-target="#del_doc"><i
                                                                                            class="fas fa-trash-alt fa-x"></i>
                                                                                        ลบเอกสาร</a>
                                                                                </div>


                                                            </div>
                                                        </div>
                                                        <%}%>
                                                            <%}%>
                                                                <%}%>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nav tabs -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/paper" method="POST">
        <div class="modal fade" id="staticBackdrop" class="modal fade" tabindex="-1"
            aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h3 style="color:black" class="modal-title " ">
                            เพิ่มเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div align="left" class="modal-body">
                        <table class='table table-borderless'>
                            <th class="col-md-4">
                                ชื่อเอกสาร :<br><br>
                                ชนิดเอกสาร : <a href="/new_doc_type">เพิ่ม</a><br><br>
                                หมายเหตุ :<br><br>
                            </th>
                            <td class="col-md-8">
                                <input type="text" name="doc_name" placeholder="กรอกชื่อเอกสาร.." class="form-control"
                                    required style="margin-bottom: 10px;">

                                <select name="doc_type_id" class="form-control" required>
                                    <option selected disabled value="">
                                        เลือก.. </option>
                                    <% if(doc_type){ %>
                                        <% for(var i=0;i<doc_type.length;i++){%>
                                            <option value="<%= doc_type[i].doc_type_id %>">
                                                <%= doc_type[i].doc_type_name %>
                                            </option>
                                            <% } %>
                                                <% } %>
                                </select>

                                <textarea style="margin-top: 10px;" name="doc_remark" class="form-control"
                                    placeholder="หมายเหตุ.."></textarea>
                                <input type="text" name="doc_date_create" id="" value="<%= data3[0].new %>" readonly
                                    hidden>
                            </td>
                        </table>





                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            เพิ่มเอกสาร </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            ปิด
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="/updatedoc" method="POST">
        <div class="modal fade" id="edit_doc" class="modal fade" tabindex="-1"
            aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h3 style="color:black" class="modal-title " ">
                            แก้ไขเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div align="left" class="modal-body">
                        <table class='table table-borderless'>
                            <th class="col-md-4">
                                ชื่อเอกสาร :<br><br>
                                ชนิดเอกสาร : <a href="/new_doc_type">เพิ่ม</a><br><br>
                                สถานะเอกสาร :<br><br>
                                หมายเหตุ :<br><br>
                            </th>
                            <td class="col-md-8" id="editdoc">

                            </td>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">
                            แก้ไขเอกสาร </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            ปิด
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <form action="/deletedoc" method="POST">
        <div class="modal fade" id="del_doc" class="modal fade" tabindex="-1"
            aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-colored-header border-bottom title-part-padding">
                        <h3 style="color:black" class="modal-title " ">
                            ลบเอกสาร</h3>
                        <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div align="left" class="modal-body">
                        <table class='table table-borderless'>
                            <th class="col-md-4" style="vertical-align: middle;">
                                ชื่อเอกสาร :<br><br>

                            </th>
                            <td class="col-md-8" id="deletedoc">

                            </td>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">
                            ลบเอกสาร </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            ปิด
                        </button>

                    </div>
                </div>
            </div>


        </div>
    </form>

    <!-- ========================= -->
    <!-- share_document_policy -->
    <!-- ========================= -->



    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script>


        // function editdoc1(id) {
        //     $(document).ready(function () {
        //         $('#inputGroupSelect01').on('change', function () {
        //             $('#message-text').val($('#inputState').val())
        //         })
        //     })
        // }
        function setlink(id) {
            document.getElementById('setlink_id').innerHTML = 'Link: http://127.0.0.1:3000/show_slide/' + id
            document.getElementById('setdoc_id').value = id
        }

        function copydoc(id) {
            document.getElementById('copydoc_input').innerHTML = '<h5 align="center">ยืนยันการคัดลอกเอกสาร ?</h5>' + '<input type="hidden" name="doc_id" value="' + id + '" readonly>'
        }


        function editdoc(id) {
            const doc_id = document.getElementById("doc_i").value //doc_id
            const doc_name = document.getElementById('doc_n').value //doc_name
            const doc_type_id = document.getElementById('doc_t').value //doc_type_id
            const doc_remark = document.getElementById('doc_r').value //doc_remark
            const doc_status = document.getElementById('doc_status').value //doc_status

            let sort_doc_id = doc_id.split(',')
            let sort_doc_name = doc_name.split(',')
            let sort_doc_type_id = doc_type_id.split(',')
            let sort_doc_remark = doc_remark.split(',')
            let sort_doc_status = doc_status.split(',')

            let obj = []
            var editdoc = document.getElementById("editdoc");

            for (i in sort_doc_id) {
                obj.push({ "doc_id": sort_doc_id[i], "doc_name": sort_doc_name[i], "doc_type_id": sort_doc_type_id[i], "doc_remark": sort_doc_remark[i], "doc_status": sort_doc_status[i] })
            }


            for (j in obj) {
                if (id == obj[j].doc_id) {
                    editdoc.innerHTML = '<div><input type="text" name="doc_name" value="' + obj[j].doc_name + '" placeholder="กรุณาป้อนชื่อเอกสาร.." class="form-control" required></div><div style="margin-top: 3%"><select id="doc_edit_type" name="doc_type_id" class="form-control" required><option name="" value="">เลือก..</option><% if(doc_type){ %><% for(var i=0;i<doc_type.length;i++){%><option id="option_edit_doc" value="<%= doc_type[i].doc_type_id %>"><%= doc_type[i].doc_type_name %></option> <% } %><% } %></select><div>'
                        + ' <div style="margin-top: 3%"> <select id="edit_status" class="form-control" name="doc_status" > <option  value="0">ร่าง</option><option  value="1">ต้นฉบับ</option><option value="2"> ใช้งาน</option><option value="3"> ยกเลิก</option></select></div>' + '<div style="margin-top: 3%"><textarea style="margin-top: 10px;height:100px" name="doc_remark" cols="30" rows="10"class="form-control" placeholder="หมายเหตุ..">' + obj[j].doc_remark + '</textarea></div>'
                        + '<input type="hidden" name="doc_id" value="' + obj[j].doc_id + '" readonly>'
                }
            }
            var re = new RegExp("[0-9]");
            var selected = $('select#doc_edit_type')
            for (j in obj) {
                if (id == obj[j].doc_id) {
                    console.log(id, obj[j].doc_id)
                    var option = $('option#option_edit_doc').map(function () {
                        return $(this).val()
                    })
                    for (k in option) {
                        if (option[k] == obj[j].doc_type_id) {
                            selected.find('option[value=' + option[k] + ']').attr('selected', 'selected');
                        }
                    }
                }
            }

            var selected_doc = $('select#edit_status').find('option').map(function () {
                return $(this).val()
            })
            for (a in selected_doc) {
                for (b in obj) {
                    if (obj[b].doc_id == id) {
                        if (obj[b].doc_status == selected_doc[a]) {
                            $('select#edit_status').find('option[value=' + selected_doc[a] + ']').attr('selected', true)
                        }
                    }
                }
            }
        }

        function deldoc(id) {
            const doc_id = document.getElementById("doc_i").value //doc_id
            const doc_name = document.getElementById('doc_n').value //doc_name
            const doc_type_id = document.getElementById('doc_t').value //doc_type_id
            const doc_remark = document.getElementById('doc_r').value //doc_remark


            let sort_doc_id = doc_id.split(',')
            let sort_doc_name = doc_name.split(',')
            let sort_doc_type_id = doc_type_id.split(',')
            let sort_doc_remark = doc_remark.split(',')


            let obj = []
            var deletedoc = document.getElementById("deletedoc");
            for (i in sort_doc_id) {
                obj.push({ "doc_id": sort_doc_id[i], "doc_name": sort_doc_name[i], "doc_type_id": sort_doc_type_id[i], "doc_remark": sort_doc_remark[i] })
            }

            for (j in obj) {
                if (id == obj[j].doc_id) {
                    deletedoc.innerHTML = '<h5> ' + obj[j].doc_name + ' </h5>'
                        + '<input type="hidden" name="doc_id" value="' + obj[j].doc_id + '" readonly>'
                }
            }
        }
    </script>
    <%- include('../_footer') -%>