<body onLoad='javascript:window.print();'>
    <input id="code" value="<%=code%>" readonly hidden />
    <input id='code1' value="<%=code1%>" readonly hidden />
    <input id='code_name' value="<%=code_name%>" readonly hidden />
    <div id="setprint">
        <% for (var i=0;i<data.length;i++){%>
            <div >
                <%-data[i].page_content%>
            </div>
            <%}%>
    </div>

</body>

<script type="text/javascript">
    let text = document.getElementById("setprint").innerHTML;
    // console.log(text);
    const code = document.getElementById("code").value
    const code1 = document.getElementById('code1').value
    const code_name = document.getElementById('code_name').value;

    let sort_code = code.split(',')
    let sort_code1 = code1.split(',')
    let sort_code2 = code_name.split(',')
    let obj = []
    for (i in sort_code1) {
        obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
    }
    for (j in obj) {
        // console.log('123');
        var x = obj[j].data_code
        let position = text.search(x);
        // console.log(x, obj[j].data_name, position);
        if (position > -1) {
            text = text.replaceAll(obj[j].data_code, obj[j].data_name)
            document.getElementById("setprint").innerHTML = text
        }
    }
    window.onafterprint = setTimeout(function () { window.close(); }, 500);
</script>