<link rel="stylesheet" type="text/css" href="/UI/assets/extra-libs/prism/prism.css">
<link href="/UI/dist/css/style.slide_show.css" rel="stylesheet">

<div class="container-fluid">
    <!-- -------------------------------------------------------------- -->
    <!-- Start Page Content -->
    <!-- -------------------------------------------------------------- -->
    <div class="row">
        <div class="col-md-12">
            <%if(data.length == 0){%>
                <div class="card" style="margin-top: 1%;margin-left: 30%;margin-right: 30%;height: 1020px;">
                    <div class="d-flex border-bottom title-part-padding align-items-center">
                        <div>
                            <h4 class="card-title mb-0">ดูเอกสาร Policy</h4>
                        </div>
                    </div>
                    <h4 style="margin-left: 70%;"><span id="num_slide">1</span>/<%=data.length%></h4>
                </div>
            <%}else{%>
                <div class="card" style="margin-top: 1%;margin-left: 30%;margin-right: 30%;height: 1020px;">
                    <div class="d-flex border-bottom title-part-padding align-items-center">
                        <div>
                            <h4 class="card-title mb-0">ดูเอกสาร Policy</h4>
                        </div>
                        <h4 style="margin-left: 70%;"><span id="num_slide">1</span>/<%=data.length%></h4>
                    </div>
                    
                    <div class="card-body"style="margin-top: 52.8px;margin-left: 48px;margin-right: 48px;height: 842px;">
                        <input id="code" value="<%=code%>" readonly hidden />
                        <input id='code1' value="<%=code1%>" readonly hidden />
                        <input id='code_name' value="<%=code_name%>" readonly hidden />
                        <div id="carouselExampleIndicators" class="carousel slide carousel-dark" >
                            <ol class="carousel-indicators" >
                                <li data-bs-target="#carouselExampleIndicators" onclick="$('#num_slide').text('1')" data-bs-slide-to="0" class="active"></li>
                                <% let count=0 %>
                                    <% for (var i=1;i<data.length;i++){%>
                                        <% if (data.length !=null){%>
                                            <li data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="<%=count +=1%>"  onclick="$('#num_slide').text('<%=i+1%>')"></li>
                                            <%}%>
                                                <%}%>
                            </ol>
                            <div class="carousel-inner">
                                <div id="setcode">
                                    <% for (var i=0;i<data.length;i++){%>
                                        <% if (data.length !=null){%>
                                            <% if (i==0){%>
                                                <div class="carousel-item active">
                                                    <%-data[i].page_content%>
                                                </div>
                                                <%}else{%>
                                                    <div class="carousel-item">
                                                        <%-data[i].page_content%>
                                                    </div>
                                                    <%}%>
                                                        <%}%>
                                                            <%}%>
                                </div>
    
    
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>
</div>
<script src="/UI/assets/extra-libs/prism/prism.js"></script>
<script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let text = document.getElementById("setcode").innerHTML;
    // console.log(text);
    const code = document.getElementById("code").value
    const code1 = document.getElementById('code1').value
    const code_name = document.getElementById('code_name').value;

    let sort_code = code.split(',')
    let sort_code1 = code1.split(',')
    let sort_code2 = code_name.split(',')
    let obj = []
    for (i in sort_code1) {
        obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i], "data_name": sort_code2[i] })
    }
    for (j in obj) {
        // console.log('123');
        var x = obj[j].data_code
        let position = text.search(x);
        // console.log(x, obj[j].data_name, position);
        if (position > -1) {
            text = text.replaceAll(obj[j].data_code, obj[j].data_name)
            document.getElementById("setcode").innerHTML = text
        }
    }


    $('a.carousel-control-prev').on('click',function(){
        var value = $('li.active').attr('onclick').match(/\d+/g)
        $('span#num_slide').text(value[0])
        console.log($('span#num_slide'))
    })
    $('.carousel-control-next').on('click',function(){
        var value = $('li.active').attr('onclick').match(/\d+/g)
        $('span#num_slide').text(value[0])
        console.log($('span#num_slide'))
    })
    // console.log($('a.carousel-control-prev'))
    // console.log($('a.carousel-control-next'))
</script>