<%-include ("../../../_header")%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">รายงาน E-mailConsent</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">รายงาน E-mailConsent</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid note-has-grid">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3>Revenue Statistics</h3>
                                    <h6 class="card-subtitle" id="date"></h6>
                                </div>
                                <div class="ms-auto">
                                    <ul class="list-inline">
                                        <!-- <li class="list-inline-item">
                                            <h6 class="text-muted"><i class="fa fa-circle me-1 text-danger"></i>
                                                ส่งไม่ผ่าน
                                            </h6>
                                        </li> -->
                                        <li class="list-inline-item">
                                            <h6 class="text-muted"><i class="fa fa-circle me-1 text-info"></i>
                                                จำนวนที่ส่ง
                                            </h6>
                                        </li>
                                        <li class="list-inline-item">
                                            <h6 class="text-muted">
                                                <i class="fa fa-circle me-1 text-success"></i>
                                                จำนวนที่ตอบกลับ
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="revenue-statistics"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">รายงาน E-mailConsent</h4>
            </div>
            <div class="card-body">
                <div class="row pb-2 justify-content-end">
                    <div class="col-md-4">
                        <div class="input-group mb-2 ">
                            <a id="reface" class="btn btn-outline-warning"><i data-feather="refresh-cw"></i></a>
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                id="Srearch" aria-describedby="button-addon2">
                            <button class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div style="min-height: 470px;" class="table-responsive">
                    <div id="table_show"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <script src="../../dist/js/views_js/report_emailconsent/js_report_email.js"></script>

    <%-include ("../../../_footer")%>