<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">เพิ่มผู้ข้อมูลผู้ใช้งาน</h3> <br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index2">การจัดการผู้ใช้</a></li>
                            <li class="breadcrumb-item"><a href="/account/list">ข้อมูลผู้ใช้</a></li>
                            <li class="breadcrumb-item active" aria-current="page">เพิ่มผู้ข้อมูลผู้ใช้งาน
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body border-bottom">
                        <h4 class="card-title">เพิ่มผู้ใช้งาน</h4>
                    </div>
                    <!-- onSubmit="showFileName();" enctype="multipart/form-data" -->

                    <form class="needs-validation" novalidate action="/account/adduser" enctype="multipart/form-data" method="post">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="firstname" class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                <div class="col-sm-6">
                                    <center class="mt-4"> <i class="me-2 mdi mdi-plus-box-outline  fa-10x"></i>
                                        <!-- <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-weight-medium">254</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-weight-medium">54</font></a></div>
                                    </div> -->

                                    </center><br>
                                    <input type="file" id="img" name="img" class="form-control" accept="image/*">
                                    <input type="hidden" name="image" value="user_pic.png">
                                </div>
                            </div><br>
                            <hr><br>
                            <div class="mb-3 row">
                                <label for="firstname" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="validationDefault01" placeholder="ชื่อ" name="firstname" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="lastname" class="col-sm-3 text-end control-label col-form-label text-secondary">สกุล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="lastname" placeholder="สกุล" name="lastname" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="name" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อในระบบ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="name" placeholder="ชื่อในระบบ" name="name" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="position" class="col-sm-3 text-end control-label col-form-label text-secondary" for="sender">ตำแหน่ง</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="position" placeholder="ตำแหน่ง" name="position" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-3 text-end control-label col-form-label text-secondary">อีเมล</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control border border-info" id="email" name="email" placeholder="example@email.com" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="phone" class="col-sm-3 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์มือถือ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="phone" name="phone" placeholder="01-23456789" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="contact" class="col-sm-3 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control border border-info" id="contact" name="contact" placeholder="00-000-000" required>
                                </div>
                                <label for="ext" class="col-sm-1 text-end control-label col-form-label">ต่อ</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control border border-info" id="ext" name="ext" placeholder="000" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="line" class="col-sm-3 text-end control-label col-form-label text-secondary">ไลน์</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="line" name="line" placeholder="@LINE" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="bd" class="col-sm-3 text-end control-label col-form-label text-secondary">วันเดือนปีเกิด</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control border border-info" id="bd" name="bd" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="descrip" class="col-sm-3 text-end control-label col-form-label text-secondary">รายละเอียด</label>
                                <div class="col-sm-6">
                                    <textarea type="text" rows="4" class="form-control border border-info " placeholder="รายละเอียด" id="descrip" name="descrip"></textarea> </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="username" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อผู้ใช้</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="username" placeholder="ชื่อผู้ใช้" name="username" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com3">รหัสผ่าน</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control border border-info" id="password" placeholder="รหัสผ่าน" name="password" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">ยืนยันรหัสผ่าน</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control border border-info" id="confirmpassword" placeholder="ยืนยันรหัสผ่าน" required>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">ประเภทของผู้ใช้งาน</label>
                                <div class="col-sm-3">
                                    <%if((data4[0].num_admin-data1.length)>0 && (data4[0].num_user-data2.length)>0){%>
                                        <select class=" form-control border border-info" name="admin">
                                        <option>กรุณาเลือก</option>
                                        <option value="1">ผู้ดูแลระบบ</option>
                                        <option value="0">ผู้ดูแลข้อมูล</option>
                                        <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                                    
                                        <option value="4">ผูัประมวนผลข้อมูล</option>
                                        <option value="2">ผู้ใช้งานทั่วไป</option>

                                        </select>
                                        <%}else if ((data4[0].num_admin-data1.length)>0 && (data4[0].num_user-data2.length) <=0){%>
                                            <select class=" form-control border border-info" name="admin">
                                            <option>กรุณาเลือก</option>
                                            <option value="1">ผู้ดูแลระบบ</option>
                                            <!-- <option value="0">ผู้ดูแลข้อมูล</option> -->
                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                                   
                                            <option value="4">ผูัประมวนผลข้อมูล</option>
                                            <option value="2">ผู้ใช้งานทั่วไป</option>

                                            </select>
                                            <%}else if ((data4[0].num_admin-data1.length)<=0 && (data4[0].num_user-data2.length)>0){%>
                                                <select class=" form-control border border-info" name="admin">
                                                <option>กรุณาเลือก</option>
                                                <!-- <option value="1">ผู้ดูแลระบบ</option> -->
                                                <option value="0">ผู้ดูแลข้อมูล</option>
                                                <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                                    
                                                <option value="4">ผูัประมวนผลข้อมูล</option>
                                                <option value="2">ผู้ใช้งานทั่วไป</option>

                                                </select>
                                                <%}else{%>
                                                    <select class=" form-control border border-info" name="admin">
                                                    <option>กรุณาเลือก</option>
                                                    <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                           
                                                    <option value="4">ผูัประมวนผลข้อมูล</option>
                                                    <option value="2">ผู้ใช้งานทั่วไป</option>

                                                    </select>

                                                    <%}%>
                                </div>

                            </div><br>
                            <hr>

                        </div>
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary">การยืนยันตัวตน 2 ขั้นตอน</label>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 "></label>
                                    <div class="form-check col-sm-3">
                                        <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" disabled>
                                        <label class="form-check-label" for="otp_email">OTP By E-mail</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                        <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" disabled>
                                        <label class="form-check-label" for="otp_sms">OTP By SMS</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                        <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" checked>
                                        <label class="form-check-label" for="otp_2fa">OTP By Google Authenticator</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="form-check col-sm-9"></div>
                                    <div class="col-sm-3">
                                        <button type="button" onclick="google()" class="btn btn-warning waves-effect waves-light">แสดงรายละเอียด</button>
                                    </div>
                                </div>
                            </div><br>
                            <div class="mb-3 row">
                                <label class="col-sm-3 text-end control-label col-form-label text-secondary">การใช้งานการยืนยันตัวตน 2 ขั้นตอน</label>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 "></label>
                                    <div class="form-check col-sm-3">
                                        <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" checked>
                                        <label class="form-check-label" for="otp_login">Only Login</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                        <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" checked>
                                        <label class="form-check-label" for="otp_system">Setting System</label>
                                    </div>
                                </div>
                            </div><br>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-success waves-effect btn-lg waves-light">ยืนยัน</button>
                            </div>
                            <div class="col-sm-1">
                                <a href="/account/list"> <button type="button" class="btn btn-secondary btn-lg waves-effect waves-light">กลับ</button></a>
                            </div>
                            <div class="col-sm-5">
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <!-- Row -->


        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script src="/UI/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
            <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script>
                $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
                var radioswitch = function() {
                    var bt = function() {
                        $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioState")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                        })
                    };
                    return {
                        init: function() {
                            bt()
                        }
                    }
                }();
                $(document).ready(function() {
                    radioswitch.init()
                });
            </script>
            <script>
                function google(id) {
                    // alert(id)
                    let timerInterval
                    Swal.fire({
                        title: 'Google Authenticator Guide',
                        html: '<div class="card-body">' +
                            '<img src="/UI/assets/images/unnamed.png" width="80" height="80">' +
                            '<div class="card-body">' +
                            '<div class="row">' +
                            '<label class="text-secondary" > 1.ติดตั้ง Google Authenticator สำหรับ</label>' +
                            '<div class="col-sm-3"></div>' +
                            '<div class="col-sm-3">' +
                            '<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank"><img src="/UI/assets/images/google_play.png" width="50" height="50"></a>' +
                            '</div>' +
                            '<div class="col-sm-3">' +
                            '<a href="https://apps.apple.com/th/app/google-authenticator/id388497605?l=th" target="_blank"><img src="/UI/assets/images/App-Store-Logo.png" width="70" height="50"></a>' +
                            '</div>' +
                            '<div class="col-sm-3"></div>' +
                            '</div>' +
                            '<label class="text-secondary" >2.คลิกที่ <code> + </code> (Android) หรือ <code>BEGIN SETUP</code> (iOS) </label><br>' +
                            '<label class="text-secondary" >3.จำกนั้นเลือก <code>Scan a barcode</code> แล้วทำการแสกน QR Code ที่แสดงอยู่</label><br>' +
                            '<label class="text-secondary" >4.ระบบจะแสดงรหัส ตัวเลข 6 หลัก บนแอปพลิเคชัน Google Authenticator ของท่ำน</label><br>' +
                            '<label class="text-secondary" >4.ระบบจะแสดงรหัส ตัวเลข 6 หลัก บนแอปพลิเคชัน Google Authenticator ของท่ำน</label>' +
                            '</div>'
                    }).then((result) => {
                        // if (result.value) {
                        //     var request1 = function() {
                        //         console.log(id.split(',')[0]);
                        //         result["id"] = id.split(',')[0]
                        //         result["hostname"] = id.split(',')[1]
                        //         result["input_ip"] = id.split(',')[2]
                        //         result["type"] = id.split(',')[3]
                        //         $.ajax({
                        //             url: "http://119.81.44.155:8081/device/blocked/" + id.split(',')[0],
                        //             type: "post",
                        //             data: result,
                        //             success: function(data) {
                        //                 setInterval('location.reload()', 300);
                        //                 alert("ระงบอุปกรณ์ต้นทางเรียบร้อย")
                        //                 setInterval('location.reload()', 200);
                        //             }
                        //         });
                        //     }
                        //     request1();
                        // }
                    })
                }
            </script>
            <!--This page JavaScript -->