<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">รายชื่อผู้ใช้งาน</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index2">การจัดการผู้ใช้</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ข้อมูลผู้ใช้
                            </li>

                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                    </div>
                    <a href="/account/new"><button class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus fill-white feather-sm"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> เพิ่มผู้ใช้</button>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="border-bottom title-part-padding">
                                <h4 class="card-title">รายชื่อผู้ใช้งาน</h4>
                            </div>
                            <!-- <div class="col-md-6">
                                &nbsp;
                            </div> -->
                            <div class="card-body" style="min-height: 650px;">
                                <table class="tablesaw no-wrap table-striped table-bordered table-hover table" id="myTable">
                                    <thead>
                                        <tr>

                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3" class="border">ลำดับ</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist" class="border">ชื่อในระบบ</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2" class="border">สถานะ</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" class="border">ชื่อผู้ใช้งาน</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" class="border">รายละเอียด</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" class="border">ตำแหน่ง</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" class="border">แก้ไขผู้ใช้</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1" class="border">ลบผู้ใช้</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (data){ for (var i = 0; i < data.length; i++) { %>
                                            <tr>
                                                <td class="title align-top">
                                                    <%= (i+1) %>
                                                </td>
                                                <td class="align-top">
                                                    <div class="d-flex align-items-center">
                                                        <img src='/UI/image/<%= data[i].image%>' width="50" height="50">
                                                        <span class="ms-3 fw-normal"> <%= data[i].name%></span>
                                                    </div>
                                                </td>
                                                <td class="align-top">
                                                    <%if(data[i].admin == 1){%><span class="badge bg-light-info text-info fw-normal" style="font-size: medium;">ผู้ดูแลระบบ</span>
                                                        <%}else if(data[i].admin == 0) {%><span class="badge bg-light-success text-success fw-normal" style="font-size: medium;">ผู้ดูแลข้อมูล</span>
                                                            <%}else if(data[i].admin == 2) {%><span class="badge bg-light-secondary text-secondary fw-normal" style="font-size: medium;">ผู้ใช้งานทั่วไป</span>
                                                                <%}else if(data[i].admin == 3) {%><span class="badge bg-light-primary text-primary fw-normal" style="font-size: medium;">เจ้าหน้าที่คุ้มครองข้อมูล</span>
                                                                    <%}else if(data[i].admin == 4) {%><span class="badge bg-light-warning text-warning fw-normal" style="font-size: medium;">ผูัประมวนผลข้อมูล</span>
                                                                        <%}%>
                                                </td>
                                                <td class="align-top">
                                                    <%= data[i].username%>
                                                </td>
                                                <td class="align-top">
                                                    <%= data[i].descrip%>
                                                </td>
                                                <td>
                                                    <%= data[i].position%>
                                                </td>

                                                <td>
                                                    <!-- <a href="/account/edit/<%= data[i].acc_id %>"> -->
                                                    <button type="button" data-bs-toggle="modal" data-bs-target="#samedata-modal<%=i%>" data-bs-whatever="@mdo" class="btn btn-warning rounded px-4 waves-effect waves-light"> <i  style="font-size: 22px;" class="fas fa-edit"></i></button>
                                                    <!-- </a> -->
                                                </td>
                                                <td>
                                                    <!-- <a href="/account/delete/<%= data[i].acc_id %>"> -->
                                                    <button type="button" data-bs-toggle="modal" data-bs-target="#samedata2-modal<%=i%>" data-bs-whatever="@mdo" class="btn btn-danger rounded px-4 waves-effect waves-light"> <i style="font-size: 22px;" class="fas fa-trash-alt"></i>
                                                        </button>
                                                    <!-- </a> -->

                                                </td>
                                            </tr>
                                            <%  }} %>



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (data){ for (var i = 0; i < data.length; i++) { %>
            <div class="modal fade" id="samedata-modal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center">

                            <h4 class="card-title">รายละเอียดผู้ใช้
                                <%=data[i].name%>
                            </h4>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3 row">
                                    <label for="firstname" class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                    <div class="col-sm-6">
                                        <center class="mt-4"> <img src="/UI/image/<%=data[i].image%>" width="85" height="85" />
                                        </center><br>
                                    </div>
                                </div>
                                <hr><br>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">ชื่อผู้ใช้</label>
                                    <div class="col-sm-2">
                                        <label class="control-label col-form-label"><%=data[i].username%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">ชื่อ :</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].firstname%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">สกุล :</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].lastname%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">ตำแหน่ง :</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].position%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">อีเมล :</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].email%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์มือถือ :</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].phone%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-5 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์</label>
                                    <div class="col-sm-2">
                                        <label class="control-label col-form-label"><%=data[i].contact%></label>
                                    </div>
                                    <label class="col-sm-1 text-end control-label col-form-label text-secondary">ต่อ</label>
                                    <div class="col-sm-2">
                                        <label class="control-label col-form-label"><%=data[i].ext%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="port" class="col-sm-5 text-end control-label col-form-label text-secondary">ไลน์</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].line%></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="port" class="col-sm-5 text-end control-label col-form-label text-secondary">รายละเอียด</label>
                                    <div class="col-sm-5">
                                        <label class="control-label col-form-label"><%=data[i].descrip%></label>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3 row">
                                        <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">Muitifactor </label>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 "></label>
                                            <div class="form-check col-sm-3">
                                                <%if(data[i].otp_email == '1'){%>
                                                    <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" checked disabled>
                                                    <%}else{%>
                                                        <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" disabled>
                                                        <%}%>
                                                            <label class="form-check-label" for="otp_email">OTP By E-mail</label>
                                            </div>
                                            <div class="form-check col-sm-3">
                                                <%if(data[i].otp_sms == '1'){%>
                                                    <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" checked disabled>
                                                    <%}else{%>
                                                        <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" disabled>
                                                        <%}%>
                                                            <label class="form-check-label" for="otp_sms">OTP By SMS</label>
                                            </div>
                                            <div class="form-check col-sm-3">
                                                <%if(data[i].otp_2fa == '1'){%>
                                                    <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" checked disabled>
                                                    <%}else{%>
                                                        <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" disabled>
                                                        <%}%>
                                                            <label class="form-check-label" for="otp_2fa">OTP By Google Authenticator</label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-3 "></label>
                                            <div class="form-check col-sm-3">
                                                <%if(data[i].otp_login == '1'){%>
                                                    <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" checked disabled>
                                                    <%}else{%>
                                                        <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" disabled>
                                                        <%}%>
                                                            <label class="form-check-label" for="otp_login">Only Login</label>
                                            </div>
                                            <div class="form-check col-sm-3">
                                                <%if(data[i].otp_system == '1'){%>
                                                    <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" checked disabled>
                                                    <%}else{%>
                                                        <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" disabled>
                                                        <%}%>
                                                            <label class="form-check-label" for="otp_system">Setting System</label>
                                            </div>
                                        </div>
                                        <br>
                                    </div><br>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="/account/edit/<%= data[i].acc_id %>">
                                            <button type="button" class="btn btn-success waves-effect btn-lg waves-light">ยืนยัน</button>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-secondary waves-effect btn-lg waves-light" data-bs-dismiss="modal">ยกเลิก</button>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%  }} %>
                <% if (data){ for (var i = 0; i < data.length; i++) { %>
                    <div class="modal fade" id="samedata2-modal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header d-flex align-items-center">

                                    <h4 class="card-title">รายละเอียดผู้ใช้
                                        <%=data[i].name%>
                                    </h4>

                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3 row">
                                            <label for="firstname" class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                            <div class="col-sm-6">
                                                <center class="mt-4"> <img src="/UI/image/<%=data[i].image%>" width="85" height="85" />
                                                </center><br>
                                            </div>
                                        </div>
                                        <hr><br>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">ชื่อผู้ใช้</label>
                                            <div class="col-sm-2">
                                                <label class="control-label col-form-label"><%=data[i].username%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">ชื่อ :</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].firstname%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">สกุล :</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].lastname%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">ตำแหน่ง :</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].position%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">อีเมล :</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].email%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์มือถือ :</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].phone%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์</label>
                                            <div class="col-sm-2">
                                                <label class="control-label col-form-label"><%=data[i].contact%></label>
                                            </div>
                                            <label class="col-sm-1 text-end control-label col-form-label text-secondary">ต่อ</label>
                                            <div class="col-sm-2">
                                                <label class="control-label col-form-label"><%=data[i].ext%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="port" class="col-sm-5 text-end control-label col-form-label text-secondary">ไลน์</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].line%></label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="port" class="col-sm-5 text-end control-label col-form-label text-secondary">รายละเอียด</label>
                                            <div class="col-sm-5">
                                                <label class="control-label col-form-label"><%=data[i].descrip%></label>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3 row">
                                                <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">Muitifactor </label>
                                                <div class="mb-3 row">
                                                    <label class="col-sm-3 "></label>
                                                    <div class="form-check col-sm-3">
                                                        <%if(data[i].otp_email == '1'){%>
                                                            <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" checked disabled>
                                                            <%}else{%>
                                                                <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" disabled>
                                                                <%}%>
                                                                    <label class="form-check-label" for="otp_email">OTP By E-mail</label>
                                                    </div>
                                                    <div class="form-check col-sm-3">
                                                        <%if(data[i].otp_sms == '1'){%>
                                                            <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" checked disabled>
                                                            <%}else{%>
                                                                <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" disabled>
                                                                <%}%>
                                                                    <label class="form-check-label" for="otp_sms">OTP By SMS</label>
                                                    </div>
                                                    <div class="form-check col-sm-3">
                                                        <%if(data[i].otp_2fa == '1'){%>
                                                            <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" checked disabled>
                                                            <%}else{%>
                                                                <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" disabled>
                                                                <%}%>
                                                                    <label class="form-check-label" for="otp_2fa">OTP By Google Authenticator</label>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label class="col-sm-3 "></label>
                                                    <div class="form-check col-sm-3">
                                                        <%if(data[i].otp_login == '1'){%>
                                                            <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" checked disabled>
                                                            <%}else{%>
                                                                <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" disabled>
                                                                <%}%>
                                                                    <label class="form-check-label" for="otp_login">Only Login</label>
                                                    </div>
                                                    <div class="form-check col-sm-3">
                                                        <%if(data[i].otp_system == '1'){%>
                                                            <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" checked disabled>
                                                            <%}else{%>
                                                                <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" disabled>
                                                                <%}%>
                                                                    <label class="form-check-label" for="otp_system">Setting System</label>
                                                    </div>
                                                </div>
                                                <br>
                                            </div><br>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                            </div>
                                            <div class="col-sm-2">
                                                <a href="/account/delete/<%= data[i].acc_id %>">
                                                    <button type="button" class="btn btn-success waves-effect btn-lg waves-light">ยืนยัน</button>
                                                </a>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-secondary waves-effect btn-lg waves-light" data-bs-dismiss="modal">ยกเลิก</button>
                                            </div>
                                            <div class="col-sm-4">
                                            </div>
                                        </div>
                                        <br>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%  }} %>
                        <!--start overlay-->
                        <%- include('../_footer') -%>
                            <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
                            <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
                            <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
                            <script>
                                $(document).ready(function() {
                                    $('#myTable').DataTable();
                                });
                            </script>