<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">ลบข้อมูลผู้ใช้งาน</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index2">การจัดการผู้ใช้</a></li>
                            <li class="breadcrumb-item"><a href="/account/list">ข้อมูลผู้ใช้</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ลบข้อมูลผู้ใช้งาน
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body border-bottom">
                        <h4 class="card-title">ลบข้อมูลผู้ใช้งาน</h4>
                    </div>
                    <form action="/account/del/<%=data[0].acc_id%>" method="get">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="firstname" class="col-sm-3 text-end control-label col-form-label"></label>
                                <div class="col-sm-6">
                                    <center class="mt-4"> <img src="/UI/image/<%=data[0].image%>" class="profile-pic rounded-circle" width="250" height="250" />

                                    </center>
                                </div>
                            </div><br>
                            <hr><br>
                            <div class="mb-3 row">
                                <label for="firstname" class="col-sm-3 text-end control-label col-form-label">ชื่อ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="firstname" placeholder="ชื่อ" name="firstname" value="<%=data[0].firstname%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="lastname" class="col-sm-3 text-end control-label col-form-label">สกุล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="lastname" placeholder="สกุล" name="lastname" value="<%=data[0].lastname%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="name" class="col-sm-3 text-end control-label col-form-label">ชื่อในระบบ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="name" placeholder="ชื่อในระบบ" name="name" value="<%=data[0].name%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="position" class="col-sm-3 text-end control-label col-form-label" for="sender">ตำแหน่ง</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="position" placeholder="ตำแหน่ง" name="position" value="<%=data[0].position%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-3 text-end control-label col-form-label">อีเมล</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control border border-info" id="email" name="email" placeholder="example@email.com" value="<%=data[0].email%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="phone" class="col-sm-3 text-end control-label col-form-label">เบอร์โทรศัพท์มือถือ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="phone" name="phone" placeholder="01-23456789" value="<%=data[0].phone%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="contact" class="col-sm-3 text-end control-label col-form-label">เบอร์โทรศัพท์</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control border border-info" id="contact" name="contact" placeholder="00-000-000" value="<%=data[0].contact%>" readonly>
                                </div>
                                <label for="ext" class="col-sm-1 text-end control-label col-form-label">ต่อ</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control border border-info" id="ext" name="ext" placeholder="000" value="<%=data[0].ext%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="line" class="col-sm-3 text-end control-label col-form-label">ไลน์</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="line" name="line" placeholder="@LINE" value="<%=data[0].line%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="bd" class="col-sm-3 text-end control-label col-form-label">วันเดือนปีเกิด</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control border border-info " id="bd" name="bd" value="<%=data[0].bd%>" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="descrip" class="col-sm-3 text-end control-label col-form-label">รายละเอียด</label>
                                <div class="col-sm-6">
                                    <textarea type="text" rows="4" class="form-control border border-info " value="<%=data[0].descrip%>" placeholder="รายละเอียด" id="descrip" name="descrip" readonly></textarea> </div>
                            </div>
                            <hr>
                        </div>

                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="username" class="col-sm-3 text-end control-label col-form-label">ชื่อผู้ใช้</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="username" placeholder="ชื่อผู้ใช้" value="<%=data[0].username%>" name="username" readonly>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="col-sm-3 text-end control-label col-form-label" for="com3">รหัสผ่าน</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control border border-info" id="password" placeholder="รหัสผ่าน" name="password" value="pp999ppp" readonly>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">Muitifactor </label>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 "></label>
                                    <div class="form-check col-sm-3">
                                        <%if(data[0].otp_email == '1'){%>
                                            <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" checked>
                                            <%}else{%>
                                                <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email">
                                                <%}%>
                                                    <label class="form-check-label" for="otp_email">OTP By E-mail</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                        <%if(data[0].otp_sms == '1'){%>
                                            <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" checked>
                                            <%}else{%>
                                                <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms">
                                                <%}%>
                                                    <label class="form-check-label" for="otp_sms">OTP By SMS</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                        <%if(data[0].otp_2fa == '1'){%>
                                            <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" checked>
                                            <%}else{%>
                                                <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa">
                                                <%}%>
                                                    <label class="form-check-label" for="otp_2fa">OTP By Google Authenticator</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-sm-3 "></label>
                                    <div class="form-check col-sm-3">
                                        <%if(data[0].otp_login == '1'){%>
                                            <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" checked>
                                            <%}else{%>
                                                <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login">
                                                <%}%>
                                                    <label class="form-check-label" for="otp_login">Only Login</label>
                                    </div>
                                    <div class="form-check col-sm-3">
                                        <%if(data[0].otp_system == '1'){%>
                                            <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" checked>
                                            <%}else{%>
                                                <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system">
                                                <%}%>
                                                    <label class="form-check-label" for="otp_system">Setting System</label>
                                    </div>
                                </div>
                                <br>
                            </div><br>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-success waves-effect btn-lg waves-light">ยืนยัน</button>
                            </div>
                            <div class="col-sm-1">
                                <a href="/account/list"> <button type="button" class="btn btn-secondary btn-lg waves-effect waves-light">กลับ</button></a>
                            </div>
                            <div class="col-sm-5">
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <!-- Row -->


        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script>
                $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
                var radioswitch = function() {
                    var bt = function() {
                        $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioState")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                        })
                    };
                    return {
                        init: function() {
                            bt()
                        }
                    }
                }();
                $(document).ready(function() {
                    radioswitch.init()
                });
            </script>