<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">แก้ไขข้อมูลผู้ใช้งาน</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index2">การจัดการผู้ใช้</a></li>
                            <li class="breadcrumb-item"><a href="/account/list">ข้อมูลผู้ใช้</a></li>
                            <li class="breadcrumb-item active" aria-current="page">แก้ไขข้อมูลผู้ใช้งาน
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body border-bottom">
                        <h4 class="card-title">แก้ไขข้อมูลผู้ใช้งาน</h4>
                    </div>
                    <form action="/account/save/<%=data[0].acc_id%>" method="post" class="needs-validation" enctype="multipart/form-data">
                        <input type="hidden" value="<%=data[0].image%>" name="image">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="firstname" class="col-sm-3 text-end control-label col-form-label text-secondary"></label>
                                <div class="col-sm-6">
                                    <center class="mt-4"> <img src="/UI/image/<%=data[0].image%>" width="250" height="250" />
                                    </center><br>
                                    <input type="file" id="img" name="img" class="form-control" accept="image/*" multiple>

                                </div>
                            </div><br>
                            <hr><br>
                            <div class="mb-3 row">
                                <label for="firstname" class="col-sm-3 text-end control-label col-form-label text-secondary ">ชื่อ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="firstname" placeholder="ชื่อ" name="firstname" value="<%=data[0].firstname%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="lastname" class="col-sm-3 text-end control-label col-form-label text-secondary">สกุล</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="lastname" placeholder="สกุล" name="lastname" value="<%=data[0].lastname%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="name" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อในระบบ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="name" placeholder="ชื่อในระบบ" name="name" value="<%=data[0].name%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="position" class="col-sm-3 text-end control-label col-form-label text-secondary" for="sender">ตำแหน่ง</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="position" placeholder="ตำแหน่ง" name="position" value="<%=data[0].position%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="email" class="col-sm-3 text-end control-label col-form-label text-secondary">อีเมล</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control border border-info" id="email" name="email" placeholder="example@email.com" value="<%=data[0].email%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="phone" class="col-sm-3 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์มือถือ</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="phone" name="phone" placeholder="01-23456789" value="<%=data[0].phone%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="contact" class="col-sm-3 text-end control-label col-form-label text-secondary">เบอร์โทรศัพท์</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control border border-info" id="contact" name="contact" placeholder="00-000-000" value="<%=data[0].contact%>" required>
                                </div>
                                <label for="ext" class="col-sm-1 text-end control-label col-form-label">ต่อ</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control border border-info" id="ext" name="ext" placeholder="000" value="<%=data[0].ext%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="line" class="col-sm-3 text-end control-label col-form-label text-secondary">ไลน์</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="line" name="line" placeholder="@LINE" value="<%=data[0].line%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="bd" class="col-sm-3 text-end control-label col-form-label text-secondary">วันเดือนปีเกิด</label>
                                <div class="col-sm-4">
                                    <input type="date" class="form-control border border-info" id="bd" name="bd" value="<%=data[0].bd%>" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="descrip" class="col-sm-3 text-end control-label col-form-label text-secondary">รายละเอียด</label>
                                <div class="col-sm-6">
                                    <textarea type="text" rows="4" class="form-control border border-info " value="<%=data[0].descrip%>" placeholder="รายละเอียด" id="descrip" name="descrip"></textarea> </div>
                            </div>
                            <hr>
                        </div>

                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="username" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อผู้ใช้</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control border border-info" id="username" placeholder="ชื่อผู้ใช้" value="<%=data[0].username%>" name="username" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com3">รหัสผ่าน</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control border border-info" id="password" placeholder="รหัสผ่าน" name="password" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">ยืนยันรหัสผ่าน</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control border border-info" id="confirmpassword" placeholder="ยืนยันรหัสผ่าน" required>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="card-body">
                            <div class="mb-3 row">
                                <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">ประเภทของผู้ใช้งาน</label>

                                <div class="col-sm-3">
                                    <%if((data4[0].num_admin-data1.length)>0 && (data4[0].num_user-data2.length)>0){%>
                                        <select class=" form-control border border-info" name="admin">
                                            <%if(data[0].admin == '1'){%>
                                                <option value="1">ผู้ดูแลระบบ</option>
                                        <%}else if(data[0].admin == '0'){%>
                                                    <option value="0">ผู้ดูแลข้อมูล</option>
                                            <%}else if(data[0].admin == '2'){%>
                                                        <option value="2">ผู้ใช้งานทั่วไป</option>
                                                <%}else if(data[0].admin == '3'){%>
                                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>
                                                    <%}else if(data[0].admin == '4'){%>
                                                                <option value="4">ผูัประมวนผลข้อมูล</option>
                                                        <%}%>
                                                            <option value="1">ผู้ดูแลระบบ</option>
                                                            <option value="0">ผู้ดูแลข้อมูล</option>
                                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>
                                                            <option value="4">ผูัประมวนผลข้อมูล</option>
                                                            <option value="2">ผู้ใช้งานทั่วไป</option>

                                                            </select>
                                        <%}else if ((data4[0].num_admin-data1.length)>0 && (data4[0].num_user-data2.length) <=0){%>
                                            <select class=" form-control border border-info" name="admin">
                                                <%if(data[0].admin == '1'){%>
                                                    <option value="1">ผู้ดูแลระบบ</option>
                                            <%}else if(data[0].admin == '0'){%>
                                                        <option value="0">ผู้ดูแลข้อมูล</option>
                                                <%}else if(data[0].admin == '2'){%>
                                                            <option value="2">ผู้ใช้งานทั่วไป</option>
                                                    <%}else if(data[0].admin == '3'){%>
                                                                <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>
                                                        <%}else if(data[0].admin == '4'){%>
                                                                    <option value="4">ผูัประมวนผลข้อมูล</option>
                                                            <%}%>
                                            <option value="1">ผู้ดูแลระบบ</option>
                                            <!-- <option value="0">ผู้ดูแลข้อมูล</option> -->
                                            <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                                   
                                            <option value="4">ผูัประมวนผลข้อมูล</option>
                                            <option value="2">ผู้ใช้งานทั่วไป</option>

                                            </select>
                                            <%}else if ((data4[0].num_admin-data1.length)<=0 && (data4[0].num_user-data2.length)>0){%>
                                                <select class=" form-control border border-info" name="admin">
                                                    <%if(data[0].admin == '1'){%>
                                                        <option value="1">ผู้ดูแลระบบ</option>
                                                <%}else if(data[0].admin == '0'){%>
                                                            <option value="0">ผู้ดูแลข้อมูล</option>
                                                    <%}else if(data[0].admin == '2'){%>
                                                                <option value="2">ผู้ใช้งานทั่วไป</option>
                                                        <%}else if(data[0].admin == '3'){%>
                                                                    <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>
                                                            <%}else if(data[0].admin == '4'){%>
                                                                        <option value="4">ผูัประมวนผลข้อมูล</option>
                                                                <%}%>                                                <!-- <option value="1">ผู้ดูแลระบบ</option> -->
                                                <option value="0">ผู้ดูแลข้อมูล</option>
                                                <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                                    
                                                <option value="4">ผูัประมวนผลข้อมูล</option>
                                                <option value="2">ผู้ใช้งานทั่วไป</option>

                                                </select>
                                                <%}else{%>
                                                    <select class=" form-control border border-info" name="admin">
                                                        <%if(data[0].admin == '1'){%>
                                                            <option value="1">ผู้ดูแลระบบ</option>
                                                    <%}else if(data[0].admin == '0'){%>
                                                                <option value="0">ผู้ดูแลข้อมูล</option>
                                                        <%}else if(data[0].admin == '2'){%>
                                                                    <option value="2">ผู้ใช้งานทั่วไป</option>
                                                            <%}else if(data[0].admin == '3'){%>
                                                                        <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>
                                                                <%}else if(data[0].admin == '4'){%>
                                                                            <option value="4">ผูัประมวนผลข้อมูล</option>
                                                                    <%}%>
                                                    <option value="3">เจ้าหน้าที่คุ้มครองข้อมูล</option>                                           
                                                    <option value="4">ผูัประมวนผลข้อมูล</option>
                                                    <option value="2">ผู้ใช้งานทั่วไป</option>

                                                    </select>

                                                    <%}%>
                                </div>
                            </div>
                            <br>

                            <div class="card-body">
                                <div class="mb-3 row">
                                    <label for="confirmpassword" class="col-sm-3 text-end control-label col-form-label text-secondary" for="com4">Muitifactor </label>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3 "></label>
                                        <div class="form-check col-sm-3">
                                            <%if(data[0].otp_email == '1'){%>
                                                <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email" checked>
                                                <%}else{%>
                                                    <input type="checkbox" class="form-check-input" id="otp_email" name="otp_email">
                                                    <%}%>
                                                        <label class="form-check-label" for="otp_email">OTP By E-mail</label>
                                        </div>
                                        <div class="form-check col-sm-3">
                                            <%if(data[0].otp_sms == '1'){%>
                                                <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms" checked>
                                                <%}else{%>
                                                    <input type="checkbox" class="form-check-input" id="otp_sms" name="otp_sms">
                                                    <%}%>
                                                        <label class="form-check-label" for="otp_sms">OTP By SMS</label>
                                        </div>
                                        <div class="form-check col-sm-3">
                                            <%if(data[0].otp_2fa == '1'){%>
                                                <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa" checked>
                                                <%}else{%>
                                                    <input type="checkbox" class="form-check-input" id="otp_2fa" name="otp_2fa">
                                                    <%}%>
                                                        <label class="form-check-label" for="otp_2fa">OTP By Google Authenticator</label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-3 "></label>
                                        <div class="form-check col-sm-3">
                                            <%if(data[0].otp_login == '1'){%>
                                                <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login" checked>
                                                <%}else{%>
                                                    <input type="checkbox" class="form-check-input" id="otp_login" name="otp_login">
                                                    <%}%>
                                                        <label class="form-check-label" for="otp_login">Only Login</label>
                                        </div>
                                        <div class="form-check col-sm-3">
                                            <%if(data[0].otp_system == '1'){%>
                                                <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system" checked>
                                                <%}else{%>
                                                    <input type="checkbox" class="form-check-input" id="otp_system" name="otp_system">
                                                    <%}%>
                                                        <label class="form-check-label" for="otp_system">Setting System</label>
                                        </div>
                                    </div>
                                    <br>
                                </div><br>
                                <hr>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success rounded-pill px-4 waves-effect waves-light">ยืนยัน</button>
                            </div>
                            <div class="col-sm-4">
                                <a href="/account/list"> <button type="button" class="btn btn-secondary rounded-pill px-4 waves-effect waves-light">กลับ</button></a>
                            </div>
                        </div>
                        <br> -->
                        <div class="row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-success waves-effect btn-lg waves-light">ยืนยัน</button>
                            </div>
                            <div class="col-sm-1">
                                <a href="/account/list"> <button type="button" class="btn btn-secondary btn-lg waves-effect waves-light">กลับ</button></a>
                            </div>
                            <div class="col-sm-5">
                            </div>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <!-- Row -->


        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script>
                $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
                var radioswitch = function() {
                    var bt = function() {
                        $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioState")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                        })
                    };
                    return {
                        init: function() {
                            bt()
                        }
                    }
                }();
                $(document).ready(function() {
                    radioswitch.init()
                });
            </script>