<%- include ("../../../_header") %>


    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">รับเรื่องร้องเรียน</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">รับเรื่องร้องเรียน</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!---------------------------    รับเรื่องร้องเรียน (chart)  ------------------------------->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">Line Chart</h4>

                    </div>
                    <div class="card-body">
                        <div>
                            <canvas id="line-chart" height="130"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">pie-chart</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <canvas id="pie-chart-appeal" height="130"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">รับเรื่องร้องเรียน</h4>
            </div>
            <div class="card-body">
                <div class="row pb-3">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#add-appeal-modal"><i class="fas fa-plus"></i>
                            เพิ่มร้องเรียน</button>
                    </div>
                    <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" id="reface"><i data-feather="refresh-cw"></i></a>
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                id="Srearch" aria-describedby="button-addon2">
                            <button class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <!---------------------------  table setdate  ---------------------------->
                <div style="min-height: 470px;" class="table-responsive">
                    <div id="table_Data-appeal">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <!-- </div> -->

        <!-- Modal appeal  -->
        <div class="modal fade" id="add-appeal-modal" tabindex="-1" aria-labelledby="bs-example-modal-lg"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-bottom">
                        <h4 class="modal-title" id="exampleModalLabel1"><i class="fa-solid fa-comment-medical"></i>
                            รับเรื่องร้องเรียน</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="position-relative p-3 border overflow-auto" style="height: 700px;" data-bs-spy="scroll"
                        data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                        <form action="/save/appeal" method="post">
                            <!-- <form id="ajaxtest"> -->
                            <div class="modal-body">
                                <div class="d-flex mb-3">
                                    <div class="col-md-6 justify-content-start align-self-center d-none d-md-flex">
                                        <h5 for="recipient-name" class="control-label">วันที่ร้องเรียน</h5>
                                        <input type="date" style="margin-left: 2%;width: 50%;" name="appeal_date"
                                            id="date" class="form-control">
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <div class="col align-items-center d-none d-md-flex">
                                        <h6 for="message-text" class="control-label">ช่องทางการรับเรื่องร้องเรียน</h6>
                                        <b class="badge bg-secondary"
                                            style="margin-left: 1%;margin-right: 1%;">E-nmail</b>
                                        <input type="text" name="appeal_email" class="form-control">
                                    </div>
                                </div>
                                <div class="d-flex mb-1">
                                    <div class="col justify-content-start align-items-center d-none d-md-flex">
                                        <h6>ชื่อผู้ร้อง</h6>
                                        <select id="cars" style="width: 10%;margin-left: 1%;margin-right: 1%;"
                                            class="form-control" name="appeal_prefix">
                                            <option value="นาย">นาย</option>
                                            <option value="นาง">นาง</option>
                                            <option value="นางสาว">นางสาว</option>
                                        </select>
                                        <input type="text" name="appeal_firstname" placeholder="ชื่อ"
                                            class="form-control" style="width:35%;">
                                        <h6 style="margin-left: 1%;margin-right: 1%;">นามสกุล</h6>
                                        <input type="text" name="appeal_lastname" placeholder="นามสกุล"
                                            class="form-control" style="width: 40%;">
                                    </div>
                                </div>
                                <div class="d-flex mb-1">
                                    <div class="col justify-content-start align-items-center d-none d-sm-flex">
                                        <h6>ที่อยู่</h6>
                                        <input type="text" name="appeal_address" id=""
                                            style="margin-left:1%;width: 90%;" class="form-control">
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col justify-content-start align-items-center d-none d-md-flex">
                                        <h6>ช่องทางติดต่อกลับ</h6>
                                        <b class="badge bg-secondary"
                                            style="margin-left: 1%;margin-right: 1%;">E-nmail</b>
                                        <input type="text" name="appeal_contact" class="form-control"
                                            style="width: 55%;margin-left: 1%;margin-right: 1%;">
                                        <h6> + เพิ่มช่องทางติดต่อ</h6>
                                    </div>
                                </div>

                                <h6 class="mt-1">สิทธิการร้องเรียนของผู้ร้องเรียน</h6>
                                <div style="font-size: small;color: black;">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_revoke" value="1"
                                            id="flexCheckDefault_1">
                                        <label class="form-check-label" for="flexCheckDefault_1">
                                            การเพิกถอนความยินยอม
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_access" value="1"
                                            id="flexCheckDefault_2">
                                        <label class="form-check-label" for="flexCheckDefault_2">
                                            การเข้าถึงข้อมูลส่วนบุคคล
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_edit_information"
                                            value="1" id="flexCheckDefault_3">
                                        <label class="form-check-label" for="flexCheckDefault_3">
                                            การเเก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_delet_information"
                                            value="1" id="flexCheckDefault_4">
                                        <label class="form-check-label" for="flexCheckDefault_4">
                                            การลบข้อมูลส่วนบุคคล
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_suspend" value="1"
                                            id="flexCheckDefault_5">
                                        <label class="form-check-label" for="flexCheckDefault_5">
                                            การระงับการประมวลผลข้อมูล
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_transfer" value="1"
                                            id="flexCheckDefault_6">
                                        <label class="form-check-label" for="flexCheckDefault_6">
                                            การให้โอนย้ายข้อมูลส่วนบุคคล
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_oppose" value="1"
                                            id="flexCheckDefault_7">
                                        <label class="form-check-label" for="flexCheckDefault_7">
                                            การคัดค้านการประมวลผลข้อมูล
                                        </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_decision" value="1"
                                            id="flexCheckDefault_8">
                                        <label class="form-check-label" for="flexCheckDefault_8">
                                            การไม่ตกอยู่ภายใต้การสินใจอัตโตโนมัตเพียงอย่างเดียว
                                        </label>
                                    </div>
                                </div>
                                <!-- รายละเอียดร้องเรียน -->
                                <div class="col mt-2" style="font-size: small;color: black;">
                                    <b>
                                        รายละเอียดร้องเรียน
                                    </b>
                                    <textarea name="appeal_detail" rows="3" style="width: 100%;"
                                        class="form-control"></textarea>
                                </div>
                                <!-- เเบบฟอร์มการปฏิเสธเรื่องร้องเรียน -->
                                <div class="mt-2">
                                    <div style="font-size: small;color: black;">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="appeal_approved_complaint" value="1" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                อนุมัติตามคำร้องเรียน
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="appeal_approved_complaint" value="0" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                ปฏิเสธเรื่องร้องเรียน
                                            </label>
                                        </div>
                                    </div>
                                    <div style="font-size: small;">
                                        <table class="table  table-bordered">
                                            <tr class="table-success">
                                                <td rowspan="2" style="width: 20%;text-align: center;">
                                                    <b>
                                                        <h5>สิทธิ</h5>
                                                    </b>
                                                </td>
                                                <th colspan="11" scope="colgroup" class="text-center">
                                                    <h5>เหตุเเห่งการปฏิเสธการปฏิบัติตามคำร้องของเจ้าของข้อมูล</h5>
                                                </th>
                                            </tr>
                                            <tr class="table-success" style="font-size: 10px;">
                                                <th>คำขอไม่สมเหตุนสมผล</th>
                                                <th>คำขอไม่สมเหตุผล</th>
                                                <th>เจ้าของข้อมูลมีข้อมูลอยุ่เเล้ว</th>
                                                <th>เก็บเพื่อเสรีภาพในการเเสดงความคิดเห็น</th>
                                                <th>เกี่ยวกับการทำจามสัญญา</th>
                                                <th>กฏหมายอนุญาต</th>
                                                <th>เกิดผลด้านลบเเก่บุคคลอื่น</th>
                                                <th>จำเป็นสำหรับการประมวลผล</th>
                                                <th>ประโยชน์สาธารณะหรืออำนาจรัฐหรือหน้าที่ตามกฏหมาย</th>
                                                <th>ก่อตั้งใช้หรือป้องกันสิทธิทางกฏหมาย</th>
                                                <th>ประโยชน์โดยชอบด้วยกฏหมาย</th>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">1.การเพิกถอนความยินยอม</th>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>

                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">2.การเข้าถึงข้อมูลส่วนบุคคล</th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">3.การเเก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง
                                                </th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">4.การลบข้อมูลส่วนบุคคล</th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">5.การระงับการประมวลผลข้อมูล</th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">6.การให้โอนย้ายข้อมูลส่วนบุคคล</th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">7.การคัดค้านการประมวลผลข้อมูล</th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                            </tr>

                                            <tr class="text-center">
                                                <th scope="row" class="text-start">
                                                    8.การไม่ตกอยู่ภายใต้การสินใจอัตโตโนมัตเพียงอย่างเดียว</th>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td><i class="fas fa-check" style="color: green;"></i></td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                                <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <h6>สรุปการร้องเรียนรายละเอียด</h6>
                                        <textarea name="appeal_detail_summary" rows="2" style="width: 100%;"
                                            class="form-control"></textarea>
                                    </div>
                                </div>

                                <!-- <div class="row mt-3">
                                    <div class="col-md-6">
                                        <h6> ค้นหาข้อมูลจากข้อมูลส่วนบุคคลทั้งหมด</h6>
                                    </div>
                                    <div class="col-md-6 justify-content-start align-self-center d-block d-md-flex">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label=""
                                                value="" id="Srearch_personal" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div>
                            <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                <h6> ค้นหาข้อมูลจากข้อมูลส่วนบุคคลทั้งหมด</h6>
                                <input type="text" name="" id="" style="margin-left: 1%;height: 23px;width: 30%;">
                            </div>
                        </div> -->

                                <!-- <div class="responsive mt-3">
                                    <table class="table-striped table-bordered table-hover table"
                                        style="font-size: small;color: black;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    ข้อมูลส่วนบุคคล
                                                </th>
                                                <th>
                                                    ความสำคัญ
                                                </th>
                                                <th>
                                                    เอกสาร
                                                </th>
                                                <th>
                                                    ข้อมูลจัดเก็บ
                                                </th>
                                                <th>
                                                    วันเริ่มเก็บ
                                                </th>
                                                <th>
                                                    เสร็จสิ้น
                                                </th>
                                                <th>
                                                    consent
                                                </th>
                                                <th>
                                                    Unconsent
                                                </th>
                                                <th>
                                                    ประวัติ
                                                </th>
                                                <th>
                                                    เเซร์
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> -->

                            </div>
                            <div class="modal-footer" style="justify-content: center;">
                                <button type="submit" class="btn btn-success">บันทึกข้อมูล</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .td {
                border: none;
            }
        </style>
        <script src="../../dist/js/views_js/appeal/appeal.js"></script>


        <%- include ("../../../_footer") %>