<%- include ("../../../_header") %>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ดูข้อมูลรับเรื่องร้องเรียน</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">ดูข้อมูลรับเรื่องร้องเรียน</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <h4>อนุมัติ/ปฏิเสธเรื่องร้องเรียน</h4>
                        <table class="table">
                            <tr>
                                <td style="width: 30%;" class="td">
                                    <b>วันที่ร้องเรียน</b>
                                </td>
                                <td class="td">
                                    <%=pdpa_appeal[0].appeal_date%>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 30%;" class="td">
                                    <b>ช่องทางการรับเรื่องร้องเรียน</b>
                                </td>
                                <td class="td">
                                    <% if (pdpa_appeal[0].appeal_email) {%>
                                        <%=pdpa_appeal[0].appeal_email%>
                                            <%}else{ %>
                                                -
                                                <%}%>
                                </td>
                            </tr>
                            <tr>
                                <td class="td">
                                    <b>ชื่อผู้ร้อง นามสกุล</b>
                                </td>
                                <td class="td">
                                    <%=pdpa_appeal[0].appeal_prefix%>
                                        <%=pdpa_appeal[0].appeal_firstname%>
                                            <%=pdpa_appeal[0].appeal_lastname%>
                                </td>
                            </tr>
                            <tr>
                                <td class="td">
                                    <b>ที่อยู่</b>
                                </td>
                                <td class="td">
                                    <%=pdpa_appeal[0].appeal_address%>
                                </td>
                            </tr>
                            <tr>
                                <td class="td">
                                    <b>
                                        ช่องทางติดต่อกลับ
                                    </b>
                                </td>
                                <td class="td">
                                    <%=pdpa_appeal[0].appeal_contact%>
                                </td>
                            </tr>
                            <tr>
                                <td class="td">
                                    <b>
                                        รายละเอียดร้องเรียน
                                    </b>
                                </td>
                                <td class="td">
                                    <%=pdpa_appeal[0].appeal_detail%>
                                </td>
                            </tr>
                            <tr>
                                <td class="td">
                                    <b>
                                        สรุปการร้องเรียนรายละเอียด
                                    </b>
                                </td>
                                <td class="td">
                                    <%=pdpa_appeal[0].appeal_detail_summary%>
                                </td>
                            </tr>
                            <tr>
                                <td class="td">
                                    <b>
                                        สิทธิการร้องเรียนของผู้ร้องเรียน
                                    </b>
                                </td>
                                <td class="td">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="appeal_revoke" disabled
                                            <%if(pdpa_appeal[0].appeal_revoke==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label">
                                                การเพิกถอนความยินยอม
                                            </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" name="appeal_access"
                                            disabled <%if(pdpa_appeal[0].appeal_access==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label" for="flexCheckDefault_2">
                                                การเข้าถึงข้อมูลส่วนบุคคล
                                            </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" disabled
                                            name="appeal_edit_information"
                                            <%if(pdpa_appeal[0].appeal_edit_information==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label">
                                                การเเก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง
                                            </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" disabled
                                            name="appeal_delet_information"
                                            <%if(pdpa_appeal[0].appeal_delet_information==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label" for="flexCheckDefault_4">
                                                การลบข้อมูลส่วนบุคคล
                                            </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" name="appeal_suspend"
                                            disabled <%if(pdpa_appeal[0].appeal_suspend==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label" for="flexCheckDefault_5">
                                                การระงับการประมวลผลข้อมูล
                                            </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" disabled
                                            name="appeal_transfer" <%if(pdpa_appeal[0].appeal_transfer==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label" for="flexCheckDefault_6">
                                                การให้โอนย้ายข้อมูลส่วนบุคคล
                                            </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" name="appeal_oppose"
                                            disabled <%if(pdpa_appeal[0].appeal_oppose==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label" for="flexCheckDefault_7">
                                                การคัดค้านการประมวลผลข้อมูล
                                            </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input value_view" type="checkbox" disabled
                                            name="appeal_decision" <%if(pdpa_appeal[0].appeal_decision==1){%>
                                        checked
                                        <%}%>>
                                            <label class="form-check-label" for="flexCheckDefault_8">
                                                การไม่ตกอยู่ภายใต้การสินใจอัตโตโนมัตเพียงอย่างเดียว
                                            </label>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="td">
                                    <b>
                                        อนุมิติ/ปฏิเสธเรื่องร้องเรียน
                                    </b>
                                </td>
                                <td class="td">
                                    <%if(pdpa_appeal[0].appeal_approved_complaint==0){%>
                                        <b class="text-warning">รออนุมัติ</b>
                                        <%}else{%>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input value_view" type="radio" disabled
                                                    name="appeal_approved_complaint"
                                                    <%if(pdpa_appeal[0].appeal_approved_complaint==1){%>
                                                checked
                                                <%}%>>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        อนุมัติตามคำร้องเรียน
                                                    </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input value_view" type="radio" disabled
                                                    name="appeal_approved_complaint"
                                                    <%if(pdpa_appeal[0].appeal_approved_complaint==2){%>
                                                checked
                                                <%}%>>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        ปฏิเสธเรื่องร้องเรียน
                                                    </label>
                                            </div>
                                            <%}%>
                                </td>
                            </tr>
                        </table>
                        <div style="font-size: medium;">
                            <table class="table table-bordered">
                                <tr class="table-success">
                                    <td rowspan="2" style="width: 20%;text-align: center;">
                                        <b>
                                            <h5>สิทธิ</h5>
                                        </b>
                                    </td>
                                    <th colspan="11" scope="colgroup" class="text-center">
                                        <h5>เหตุเเห่งการปฏิเสธการปฏิบัติตามคำร้องของเจ้าของข้อมูล</h5>
                                    </th>
                                </tr>
                                <tr class="table-success" style="font-size: small;">
                                    <th>คำขอไม่สมเหตุนสมผล</th>
                                    <th>คำขอไม่สมเหตุผล</th>
                                    <th>เจ้าของข้อมูลมีข้อมูลอยุ่เเล้ว</th>
                                    <th>เก็บเพื่อเสรีภาพในการเเสดงความคิดเห็น</th>
                                    <th>เกี่ยวกับการทำจามสัญญา</th>
                                    <th>กฏหมายอนุญาต</th>
                                    <th>เกิดผลด้านลบเเก่บุคคลอื่น</th>
                                    <th>จำเป็นสำหรับการประมวลผล</th>
                                    <th>ประโยชน์สาธารณะหรืออำนาจรัฐหรือหน้าที่ตามกฏหมาย</th>
                                    <th>ก่อตั้งใช้หรือป้องกันสิทธิทางกฏหมาย</th>
                                    <th>ประโยชน์โดยชอบด้วยกฏหมาย</th>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">1.การเพิกถอนความยินยอม</th>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>

                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">2.การเข้าถึงข้อมูลส่วนบุคคล</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">3.การเเก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">4.การลบข้อมูลส่วนบุคคล</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">5.การระงับการประมวลผลข้อมูล</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">6.การให้โอนย้ายข้อมูลส่วนบุคคล</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">7.การคัดค้านการประมวลผลข้อมูล</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                </tr>

                                <tr class="text-center">
                                    <th scope="row" class="text-start">
                                        8.การไม่ตกอยู่ภายใต้การสินใจอัตโตโนมัตเพียงอย่างเดียว</th>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td><i class="fas fa-check" style="color: green;"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                    <td style="background-color: #f2be79"><i class="fa-solid fa-xmark"></i></td>
                                </tr>
                            </table>
                        </div>
                        <!-- <button type="submit" class="btn btn-success" value="<%=pdpa_appeal[0].id_ap%>"
                                        onclick="approve('<%=pdpa_appeal[0].id_ap%>')">อนุมัติ</button> -->
                        <div style="justify-content: center;text-align: center;">
                            <%if(pdpa_appeal[0].appeal_approved_complaint==0){%>
                                <button type="submit" class="btn btn-success " id="approve"
                                    value="<%=pdpa_appeal[0].id_ap%>">อนุมัติ</button>

                                <button type="button" class="btn btn-danger" id="deny"
                                    value="<%=pdpa_appeal[0].id_ap%>">ปฏิเสธ</button>
                                <%}%>
                                    <a href="/appeal" class="btn btn-secondary">กลับ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <style>
        .td {
            border: none;
        }
    </style>
    <script src="../../dist/js/views_js/appeal/appeal_information.js"></script>

    <%- include ("../../../_footer") %>