<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-12 align-self-center">
                <h3 class="page-title">กำหนดรูปแบบข้อมูล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าแรก</a></li>
                            <li class="breadcrumb-item"><a href="javascrip:void(0);">การป้องกันข้อมูลสู่ภายนอก
                                    (Export)</a></li>
                            <li class="breadcrumb-item"><a href="/classification">ค้นหาข้อมูลและจัดการประเภท
                                    (Classification)</a></li>
                            <li class="breadcrumb-item active" aria-current="page">รายละเอียดของประเภท <%=
                                    classify[0].classify_name %>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="detail">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">รายละเอียดของประเภท <%= classify[0].classify_name %><span
                                    class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- Method 1 -->
                                <p class="h5 font-bold">ประเภทตามข้อมูลที่กำหนดไว้แล้ว (Pattern)</p>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern"> ตัวเลือก: </td>
                                    <td><a href="/pattern/detail<%= classify[0].pattern_id %>">ดูรายละเอียดของ
                                            Pattern</a></td>
                                </table><br />
                                <!-- Method 2 -->
                                <p class="h5 font-bold ">สร้างรูปแบบจัดเก็บข้อมูลส่วนบุคคล</p>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> ชื่อกิจกรรมการประมวล: </td>
                                    <td><%= classify[0].event_process_name%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2">
                                        อธิบายความจำเป็นที่ต้องนำข้อมูลส่วนบุคคลไปใช้ในกิจกรรมนี้ (ประมวลผล): </td>
                                    <td style="vertical-align: middle;"><% if(classify[0].classify_explain_process != null && classify[0].classify_explain_process != ""){%><%= classify[0].classify_explain_process%><%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> ผู้ใช้งาน/ผู้เข้าถึงข้อมูล
                                        <br />ประมวลผลนี้
                                    </td>
                                    <td><span class="h5">ภายใน: </span> <% if(classify[0].classify_user_access_info_process_inside == "1"){%>
                                        <span class="span-table-boolean-true"> มี </span> /
                                        <span class="span-member"> (สมาชิกจำนวน: </span><% if(classify[0].classify_user_access_info_process_inside_from_new_total != null && classify[0].classify_user_access_info_process_inside_from_new_total != "" && classify[0].classify_user_access_info_process_inside_from_new_total != 0){%><%= classify[0].classify_user_access_info_process_inside_from_new_total %><%}else{%><span class="span-table-boolean-false">ไม่มี</span><%}%> คน)<br/>
                                        <span class='span-member-detail'>รายชื่อ </span><% if(classify[0].classify_user_access_info_process_inside_from_new_id != null && classify[0].classify_user_access_info_process_inside_from_new_id != ""){%><span style="font-size: 40px; vertical-align: -12%;">[</span><% for (var i=0;i<users.length;i++) { if((i+1) != users.length){%><img src="/UI/assets/images/users/<%=users[i].image%>" class="image-users" ><span style="vertical-align: middle;"> <%=users[i].name%>/ </span><%}else{%><img src="/UI/assets/images/users/<%=users[i].image%>" class="image-users" ><span style="vertical-align: middle;"> <%=users[i].name%></span><%}}%><span style="font-size: 40px; vertical-align: -12%;">]</span><%}else{%><span style="font-size: 40px; vertical-align: -12%;">[</span><span class="span-table-boolean-false">ไม่มี</span><span style="font-size: 40px; vertical-align: -12%;">]</span><%}%>
                                        <%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%>
                                        <br/> 
                                        <span class="h5">ภายนอก: </span> <% if(classify[0].classify_user_access_info_process_outside == "1"){%>
                                        <span class="span-table-boolean-true"> มี </span> / 
                                        <span class="span-member"> (สมาชิกจำนวน: </span><% if(classify[0].classify_user_access_info_process_outside_from_new_total != null && classify[0].classify_user_access_info_process_outside_from_new_total != "" && classify[0].classify_user_access_info_process_outside_from_new_total != 0){%><%= classify[0].classify_user_access_info_process_outside_from_new_total %><%}else{%><span class="span-table-boolean-false">ไม่มี</span><%}%> คน)<br/>
                                        <span class='span-member-detail'>รายชื่อ </span><% if(classify[0].classify_user_access_info_process_outside_from_new_id != null && classify[0].classify_user_access_info_process_outside_from_new_id != ""){%><span style="font-size: 40px; vertical-align: -12%;">[</span><% for (var i=0;i<users_outside.length;i++) { if((i+1) != users_outside.length){%><img src="/UI/assets/images/users/<%=users_outside[i].image%>" class="image-users" ><span style="vertical-align: middle;"> <%=users_outside[i].name%>/ </span><%}else{%><img src="/UI/assets/images/users/<%=users_outside[i].image%>" class="image-users" ><span style="vertical-align: middle;"> <%=users_outside[i].name%></span><%}}%><span style="font-size: 40px; vertical-align: -12%;">]</span><%}else{%><span style="font-size: 40px; vertical-align: -12%;">[</span><span class="span-table-boolean-false">ไม่มี</span><span style="font-size: 40px; vertical-align: -12%;">]</span><%}%>
                                        <%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> ระยะเวลาการประมวลผล: </td>
                                    <td><%= classify[0].classify_period_process %> &nbsp;[ตามระยะเวลาจัดเก็บ (Policy): <%if (classify[0].classify_period_proccess_follow_policy == 1){%><%= classify[0].classify_period_proccess_follow_policy_total%> วัน<%}else{%><span class="span-table-boolean-false">ไม่มี</span><%}%>]</td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> ระยะเวลาสิ้นสุด: </td>
                                    <td><%= classify[0].classify_period_end %> &nbsp;[ภายหลังจากกำหนดระยะเวลาจัดเก็บ (Pattern): <% if(classify[0].classify_period_end_follow_pattern == 1){%> <%= classify[0].classify_period_end_follow_pattern_total%> วัน<%}else{%><span class="span-table-boolean-false">ไม่มี</span><%}%>]</td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> ประเภทข้อมูลที่ใช้ในกิจกรรม: </td>
                                    <td>ข้อมูลส่วนบุคคล: <% if(classify[0].classify_type_data_in_event_personal == 1){%><span class="span-table-boolean-true"> มี </span><%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%>
                                        <br/>
                                        DataMark <% if(classify[0].classify_type_data_in_event_personal_datamark == null || classify[0].classify_type_data_in_event_personal_datamark == ""){%><span class="span-table-boolean-false"> ไม่มี </span><%}else{%><% if(classify[0].classify_type_data_in_event_personal_datamark == 0){%> : หัวข้อมูลอย่างเดียว [ จำนวนตัวอักษรที่แสดง : <%}else if(classify[0].classify_type_data_in_event_personal_datamark == 1){%> : หัวและท้ายข้อมูล [ จำนวนตัวอักษรที่แสดง : <%}else if(classify[0].classify_type_data_in_event_personal_datamark == 2){%> : ทัวและท้ายข้อมูล [ จำนวนตัวอักษรที่แสดง : <%}%><%= classify[0].classify_type_data_in_event_personal_datamark_total %> ] <%}%>
                                        <br/>
                                        ข้อมูลส่วนบุคคลพิเศษ (อ่อนไหว): <% if(classify[0].classify_type_data_in_event_special_personal_sensitive == 1){%><span class="span-table-boolean-true"> มี </span><%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> ฐานการประมวลผล: </td>
                                    <td><%= classify[0].pattern_processing_base_name%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> อธิบายเพิ่มเติม (ฐานการประมวลผล):
                                    </td>
                                    <td><% if(classify[0].classify_processing_base_explain != null && classify[0].classify_processing_base_explain != ""){%><%= classify[0].classify_processing_base_explain %><%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> เงื่อนไขพิเศษเพิ่มเติม: </td>
                                    <td><%= classify[0].classification_special_conditions_name%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> อธิบายเพิ่มเติม
                                        (เงื่อนไขพิเศษเพิ่มเติม): </td>
                                    <td><% if(classify[0].classify_special_conditiion_explain != null && classify[0].classify_special_conditiion_explain != ""){%><%= classify[0].classify_special_conditiion_explain%><%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%></td>
                                </table><br />
                                <!-- Method 3 -->
                                <p class="h5 font-bold">การป้องกันข้อมูล</p>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2">
                                        จำกัดปริมาณข้อมูลที่ใช้ประกอบผลไม่เกิน: </td>
                                    <td><% if(classify[0].classify_protect_data_limit_process != null && classify[0].classify_protect_data_limit_process != ""){%><%= classify[0].classify_protect_data_limit_process%> Row <%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> กำหนดเวลาเข้าถึงข้อมูลเฉพาะ: </td>
                                    <td><% if(classify[0].classify_protect_data_limit_follow_datetime == 1){%>จันทร์ - ศุกร์ เวลา 08:00 - 17:00 น.<%}else{%><span class="span-table-boolean-false"> ไม่มี </span><%}%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern2"> กำหนดการเข้าถึงข้อมูลภายใน Alltra ใช้
                                        2 Factor
                                        ในการเข้าถึง
                                    </td>
                                    <td>Google Authen: <% if(classify[0].classify_approach_protect_used_two_factor_from_google_authen == 1){%><span class="span-table-boolean-true">เลือก</span><%}else{%><span class="span-table-boolean-false"> ไม่ได้เลือก </span><%}%>
                                        <br/>
                                        E-mail: <% if(classify[0].classify_approach_protect_used_two_factor_from_email == 1){%><span class="span-table-boolean-true">เลือก</span><%}else{%><span class="span-table-boolean-false"> ไม่ได้เลือก </span><%}%>
                                        <br/>
                                        SMS (Option): <% if(classify[0].classify_approach_protect_used_two_factor_from_sms == 1){%><span class="span-table-boolean-true">เลือก</span><%}else{%><span class="span-table-boolean-false"> ไม่ได้เลือก </span><%}%>
                                    </td>
                                </table><br />
                                <!-- Method 5 -->
                                <p class="h5 font-bold">กำหนดข้อมูลยกเว้น หรือ ไม่จำเป็น (Filter)</p>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern"> ชื่อข้อมูล: </th>
                                    <td><% if(classify[0].classify_data_exception_or_unnecessary_filter_name == null || classify[0].classify_data_exception_or_unnecessary_filter_name == "" || classify[0].classify_data_exception_or_unnecessary_filter_name == "-"){%><span class="span-table-boolean-false"> ไม่มี </span><%}else{%><%= classify[0].classify_data_exception_or_unnecessary_filter_name%><%}%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern"> Tag: </td>
                                    <td><% if(classify[0].classify_data_exception_or_unnecessary_filter_tag == null || classify[0].classify_data_exception_or_unnecessary_filter_tag == "" || classify[0].classify_data_exception_or_unnecessary_filter_tag == "-"){%><span class="span-table-boolean-false"> ไม่มี </span><%}else{%><%= classify[0].classify_data_exception_or_unnecessary_filter_tag%><%}%></td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern"> Label: </td>
                                    <td><% if(classify[0].classify_data_exception_or_unnecessary_filter_label == null || classify[0].classify_data_exception_or_unnecessary_filter_label == "" || classify[0].classify_data_exception_or_unnecessary_filter_label == "-"){%><span class="span-table-boolean-false"> ไม่มี </span><%}else{%><%= classify[0].classify_data_exception_or_unnecessary_filter_label%><%}%></td>
                                </table><br />
                                <!-- Method 6 -->
                                <div style="background-color: #f0e4ca;">
                                    <br/>
                                    <p class="h5 font-bold" style="color: red;">ประเมินความเสี่ยงของข้อมูล (เฉพาะ
                                        DPO)</p>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> ข้อมูลส่วนบุคคล
                                            สามารถระบุตัวบุคคลได้: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_data_personal_can_specify == 1){%>
                                                <span class="span-table-boolean-true"> ได้โดยตรง </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_data_personal_can_specify == 2){%>
                                                <span class="span-table-boolean-true"> เป็นข้อมูลที่ไม่ระบุได้โดยตรง </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_data_personal_can_specify == 3){%>
                                                <span class="span-table-boolean-true"> มีการทำข้อมูลแฝง </span>                                          
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> ปริมาณข้อมูลทั้งหมดที่ใช้ประมวลผล: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_many == 1){%>
                                                <span class="span-table-boolean-true"> มาก </span> ที่ระบุ: <% if(classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_total != null && classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_total != ""){%><%= classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_total %><%}else{%><span class="span-table-boolean-false"> ไม่ได้ระบุ </span><%}%>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_many == 0){%>
                                                <span class="span-table-boolean-true"> น้อย </span> ที่ระบุ: <% if(classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_total != null && classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_total != ""){%><%= classify[0].classify_risk_assess_only_dpo_data_number_all_used_process_total %><%}else{%><span class="span-table-boolean-false"> ไม่ได้ระบุ </span><%}%>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> การควบคุมการเข้าถึงข้อมูลใน Alltra: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_access_control_inside == 1){%>
                                                <span class="span-table-boolean-true"> มี </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_access_control_inside == 0){%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่ระบุ </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> การควบคุมการเข้าถึงข้อมูลระบบนอก Alltra: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_access_control_outside == 1){%>
                                                <span class="span-table-boolean-true"> มี </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_access_control_outside == 0){%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่ระบุ </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> การป้องกันข้อมูลจากระบบ Alltra: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_protect_data_inside == 1){%>
                                                <span class="span-table-boolean-true"> มี </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_protect_data_inside == 0){%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่ระบุ </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> การป้องกันข้อมูลจากระบบนอก Alltra: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_protect_data_outside == 1){%>
                                                <span class="span-table-boolean-true"> มี </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_protect_data_outside == 0){%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่ระบุ </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> ประเมินผลกระทบต่อเจ้าของข้อมูล: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_assess_the_impact_of_data == 1){%>
                                                <span class="span-table-boolean-true"> มีสูง </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_assess_the_impact_of_data == 2){%>
                                                <span class="span-table-boolean-true"> มีปานกลาง </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_assess_the_impact_of_data == 3){%>
                                                <span class="span-table-boolean-true"> มีต่ำ </span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> วิธีแก้ไขเมื่อเกิดข้อมูลรั่วไหลหรือผลกระทบต่อเจ้าของข้อมูล: </td>
                                        <td style="vertical-align: middle;">
                                            <% if(classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_data != null && classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_data != "" && classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_data != "-"){%>
                                                <%= classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_data %>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> ประเมินผลกระทบต่อองค์กร: </td>
                                        <td>
                                            <% if(classify[0].classify_risk_assess_only_dpo_assess_the_impact_of_organization == 1){%>
                                                <span class="span-table-boolean-true"> มีสูง </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_assess_the_impact_of_organization == 2){%>
                                                <span class="span-table-boolean-true"> มีปานกลาง </span>
                                            <%}else if(classify[0].classify_risk_assess_only_dpo_assess_the_impact_of_organization == 3){%>
                                                <span class="span-table-boolean-true"> มีต่ำ </span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}%>
                                        </td>
                                    </table>
                                    <table class="table table-boardless">
                                        <td class="font-bold td-head-detail-pattern2-1"> วิธีแก้ไขเมื่อเกิดข้อมูลรั่วไหลหรือผลกระทบต่อองค์กร: </td>
                                        <td style="vertical-align: middle;">
                                            <% if(classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_organization != null && classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_organization != "" && classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_organization != "-"){%>
                                                <%= classify[0].classify_risk_assess_only_dpo_fix_a_leak_of_organization %>
                                            <%}else{%>
                                                <span class="span-table-boolean-false"> ไม่มี </span>
                                            <%}%>
                                        </td>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" style="margin-bottom: 1%;">
                        <a href="javascript:void(0);" onclick="history.back()" class="btn btn-info">ย้อนกลับ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/dist/js/all_function_classification.js"></script>
    <%- include('../_footer') -%>