<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลส่วนบุคคล</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/personal_data">ข้อมูลส่วนบุคคล</a></li>
                            <li class="breadcrumb-item">ดูข้อมูลส่วนบุคคล</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="container-fluid" style="margin-top: 1%;margin-bottom: 5%;">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="border-bottom title-part-padding">
                                <h4 class="card-title mb-0">ดูข้อมูลส่วนบุคคล<span class="text-secondary"></span></h4>
                            </div>
                            <div class="card-body">
                                <div class="row-6" align="center">
                                    <div class="col-6">
                                        <!-- ----------------------------------------- -->
                                        <!-- 1. Basic Form -->
                                        <!-- ----------------------------------------- -->
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class='table table-borderless'>
                                                            <th class="col-md-5">ระดับของข้อมูลส่วนตัว :<br><br>
                                                                Code : <br><br>
                                                                ชื่อข้อมูลส่วนบุคคล : <br><br>
                                                                ประเภทของข้อมูลส่วนตัว : <br><br>
                                                                รายละเอียดเพิ่มเติม : <br><br>
                                                                เริ่ม : <br><br>
                                                                สิ้นสุด : <br><br>
                                                                สถานที่จัดเก็บข้อมูล :<br><br>
                                                                รายละเอียดเพิ่มเติมของสถานที่จัดเก็บข้อมูล :<br><br>
                                                                แท็ก : <br><br>
                                                            </th>
                                                            <td class="col-md-7">
                                                                <% for (var i=0; i < level.length; i++) { %>
                                                                    <%if(level[i].level_name==personal[0].level_name){%>
                                                                        <%= level[i].level_name%>
                                                                            <%}%>
                                                                                <%}%><br><br>
                                                                                    #<%= personal_name[1] %><br><br>
                                                                                        <%=personal[0].data_name%>
                                                                                            <br><br>
                                                                                            <% for (var i=0; i
                                                                                                <data_type.length;
                                                                                                i++){%>
                                                                                                <%if(data_type[i].data_type_id==personal[0].data_type_id){%>
                                                                                                    <%=data_type[i].data_type_name%>
                                                                                                        <%}%>
                                                                                                            <%}%>
                                                                                                                <br><br>
                                                                                                                <%=personal[0].data_detail%>
                                                                                                                    <br><br>
                                                                                                                    <%=personal[0].data_date_start%>
                                                                                                                        <br><br>
                                                                                                                        <%=personal[0].data_date_end%>
                                                                                                                            <br><br>
                                                                                                                            <%=personal[0].data_location_name%>
                                                                                                                                <br><br>
                                                                                                                                <%=personal[0].data_location_detail%>
                                                                                                                                    <br><br>
                                                                                                                                    <input
                                                                                                                                        id="tag_name"
                                                                                                                                        value="<%=personal[0].data_tag%>"
                                                                                                                                        readonly
                                                                                                                                        hidden />
                                                                                                                                        <h3>
                                                                                                                                    <% for
                                                                                                                                        (j
                                                                                                                                        in
                                                                                                                                        personal_tag
                                                                                                                                        ){
                                                                                                                                        %>
                                                                                                                                        <span
                                                                                                                                                class="badge bg-secondary"><%= personal_tag[j] %></span>
                                                                                                                                            
                                                                                                                                        <%}%></h3>

                                                            </td>
                                                        </table>

                                                    </div>

                                                    <div class="col-8">
                                                        <div class="d-md-flex align-items-center mt-3">
                                                            <div class="ms-auto mt-3 mt-md-0">
                                                                <a href="/personal_data"
                                                                    class="btn btn-secondary font-weight-medium ">
                                                                    ปิด
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- Start Page Content -->
            <!-- -------------------------------------------------------------- -->

        </div>
    </div>
    <script>
        const tag_name = document.getElementById('tag_name').value;
        let sort_tag_name = tag_name.split(',')
        let tag_name_new = []
        for (i in sort_tag_name) {
            tag_name_new.push(sort_tag_name[i])
        }
        // var tag = document.getElementById("tag");
        // for(var j=0;j<tag_name_new.length;j++) {
        //     tag.innerHTML = tag_name_new[j];
        // }
        console.log(tag_name_new)
    </script>



    <%- include('../_footer') -%>