<!--  <link href="/UI/assets/libs/tablesaw/dist/tablesaw.css" rel="stylesheet"> -->
<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลล็อก</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">การนำออกข้อมูลล็อก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ไมโครบล็อคเชน</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-info text-center">
                        <h1 class="fw-light text-white">
                            <%= log_length %>
                        </h1>
                        <h6 class="text-white">ข้อมูลทั้งหมด</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-primary text-center">
                        <h1 class="fw-light text-white">
                            <%= path_length %>
                        </h1>
                        <h6 class="text-white">บล็อคทั้งหมด</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <div class="box p-2 rounded bg-warning text-center">
                        <!--===================ภายหลัง=====================-->
                        <h1 class="fw-light text-white">1
                            <% total_run_chain %>
                        </h1>
                        <h6 class="text-white">จำนวนเชนที่มี</h6>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-6 col-lg-3 col-xlg-3">
                <div class="card">
                    <% if (status_chain == "True"){ %>
                        <div class="box p-2 rounded bg-success text-center">
                            <h1 class="fw-light text-white">Normal</h1>
                            <h6 class="text-white">สถานะของเชนปัจจุบัน</h6>
                        </div>
                        <%}else{%>
                            <div class="box p-2 rounded bg-danger text-center">
                                <h1 class="fw-light text-white">Abnormal</h1>
                                <h6 class="text-white">สถานะของเชนปัจจุบัน</h6>
                            </div>
                            <%}%>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">รายการผลการสร้าง Micro BlockChain</h4>
            </div>
            <div class="card-body">
                <div class="tablesaw-bar tablesaw-mode-stack"></div>
                <table class="tablesaw no-wrap table-striped table-bordered table-hover table tablesaw-stack tablesaw-sortable" data-tablesaw-mode="stack" data-tablesaw-sortable="" id="tablesaw-2159">
                    <thead>
                        <tr>
                            <th scope="col" data-tablesaw-sortable-col="" data-tablesaw-priority="persist" class="border tablesaw-sortable-head tablesaw-sortable-ascending" style="width: 5%;">ลำดับ</th>
                            <th scope="col" data-tablesaw-priority="5" class="border tablesaw-sortable-head" style="text-align: center;">ชื่อล็อกไฟล์</th>
                            <th scope="col" data-tablesaw-priority="4" class="border tablesaw-sortable-head" style="width: 20%; text-align: center;">วันที่/เวลา (เริ่ม)</th>
                            <th scope="col" data-tablesaw-priority="3" class="border tablesaw-sortable-head" style="width: 20%; text-align: center;">วันที่/เวลา (จบ)</th>
                            <th scope="col" data-tablesaw-priority="2" class="border tablesaw-sortable-head" style="width: 10%; text-align: center;">ความน่าเชื่อถือ</th>
                            <th scope="col" data-tablesaw-priority="1" class="border tablesaw-sortable-head" style="width: 5%; text-align: center;">ตรวจสอบ</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <% for(var i=0;i<data.length;i++){%>
                            <tr>
                                <td class="title align-top" style="text-align: center;"><b class="tablesaw-cell-label">ลำดับที่:
                            </b> <span class="tablesaw-cell-content"><%= i+1 %></a>
                            </span></td>
                                <td class="align-top" style="text-align: center;"><b class="tablesaw-cell-label">ชื่อล็อกไฟล์:</b> <span class="tablesaw-cell-content"><%= data1[i] %></span></td>
                                <td class="align-top" style="text-align: center;"><b class="tablesaw-cell-label">วันที่/เวลา (เริ่ม):</b> <span class="tablesaw-cell-content"><%= time_start[i] %></span></td>
                                <td class="align-top" style="text-align: center;"><b class="tablesaw-cell-label">วันที่/เวลา (จบ):</b> <span class="tablesaw-cell-content"><%= time_end[i] %></span></td>
                                <td class="align-top" style="text-align: center;"><b class="tablesaw-cell-label">ความน่าเชื่อถือ:</b> <span class="tablesaw-cell-content">
                                <% if (status_format[i]=="Accept"){%>
                                    <span style="color:seagreen"><%= status_format[i] %></span>
                                    <%}else if (status_format[i]=="Inprocess"){%>
                                        <span style="color:gold"><%= status_format[i] %></span>
                                        <%}else if (status_format[i]=="Reject"){%>
                                            <span style="color:red"><%= status_format[i] %></span>
                                            <%}%>
                                                </span>
                                </td>
                                <td class="title align-top" style="text-align: center;"><b class="tablesaw-cell-label">ตรวจสอบ:</b> <span class="tablesaw-cell-content">
                                <a href='/micro_block/<%= data3[i] %>' class="btn btn-rounded btn-info">ข้อมูลเชน</a></span></td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-6 text-secondary">
                        <span>แสดงผล 1 ถึง <%= path_length %> ทั้งหมด <%= path_length %> รายการ</span>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript:void(0)" tabindex="-1">ย้อนกลับ</a>
                                </li>
                                <% for(var i=0;i<Math.ceil(data.length/20);i++){%>
                                    <% if (i == 0) {%>
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">
                                                <%= i+1 %>
                                            </a>
                                        </li>
                                        <%}else{%>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">
                                                    <%= i+1 %>
                                                </a>
                                            </li>
                                            <%}%>
                                                <%}%>
                                                    <a class="page-link" href="javascript:void(0)">ถัดไป</a>
                                                    </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        ALLTRA Version 1.0, All right reserved by Sense Info Tech Co., Ltd.
    </footer>
    <!-- <script>
    window.setInterval('refresh()', 60000); 	
    // Call a function every 10000 milliseconds 
    // (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script> -->
    <%- include('../_footer') -%>