<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ข้อมูลล็อก</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">การนำออกข้อมูลล็อก</a></li>
                            <li class="breadcrumb-item"><a href="/micro_block">ไมโครบล็อคเชน</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= data[0] %>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="mb-0 text-white">ข้อมูลของไฟล์:
                            <%= data[0] %>
                        </h4>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-body">
                            <div class="card-body">
                                <h4 class="card-title mb-0">ค่าแฮชก่อนหน้า</h4>
                            </div>
                            <div class="card-body border-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row py-3">
                                            <!-- <label class="control-label text-end col-md-4 font-weight-medium">ค่าที่ได้:</label> -->
                                            <div class="col-md-12">
                                                <p class="form-control-static">
                                                    <%= data[1] %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-0">ค่าแฮชของเชน</h4>
                            </div>
                            <div class="card-body border-top">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row py-3">
                                            <!-- <label class="control-label text-end col-md-4 font-weight-medium">Address:</label> -->
                                            <div class="col-md-12">
                                                <p class="form-control-static">
                                                    <%= data[2] %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr> -->
                            <div class="form-actions">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div align="center">
                                                    <a href="/micro_block" class="btn btn-secondary">ย้อนกลับ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
    <div class="card">
        <div class="border-bottom title-part-padding">
            <h4 class="card-title mb-0">ข้อมูลของไฟล์ : <%= data[0] %></h4>
        </div>
        <div class="card-body">
            <div align="center">
            <p><span class='h4'>ค่าแฮชก่อนหน้า: </span><span><%= data[1] %></span></p>
            <p><span class='h4'>ค่าแฮชของเชน: </span><span><%= data[2] %></span></p>
        </div>  
        <div align="center">
            <a href='/micro_block' class="btn btn-rounded btn-secondary">ย้อนกลับ</a>    
        </div>
        </div>
    </div>
</div>  
<div class='card' style="margin-left: 8%; margin-right: 8%; margin-top: 3%;">
    <div class="border-bottom title-part-padding">
        <h4 class="card-title mb-0">ข้อมูลของไฟล์ Block: <%= data[0] %></h4>
    </div>
    <div class="card-body" id="target-div">
        <div align="center">
            <p><span class='h4'>ค่าแฮชก่อนหน้า: </span><span><%= data[1] %></span></p>
            <p><span class='h4'>ค่าแฮชของเชน: </span><span><%= data[2] %></span></p>
        </div>  
        <div align="center">
            <a href='/micro_block' class="btn btn-rounded btn-info">ย้อนกลับ</a>    
        </div>
    </div>
</div> -->
    <%- include('../_footer') -%>