<!-- <% include _header %> -->
<%- include('_header') -%>

    <!--Start Dashboard Content-->

    <div class="card mt-3">
        <div class="card-content">
            <div class="row row-group m-0">
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0"> STORAGE <span class="float-right">100 GB <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-layers-fill" viewBox="0 0 16 16">
                        <path
                          d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                        <path
                          d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                      </svg></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:64.2%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">USED STORAGE <span class="float-right">64.2% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">MEMORY <span class="float-right">8 GB <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-inboxes-fill" viewBox="0 0 16 16">
                        <path
                          d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1H4.98zM3.81.563A1.5 1.5 0 0 1 4.98 0h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374L3.81.563zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393z" />
                      </svg></i></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:20.7%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">USED MEMORY <span class="float-right">20.7% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">CPU <span class="float-right">2.8 MHz <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cpu-fill" viewBox="0 0 16 16">
                        <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                        <path
                          d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
                      </svg></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:25.2%"></div>
                        </div>
                        <p class="mb-0 text-white small-font">USED CPU <span class="float-right">25.2% <i
                        class="zmdi zmdi-long-arrow-up"></i></span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3 border-light">
                    <div class="card-body">
                        <h5 class="text-white mb-0">INTERNET <span class="float-right"> <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hdd-network-fill" viewBox="0 0 16 16">
                        <path
                          d="M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h5.5v3A1.5 1.5 0 0 0 6 11.5H.5a.5.5 0 0 0 0 1H6A1.5 1.5 0 0 0 7.5 14h1a1.5 1.5 0 0 0 1.5-1.5h5.5a.5.5 0 0 0 0-1H10A1.5 1.5 0 0 0 8.5 10V7H14a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm.5 3a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1z" />
                      </svg></span></h5>
                        <div class="progress my-3" style="height:3px;">
                            <div class="progress-bar" style="width:0%"></div>

                        </div>
                        <p class="mb-0 text-white small-font">S 16.8 Kbps <i class="zmdi zmdi-long-arrow-up"> </i><span class="float-right">R 16.7 Kbps <i class="zmdi zmdi-long-arrow-down"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header"> Performance summary last houre
                    <div class="card-action">
                        <div class="dropdown">
                            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                <i class="icon-options"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void();">Action</a>
                                <a class="dropdown-item" href="javascript:void();">Another action</a>
                                <a class="dropdown-item" href="javascript:void();">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void();">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item" style="color: white;"><i class="fa fa-circle mr-2 text-white"></i>Coconsumed host CPU</li>
                        <li class="list-inline-item" style="color: white;"><i class="fa fa-circle mr-2 text-light"></i>Coconsumed host memory</li>
                    </ul>
                    <div class="chart-container-1">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>

                <div class="row m-0 row-group text-center border-top border-light-3">
                    <div class="col-12 col-lg-4">
                        <div class="p-3" style="color: white;">
                            <h5 class="mb-0">Date</h5>

                            <small class="mb-0" style="font-size: medium;">07 10 2021 01:28:02 </small>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="p-3" style="color: white;">
                            <h5 class="mb-0">Passive Status</h5>

                            <small class="mb-0" style="font-size: medium;">Status OK <span> <i
                          class="zmdi zmdi-run"></i></span></small>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4" style="color: white;">
                        <div class="p-3">
                            <h5 class="mb-0">Cantralize Status</h5>
                            <small class="mb-0" style="font-size: medium;">Status OK <span> <i
                          class="zmdi zmdi-run"></i></span></small>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-header">Total Logs
                    <div class="card-action">
                        <div class="dropdown">
                            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                <i class="icon-options"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void();">Action</a>
                                <a class="dropdown-item" href="javascript:void();">Another action</a>
                                <a class="dropdown-item" href="javascript:void();">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void();">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-container-2">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <tbody>
                            <tr>
                                <td><i class="fa fa-circle text-white mr-2"></i> Centralize</td>
                                <td>585026 Count</td>
                                <td>55%</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-circle text-light-1 mr-2"></i>Passive</td>
                                <td>264102 Count</td>
                                <td>25%</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-circle text-light-2 mr-2"></i>Other</td>
                                <td>182302 Count</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-circle text-light-3 mr-2"></i>Free</td>
                                <td></td>
                                <td>5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--End Row-->

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">Devices List
                    <div class="card-action">
                        <div class="dropdown">
                            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                <i class="icon-options"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void();">Action</a>
                                <a class="dropdown-item" href="javascript:void();">Another action</a>
                                <a class="dropdown-item" href="javascript:void();">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void();">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                        <thead>
                            <tr>
                                <th style="font-size: larger;">Host Name</th>
                                <th style="font-size: larger;">Host IP</th>
                                <th style="font-size: larger;">MAC</th>
                                <th style="font-size: larger;">Hits</th>
                                <th style="font-size: larger;">Date</th>
                                <th style="font-size: larger;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Host 1.</td>
                                <td>172.16.10.100</td>
                                <td>00:0c:29:ab:1f:57</td>
                                <td>254,801</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow; "></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 2.</td>
                                <td>172.16.10.101</td>
                                <td>01:0c:39:ad:16:5h</td>
                                <td>214,701</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 3.</td>
                                <td>172.16.10.102</td>
                                <td>h0:0c:2e:ab:1f:r7</td>
                                <td>384,571</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 4.</td>
                                <td>172.16.10.103</td>
                                <td>01:0t:39:bb:1h:b5</td>
                                <td>177,357</td>
                                <td>06 Oct 2021</td>
                                <td>Offline<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-block-alt"
                              style="color: red;"></i></span></small></td>

                            </tr>
                            <tr>
                                <td>Host 1.</td>
                                <td>172.16.10.100</td>
                                <td>00:0c:29:ab:1f:57</td>
                                <td>254,801</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow; "></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 2.</td>
                                <td>172.16.10.101</td>
                                <td>01:0c:39:ad:16:5h</td>
                                <td>214,701</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 3.</td>
                                <td>172.16.10.102</td>
                                <td>h0:0c:2e:ab:1f:r7</td>
                                <td>384,571</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 4.</td>
                                <td>172.16.10.103</td>
                                <td>01:0t:39:bb:1h:b5</td>
                                <td>177,357</td>
                                <td>06 Oct 2021</td>
                                <td>Offline<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-block-alt"
                              style="color: red;"></i></span></small></td>

                            </tr>
                            <tr>
                                <td>Host 1.</td>
                                <td>172.16.10.100</td>
                                <td>00:0c:29:ab:1f:57</td>
                                <td>254,801</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow; "></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 2.</td>
                                <td>172.16.10.101</td>
                                <td>01:0c:39:ad:16:5h</td>
                                <td>214,701</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 3.</td>
                                <td>172.16.10.102</td>
                                <td>h0:0c:2e:ab:1f:r7</td>
                                <td>384,571</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 4.</td>
                                <td>172.16.10.103</td>
                                <td>01:0t:39:bb:1h:b5</td>
                                <td>177,357</td>
                                <td>06 Oct 2021</td>
                                <td>Offline<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-block-alt"
                              style="color: red;"></i></span></small></td>

                            </tr>
                            <tr>
                                <td>Host 1.</td>
                                <td>172.16.10.100</td>
                                <td>00:0c:29:ab:1f:57</td>
                                <td>254,801</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow; "></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 2.</td>
                                <td>172.16.10.101</td>
                                <td>01:0c:39:ad:16:5h</td>
                                <td>214,701</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 3.</td>
                                <td>172.16.10.102</td>
                                <td>h0:0c:2e:ab:1f:r7</td>
                                <td>384,571</td>
                                <td>07 Oct 2021</td>
                                <td>Online<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-run"
                              style="color: greenyellow;"></i></span></small></td>
                            </tr>

                            <tr>
                                <td>Host 4.</td>
                                <td>172.16.10.103</td>
                                <td>01:0t:39:bb:1h:b5</td>
                                <td>177,357</td>
                                <td>06 Oct 2021</td>
                                <td>Offline<small class="mb-0" style="font-size: larger;"><span> <i class="zmdi zmdi-block-alt"
                              style="color: red;"></i></span></small></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    </div>

    <% include _footer %>