<%- include('_header') -%>
    <%=JSON.stringify(session.admin)%>
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-md-5 align-self-center">
                    <h3 class="page-title">แดชบอร์ด</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                                <li class="breadcrumb-item active" aria-current="page">แดชบอร์ด</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                    <div class="d-flex">
                        <div class="dropdown me-2">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        มกราคม 2565
                      </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">February 2021</a></li>
                                <li><a class="dropdown-item" href="#">March 2021</a></li>
                                <li><a class="dropdown-item" href="#">April 2021</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- -------------------------------------------------------------- -->
        <!-- Container fluid  -->
        <!-- -------------------------------------------------------------- -->
        <div class="container-fluid">
            <!-- Row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="bg-light-warning text-warning d-inline-block px-4 py-3 rounded">
                                    <i data-feather="cpu" class="feather-icon"></i>
                                </div>
                                <div class="ms-auto">

                                </div>
                            </div>
                            <div class="mt-2">
                                <h4 class="card-title">CPU Usage</h4>
                                <div class="progress mt-4">
                                    <div class="progress-bar bg-warning" id="cpuusedper" style="width:0%; height:6px;" role="progressbar"> </div>
                                </div>
                                <div class="d-flex align-items-center mt-2 font-weight-medium">

                                    <span id="cpuused">0%</span>
                                    <div class="ms-auto">
                                        <span>3.5 GHz</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="bg-light-info text-info d-inline-block px-4 py-3 rounded">
                                    <i class="fas fa-microchip"></i>
                                </div>
                                <div class="ms-auto">
                                </div>
                            </div>
                            <div class="mt-2">
                                <h4 class="card-title">Memory Usage</h4>
                                <div class="progress mt-4">
                                    <div class="progress-bar bg-info" id="memusedper" style="width:0%; height:6px;" role="progressbar"> <span class="sr-only">50% Usage</span> </div>
                                </div>
                                <div class="d-flex align-items-center mt-2 font-weight-medium">
                                    <span id="memused">0%</span>
                                    <div class="ms-auto">
                                        <span id="mem">0 GB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="bg-light-primary text-primary d-inline-block px-4 py-3 rounded">
                                    <i data-feather="hard-drive" class="feather-icon"></i>
                                </div>
                                <div class="ms-auto">
                                </div>
                            </div>
                            <div class="mt-2">
                                <h4 class="card-title">HDD</h4>
                                <div class="progress mt-4">
                                    <div class="progress-bar bg-primary" id="storageusedper" style="width: 0%; height:6px;" role="progressbar"> <span class="sr-only">10% Usage</span> </div>
                                </div>

                                <div class="d-flex align-items-center mt-2 font-weight-medium">
                                    <span id="storageall">0 GB (0%)</span>
                                    <div class="ms-auto">
                                        <span id="storage">0 GB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-start">
                                <div class="bg-light-success text-success d-inline-block px-4 py-3 rounded">
                                    <i data-feather="arrow-up" class="feather-icon"></i>
                                </div>
                                <div class="ms-auto">
                                </div>

                                <div class="bg-light-danger text-danger d-inline-block px-4 py-3 rounded">
                                    <i data-feather="arrow-down" class="feather-icon"></i>
                                </div>

                            </div>
                            <div class="mt-2">
                                <h4 class="card-title">Traffic</h4>
                                <div class="progress mt-4">
                                    <!-- <div class="progress-bar bg-primary" id="storageusedper" style="width: 0%; height:6px;" role="progressbar"> <span class="sr-only">10% Usage</span> </div> -->
                                </div>

                                <div class="d-flex align-items-center mt-2 font-weight-medium">
                                    <span id="txkB">0 kB/s</span>
                                    <div class="ms-auto">
                                        <span id="rxkB">0 kB/s</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box p-2 rounded bg-info text-center">
                            <h2 class="fw-light text-white">
                                <% if (session.acc_admin){%>
                                    <%=session.acc_admin%>
                                        <%} else{%>
                                            0
                                            <%}%>
                            </h2>
                            <h6 class="text-white">ผู้ดูแลระบบ</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box p-2 rounded bg-primary text-center">
                            <h2 class="fw-light text-white">
                                <% if (session.acc_user){%>
                                    <%=session.acc_user%>
                                        <%}else{%>
                                            0
                                            <%}%>
                            </h2>
                            <h6 class="text-white">ผู้ดูแลข้อมูล</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box p-2 rounded bg-success text-center">
                            <h2 class="fw-light text-white">
                                <% if (data){%>
                                    <%=data2.length%>
                                        <%}%>
                            </h2>
                            <h6 class="text-white">อุปกรณ์ต้นทาง</h6>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-md-6 col-lg-3 col-xlg-3">
                    <div class="card">
                        <div class="box p-2 rounded bg-warning text-center">
                            <h2 class="fw-light text-white">
                                <%=session.set_system[0].day_keep%> วัน</h2>
                            <h6 class="text-white">ระยะเวลาจัดเก็บข้อมูล</h6>
                        </div>
                    </div>
                </div>
            </div>
            <%if(data2.length>0){%>
                <div class="row">
                    <!-- Column -->

                    <div class="col-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="p-3">
                                        <h4>รายการอุปกรณ์ต้นทาง</h4>
                                        <h6 class="card-subtitle">จำนวน
                                            <%=data2.length%> รายการ</h6>
                                        <div class="message-box scrollable mt-4" style="height: 345px;">
                                            <div class="message-widget message-scroll">
                                                <!-- Message -->
                                                <%if(session.admin == '1'){%>
                                                    <% if (data2){ for (var i = 0; i < data2.length; i++) { %>
                                                        <a class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                            <span class="user-img position-relative d-inline-block"> <img src="/UI/image/<%=data2[i].image%>" alt="user" class="rounded-circle w-100" style="height: 80px;">
                                                         <%if(data2[i].status == "ใช้งาน"){%><span class="profile-status rounded-circle online"></span>
                                                            <%}else{%><span class="profile-status rounded-circle offline"></span>
                                                                <%}%>
                                                                    </span>
                                                                    <div class="w-75 d-inline-block v-middle ps-3">
                                                                        <h5 class="message-title font-weight-medium mb-0 mt-1">
                                                                            <%=data2[i].name%>
                                                                        </h5>
                                                                        <span class="fs-2 text-nowrap d-block text-muted text-truncate"><%=data2[i].de_type%></span>
                                                                        <span class="fs-2 text-nowrap d-block text-muted">ส่งข้อมูลล่าสุด <%=data2[i].data%></span> </div>
                                                        </a>

                                                        <%}}%>
                                                            <%}else{%>
                                                                <% if (data2){ for (var i = 0; i < data2.length; i++) { %>

                                                                    <a href="/log/check/<%=data2[i].device_id%>" class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                                        <span class="user-img position-relative d-inline-block"> <img src="/UI/image/<%=data2[i].image%>" alt="user" class="rounded-circle w-100" style="height: 80px;">
                                                                    <%if(data2[i].status == "ใช้งาน"){%><span class="profile-status rounded-circle online"></span>
                                                                        <%}else{%><span class="profile-status rounded-circle offline"></span>
                                                                            <%}%>
                                                                                </span>
                                                                                <div class="w-75 d-inline-block v-middle ps-3">
                                                                                    <h5 class="message-title font-weight-medium mb-0 mt-1">
                                                                                        <%=data2[i].name%>
                                                                                    </h5>
                                                                                    <span class="fs-2 text-nowrap d-block text-muted text-truncate"><%=data2[i].de_type%></span>
                                                                                    <span class="fs-2 text-nowrap d-block text-muted">ส่งข้อมูลล่าสุด <%=data2[i].data%></span> </div>
                                                                    </a>
                                                                    <%}}%>
                                                                        <%}%>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <div class="col-lg-9">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex flex-wrap">
                                                        <div>
                                                            <h3>ปริมาณการส่งข้อมูล</h3>
                                                            <h6 class="card-subtitle">January 2021</h6>
                                                        </div>
                                                        <div class="ms-auto ">
                                                            <ul class="list-inline">
                                                                <% if (data2){ for (var i = 0; i < data2.length; i++) { %>
                                                                    <li class="list-inline-item">
                                                                        <h6 class="text-muted">
                                                                            <%if(data2[i].status == "ใช้งาน"){%><i class="fa fa-circle me-1 text-success"></i>
                                                                                <%}else{%><i class="fa fa-circle me-1 text-warning"></i>
                                                                                    <%}%>
                                                                                        <%=data2[i].name%>
                                                                        </h6>
                                                                    </li>
                                                                    <%}}%>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div id="revenue-statistics-mos"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <%}%>
                    <div class="row">
                        <div class="col-2"></div>
                    </div>
                    <%if(data3){%>
                        <%if(data3.length>0){%>
                            <!-- <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">ปริมาณล็อก</h4>
                                        <div class="row mt-3">
                                            <div class="card-body analytics-info">
                                                <div id="basic1-pie" style="height:400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">ปริมาณล็อก</h4>
                                        <div class="row mt-3">
                                            <div class="card-body analytics-info">
                                                <div id="pie1-chart" style="height:400px; font-size: 30%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                            <div style="position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: none;
    background: #fceabb;
    background: -webkit-linear-gradient(to top,#f8b500,#fceabb);
    background: linear-gradient(to top,#f8b500,#fceabb);
    color: #000!important;
    text-align: center;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    font-weight: 700;
    filter: drop-shadow(2px 2px 2px #000);
    cursor: pointer;
    backdrop-filter: blur(10px);">หน้าแรก</div>

                            <%}}%>
                                <!-- Row -->
                                <%- include('_footer') -%>
                                    <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js "></script>
                                    <script src="/UI/dist/js/pages/datatable/custom-datatable.js "></script>
                                    <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js "></script>
                                    <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js "></script>

                                    <script src="/UI/assets/libs/chartist/dist/chartist.min.js "></script>
                                    <script src="/UI/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js "></script>
                                    <script src="/UI/assets/libs/flot/jquery.flot.js "></script>

                                    <script src="/UI/dist/js/pages/widget/widget-charts.js "></script>

                                    <script src="/UI/dist/js/app.min.js "></script>
                                    <script>
                                        $(function() {
                                            var x = <%-JSON.stringify(data3)%>;
                                            var count = [];
                                            var de_name = [];
                                            var de_series = []
                                            for (var i = 0; i < x.length; i++) {
                                                de_name.push([x[i].name, x[i].num]);
                                                count.push(x[i].num);
                                                de_series.push({
                                                        value: +x[i].num,
                                                        name: +x[i].name
                                                    }

                                                )
                                            }

                                            var o = c3.generate({
                                                bindto: "#pie1-chart",
                                                radius: '70%',
                                                color: {
                                                    pattern: ['#ffbc34', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB', '#efefef', '#ffbc34', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB'],
                                                },
                                                data: {
                                                    columns: [
                                                        ["option1", 50],
                                                        ["option2", 100]
                                                    ],
                                                    type: "pie",
                                                    onclick: function(o, n) {
                                                        //console.log("onclick", o, n)
                                                    },
                                                    onmouseover: function(o, n) {
                                                        // console.log("onmouseover", o, n)
                                                    },
                                                    onmouseout: function(o, n) {
                                                        // console.log("onmouseout", o, n)
                                                    }
                                                }
                                            });
                                            setTimeout(function() {
                                                o.load({
                                                    columns: de_name
                                                })
                                            }, 1000), setTimeout(function() {
                                                o.unload({
                                                    ids: "option1"
                                                }), o.unload({
                                                    ids: "option2"
                                                })
                                            }, 1000)
                                        });
                                    </script>
                                    <script>
                                        $(function() {
                                            "use strict";
                                            var x = <%-JSON.stringify(data3)%>;
                                            var count = [];
                                            var de_name = [];
                                            var de_series = []
                                            for (var i = 0; i < x.length; i++) {
                                                de_name.push(x[i].name);
                                                count.push(x[i].num);
                                                de_series.push({
                                                        value: x[i].num,
                                                        name: x[i].name
                                                    }

                                                )
                                            }

                                            var basicpieChart = echarts.init(document.getElementById('basic1-pie'));
                                            var option = {
                                                // Add title
                                                title: {
                                                    // text: 'Browser popularity',
                                                    // subtext: 'Open source information',
                                                    x: 'center'
                                                },

                                                // Add tooltip
                                                tooltip: {
                                                    trigger: 'item',
                                                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                                                },

                                                // Add legend
                                                legend: {
                                                    orient: 'vertical',
                                                    x: 'left',
                                                    // data: ['IE', 'Opera', 'Safari', 'Firefox', 'Chrome']
                                                    data: de_name
                                                },

                                                // Add custom colors
                                                color: ['#ffbc34', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB', '#efefef', '#ffbc34', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB'],

                                                // Display toolbox
                                                toolbox: {
                                                    show: true,
                                                    orient: 'vertical',
                                                    feature: {
                                                        mark: {
                                                            show: true,
                                                            title: {
                                                                mark: 'Markline switch',
                                                                markUndo: 'Undo markline',
                                                                markClear: 'Clear markline'
                                                            }
                                                        },
                                                        dataView: {
                                                            show: true,
                                                            readOnly: false,
                                                            title: 'View data',
                                                            lang: ['View chart data', 'Close', 'Update']
                                                        },
                                                        magicType: {
                                                            show: true,
                                                            title: {
                                                                pie: 'Switch to pies',
                                                                funnel: 'Switch to funnel',
                                                            },
                                                            type: ['pie', 'funnel'],
                                                            option: {
                                                                funnel: {
                                                                    x: '25%',
                                                                    y: '20%',
                                                                    width: '50%',
                                                                    height: '70%',
                                                                    funnelAlign: 'left',
                                                                    max: 1548
                                                                }
                                                            }
                                                        },
                                                        restore: {
                                                            show: true,
                                                            title: 'Restore'
                                                        },
                                                        saveAsImage: {
                                                            show: true,
                                                            title: 'Same as image',
                                                            lang: ['Save']
                                                        }
                                                    }
                                                },

                                                // Enable drag recalculate
                                                calculable: true,

                                                // Add series
                                                series: [{
                                                    name: 'ปริมาณล็อกจาก',
                                                    type: 'pie',
                                                    radius: '75%',
                                                    center: ['50%', '57.5%'],
                                                    // data: [{
                                                    //         value: 335,
                                                    //         name: 'IE'
                                                    //     }, {
                                                    //         value: 310,
                                                    //         name: 'Opera'
                                                    //     }, {
                                                    //         value: 234,
                                                    //         name: 'Safari'
                                                    //     }, {
                                                    //         value: 135,
                                                    //         name: 'Firefox'
                                                    //     }, {
                                                    //         value: 1548,
                                                    //         name: 'Chrome'
                                                    //     }]
                                                    data: de_series
                                                }]
                                            };

                                            basicpieChart.setOption(option);

                                        });
                                    </script>

                                    <script>
                                        var logs = [];
                                        var de = [];
                                        var x = <%-JSON.stringify(session.logperhour)%>;
                                        var option_Product_Calculation = {
                                            series: x,
                                            chart: {
                                                fontFamily: 'Rubik,sans-serif',
                                                height: 350,
                                                type: "area",
                                                toolbar: {
                                                    show: false,
                                                },
                                            },
                                            fill: {
                                                type: 'solid',
                                                opacity: 0.2,
                                                colors: ['#ffbc34', '#7460ee', '#f62d51', '#008FFB', '#efefef', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB'] //ในกราฟใต้เส้น

                                            },
                                            grid: {
                                                show: true,
                                                strokeDashArray: 3,
                                                borderColor: "rgba(0,0,0,0.1)",
                                                xaxis: {
                                                    lines: {
                                                        show: true
                                                    }
                                                },
                                            },
                                            dataLabels: {
                                                enabled: false,
                                            },
                                            stroke: {
                                                curve: "smooth",
                                                width: 1,
                                                colors: ['#ffbc34', '#7460ee', '#f62d51', '#008FFB', '#efefef', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB'] // เส้นกราฟ

                                            },
                                            markers: {
                                                size: 3,
                                                strokeColors: "transparent",
                                                colors: ['#ffbc34', '#7460ee', '#f62d51', '#008FFB', '#efefef', '#7460ee', '#009efb', '#212529', '#f62d51', '#008FFB'] //จุด

                                            },
                                            xaxis: {
                                                axisBorder: {
                                                    show: true,
                                                },
                                                axisTicks: {
                                                    show: true,
                                                },
                                                categories: x[0].hours,
                                                labels: {
                                                    style: {
                                                        colors: "#a1aab2",
                                                    },
                                                },
                                            },
                                            yaxis: {
                                                labels: {
                                                    style: {
                                                        colors: "#a1aab2",
                                                    },
                                                },
                                            },
                                            tooltip: {
                                                x: {
                                                    format: "dd/MM/yy HH:mm",
                                                },
                                                theme: "dark",
                                            },
                                            legend: {
                                                show: false,
                                            },
                                        };

                                        var chart_area_spline = new ApexCharts(document.querySelector("#revenue-statistics-mos"), option_Product_Calculation);
                                        chart_area_spline.render();
                                    </script>
                                    <script>
                                        $(function() {
                                            var getData = function() {
                                                $.ajax({
                                                    url: "http://119.81.44.155:8081/getperformance",
                                                    type: "get",

                                                    success: function(data) {
                                                        var performance = data.data[0]
                                                        var traffic = data.data2[0]

                                                        $('#cpuusedper').css('width', parseInt(performance.cpuused) + '%')
                                                        $('#memusedper').css('width', parseInt(performance.memused) + '%')
                                                        $('#storageusedper').css('width', parseInt(performance.storageper))

                                                        $('#cpuused').text(performance.cpuused + '%')
                                                        $('#memused').text(parseFloat(performance.memused).toFixed(2) + '%')
                                                        $('#mem').text(parseFloat(performance.mem).toFixed(2) + 'GB')
                                                        $('#storageall').text(performance.storageused + '(' + performance.storageper + ')')
                                                        $('#storage').text(performance.storage)


                                                        $('#rxkB').text(traffic.rxkB + 'kB/s')
                                                        $('#txkB').text(traffic.txkB + 'kB/s')
                                                        console.log(performance);
                                                    }
                                                });
                                            }
                                            setInterval(getData, 10000);
                                        });
                                    </script>