<%- include('../_header') -%>
    <div class="page-wrapper" style="display: block;">

        <div class="email-app">
            <!-- -------------------------------------------------------------- -->
            <!-- Left Part -->
            <!-- -------------------------------------------------------------- -->
            <div class="left-part">
                <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                    href="javascript:void(0)"></a>
                <div class="scrollable ps-container ps-theme-default" style="height: calc(100vh - 25px);"
                    data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                    <div class="p-3" align="center">
                        <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->

                        <div class="card-body">
                            <div class="button-group">
                                <!-- ------------------------------------------ -->
                                <!-- Fullscreen -->
                                <!-- ------------------------------------------ -->

                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    เพิ่มเอกสาร
                                </button>

                                <!-- Modal Createdoc-->
                                <form action="/paper" method="POST">
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header modal-colored-header bg-primary text-white">
                                                    <h3 style="font-weight: bolder;" class="modal-title "
                                                        id="staticBackdropLabel"> เพิ่มเอกสาร</h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div align="left" class="modal-body">
                                                    <label style="margin-bottom: 10px">ชื่อเอกสาร : </label>
                                                    <div>
                                                        <input type="text" name="doc_name"
                                                            placeholder="กรุณาป้อนชื่อเอกสาร.." class="form-control"
                                                            required>
                                                    </div>
                                                    <br>
                                                    <label style="margin-bottom: 10px">ชนิดเอกสาร : </label> <a
                                                        href="/new_doc_type">เพิ่ม</a>
                                                    <div>
                                                        <select name="doc_type_id" class="form-control" required>
                                                            <option selected disabled value=""> กรุณาเลือก </option>
                                                            <% if(doc_type){ %>

                                                                <% for(var i=0;i<doc_type.length;i++){ %>
                                                                    <option value="<%= doc_type[i].doc_type_id %>">
                                                                        <%= doc_type[i].doc_type_name %>
                                                                    </option>
                                                                    <% } %>
                                                                        <% } %>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <label style="margin-bottom: 10px">หมายเหตุ : </label>
                                                    <div>
                                                        <textarea name="doc_remark" cols="30" rows="10"
                                                            class="form-control" placeholder="หมายเหตุ.."></textarea>
                                                    </div>
                                                    <div>
                                                        <input type="text" name="doc_date_create" id=""
                                                            value="<%= data3[0].new %>" readonly hidden>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                        ปิด
                                                    </button>
                                                    <button type="submit" class="btn btn-primary"> เพิ่มเอกสาร </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>






                                <!-- <button id="addpage"> + หน้า</button>
                            <div id="innerdiv"></div>
                            <script>
                                document.getElementById("addpage").
                                    addEventListener("click", function () {
                                 document.getElementById("innerdiv").
                                    innerHTML += "<div align='center'><img src='assets/images/Paper-Sheet-Transparent-Free-PNG.png' style='width: 25%'><h3><a href='javescript.srcipt(0)' class='btn btn-secondary'>paper</a></h3></div>";
                                });
                
                            </script> -->
                                <!-- ------------------------------------------ -->
                                <!-- Fullscreen -->
                                <!-- ------------------------------------------ -->

                            </div>
                        </div>
                    </div>

                    <!-- Model -->
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->
            <!-- Right Part -->
            <!-- -------------------------------------------------------------- -->
            <div class="right-part mail-list bg-white overflow-auto">

                <!-- Nav tabs -->
                <% for(var j=0;j<doc_type.length;j++){ %>
                    <h2 style="padding: 20px;">
                        <%= doc_type[j].doc_type_name %>
                    </h2>
                    <br>
                    <% for(var i=0;i<doc.length;i++){ %>
                        <% if(doc_type[j].doc_type_id==doc[i].doc_type_id ){ %>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card" style="background-color: whitesmoke;">
                                        <div class="card-body">
                                            <h4 class="card-title"> <img src="/UI/assets/images/document-icon-36553.png"
                                                    style="width: 25%;"><a href="/paper/<%=doc[i].doc_id%>">
                                                    <span style="padding: 5px;">
                                                        <%=doc[i].doc_name%>
                                                    </span>
                                                </a></h4>
                                            <div class="text-end">

                                                <input id="doc_i" value="<%=doc_i%>" readonly hidden />
                                                <input id='doc_n' value="<%=doc_n%>" readonly hidden />
                                                <input id="doc_r" value="<%=doc_r%>" readonly hidden />
                                                <input id='doc_t' value="<%=doc_t%>" readonly hidden />

                                                <a id="<%=doc[i].doc_id%>" class="btn btn-info" data-bs-toggle="modal"
                                                    data-bs-target="#edit-doc-modal" onclick="editdoc1(this.id)"
                                                    href="#"><i class="ti-pencil-alt">
                                                        แก้ไขเอกสาร</i></a>


                                                <a id="<%=doc[i].doc_id%>" class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#delete-doc-modal" onclick="deletedoc(this.id)"
                                                    href="#"><i class="ti-pencil-alt">
                                                        ลบเอกสาร</i></a>


                                                <form action="/updatedoc/<%=doc[0].doc_id%>" method="POST">
                                                    <div id="edit-doc-modal" class="modal fade" tabindex="-1"
                                                        aria-labelledby="edit-header-modalLabel" aria-hidden="true"
                                                        style="display: none;">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div
                                                                    class="modal-header modal-colored-header bg-info text-white">
                                                                    <h4 class="modal-title" id="info-header-modalLabel">
                                                                        แก้ไขเอกสาร
                                                                    </h4>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div align="left" class="modal-body">

                                                                    <div id="editdoc">

                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light"
                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                    <button type="submit"
                                                                        class="btn btn-light-info text-info font-weight-medium">แก้ไขเอกสาร</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div>
                                                </form>


                                                <form action="/updatedoc/<%=doc[0].doc_id%>" method="POST">
                                                    <div id="edit-doc-modal" class="modal fade" tabindex="-1"
                                                        aria-labelledby="edit-header-modalLabel" aria-hidden="true"
                                                        style="display: none;">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div
                                                                    class="modal-header modal-colored-header bg-info text-white">
                                                                    <h4 class="modal-title" id="info-header-modalLabel">
                                                                        แก้ไขเอกสาร
                                                                    </h4>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div align="left" class="modal-body">

                                                                    <div>
                                                                        <select class="form-select"
                                                                            id="inputGroupSelect01" name="doc_type_id">
                                                                            <% for (var i=0; i < doc_type.length; i++) {
                                                                                %>
                                                                                <option
                                                                                    value="<%= doc_type[i].doc_type_id %>"
                                                                                    <%
                                                                                    if(doc_type[i].doc_type_id==doc[0].doc_type_id){%>
                                                                                    selected <%}%>>
                                                                                        <%= doc_type[i].doc_type_name%>
                                                                                </option>
                                                                                <%}%>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light"
                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                    <button type="submit"
                                                                        class="btn btn-light-info text-info font-weight-medium">แก้ไขเอกสาร</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div>
                                                </form>

                                                <form action="/deletedoc/<%=doc[0].doc_id%>" method="POST">
                                                    <div id="delete-doc-modal" class="modal fade" tabindex="-1"
                                                        aria-labelledby="delete-header-modalLabel" aria-hidden="true"
                                                        style="display: none;">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div
                                                                    class="modal-header modal-colored-header bg-info text-white">
                                                                    <h4 class="modal-title" id="info-header-modalLabel">
                                                                        ยืนยันการลบเอกสาร
                                                                    </h4>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div align="left" class="modal-body">

                                                                    <div id="deletedoc">

                                                                    </div>
                                                                    <div id="">

                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light"
                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                    <button type="submit"
                                                                        class="btn btn-light-info text-info font-weight-medium">ลบเอกสาร</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div>
                                                </form>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <%}%>
                                <% } %>
                                    <%}%>
            </div>
        </div>
    </div>
    <script>


        function editdoc1(id) {
            $(document).ready(function () {
                $('#inputGroupSelect01').on('change', function () {
                    $('#message-text').val($('#inputState').val())
                })
            })
        }
        function editdoc(id) {
            const doc_id = document.getElementById("doc_i").value //doc_id
            const doc_name = document.getElementById('doc_n').value //doc_name
            const doc_type_id = document.getElementById('doc_t').value //doc_type_id
            const doc_remark = document.getElementById('doc_r').value //doc_remark

            let sort_doc_id = doc_id.split(',')
            let sort_doc_name = doc_name.split(',')
            let sort_doc_type_id = doc_type_id.split(',')
            let sort_doc_remark = doc_remark.split(',')

            let obj = []
            var editdoc = document.getElementById("editdoc");
            for (i in sort_doc_id) {
                obj.push({ "doc_id": sort_doc_id[i], "doc_name": sort_doc_name[i], "doc_type_id": sort_doc_type_id[i], "doc_remark": sort_doc_remark[i] })
            }
            for (j in obj) {
                if (id == obj[j].doc_id) {
                    editdoc.innerHTML = ' <label style="margin-bottom: 10px">ชื่อเอกสาร : </label><div><input type="text" name="doc_name" value="' + obj[j].doc_name + '" placeholder="กรุณาป้อนชื่อเอกสาร.." class="form-control" required></div><br><label style="margin-bottom: 10px">ชนิดเอกสาร : </label> <a href="/new_doc_type">เพิ่ม</a><div> <select class="form-select" id="inputGroupSelect01" name="doc_type_id"><% for (var i=0; i < doc_type.length; i++) { %> <option value="<%= doc_type[i].doc_type_id%>" <% if(doc_type[i].doc_type_id == ' + obj[j].doc_type_id + ') {%> selected <%}%>><%= doc_type[i].doc_type_name%></option><%}%></select></div><br><label style="margin-bottom: 10px">หมายเหตุ : </label><div><textarea name="doc_remark" cols="30" rows="10"class="form-control" placeholder="หมายเหตุ..">' + obj[j].doc_remark + '</textarea></div>'
                }
            }
        }

        function deletedoc(id) {
            const doc_id = document.getElementById("doc_i").value //doc_id
            const doc_name = document.getElementById('doc_n').value //doc_name
            const doc_type_id = document.getElementById('doc_t').value //doc_type_id
            const doc_remark = document.getElementById('doc_r').value //doc_remark

            let sort_doc_id = doc_id.split(',')
            let sort_doc_name = doc_name.split(',')
            let sort_doc_type_id = doc_type_id.split(',')
            let sort_doc_remark = doc_remark.split(',')

            let obj = '<%- JSON.stringify('
            var deletedoc = document.getElementById("deletedoc");
            for (i in sort_doc_id) {
                obj.push({ "doc_id": sort_doc_id[i], "doc_name": sort_doc_name[i], "doc_type_id": sort_doc_type_id[i], "doc_remark": sort_doc_remark[i] })
            }
            for (j in obj) {
                if (id == obj[j].doc_id) {
                    deletedoc.innerHTML = ' <label style="margin-bottom: 10px">ชื่อเอกสาร : </label><div><input type="text" name="doc_name" value="' + obj[j].doc_name + '" placeholder="กรุณาป้อนชื่อเอกสาร.." class="form-control" readonly></div><br><label style="margin-bottom: 10px">ชนิดเอกสาร : </label> <a href="/new_doc_type">เพิ่ม</a><div> <select class="form-select" id="inputGroupSelect01" name="doc_type_id" disabled><% for (var i=0; i < doc_type.length; i++) { %> <option value="<% doc_type[i].doc_type_id%>" selected ><%= doc_type[i].doc_type_name%></option><%}%></select></div><br><label style="margin-bottom: 10px">หมายเหตุ : </label><div><textarea name="doc_remark" cols="30" rows="10"class="form-control" placeholder="หมายเหตุ..">' + obj[j].doc_remark + '</textarea></div>'
                }
            }
        }


    </script>
    <%- include('../_footer') -%>