<%- include('../_header') -%>
    <!-- <%=JSON.stringify(data[0].page_content)%> -->
    <div class="page-wrapper" style="display: block;">
        <div class="email-app">
            <!-- -------------------------------------------------------------- -->
            <!-- Left Part -->
            <!-- -------------------------------------------------------------- -->
            <div class="left-part">
                <!-- Nav tabs -->
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab"
                                aria-selected="true">
                                <span><i class=" ti-file"></i>
                                </span>
                                <span class="d-none d-md-block ms-3">กระดาษ</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab"
                                aria-selected="false">
                                <span><i class="ti-book"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">คำใช้บ่อย</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex" data-bs-toggle="tab" href="#messages2" role="tab"
                                aria-selected="false">
                                <span><i class="ti-server"></i>
                                </span>
                                <span class="d-none d-md-block ms-2">ข้อมูลส่วนบุคคล</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home2" role="tabpanel">
                            <div class="p-3">
                                <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                    href="javascript:void(0)"></a>
                                <div class="scrollable ps-container ps-theme-default"
                                    style="height: calc(100vh - 25px);"
                                    data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                    <div class="p-3" align="center">
                                        <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->

                                        <div class="card-body">
                                            <div class="button-group">
                                                <!-- ------------------------------------------ -->
                                                <!-- Fullscreen -->
                                                <!-- ------------------------------------------ -->

                                                <form name="create_paper" action="/paper/<%=data[0].doc_id%>"
                                                    method="post">
                                                    <button class="btn btn-info"> เพิ่มหน้า</button>
                                                </form>
                                                <br>
                                                <div>
                                                    <% let count=0 %>
                                                        <% for (var i=0;i<data.length;i++){%>
                                                            <% if (data.length !=null){%>
                                                                <% if (data[i].page_action !=1){%>
                                                                    <div align='center'><img
                                                                            src='/UI/assets/images/Paper-Sheet-Transparent-Free-PNG.png'
                                                                            style='width: 50%'>
                                                                        <h3><a href='/editpaper/<%=data[i].page_id%>'
                                                                                class='btn btn-secondary'>paper <%=
                                                                                    count +=1 %>
                                                                            </a>
                                                                        </h3>
                                                                    </div>
                                                                    <a href="/deletepaper/<%= data[i].page_id %>"
                                                                        class="btn btn-danger">
                                                                        ลบ</a>

                                                                    <%}%>
                                                                        <%}%>
                                                                            <%}%>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Model -->
                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="profile2" role="tabpanel">
                            <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                href="javascript:void(0)"></a>
                            <div class="scrollable ps-container ps-theme-default" style="height: calc(100vh - 25px);"
                                data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                <div class="p-3" align="center">
                                    <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->

                                    <div class="card-body">
                                        <div class="button-group">
                                            <!-- ------------------------------------------ -->
                                            <!-- Fullscreen -->
                                            <!-- ------------------------------------------ -->
                                            <button type="button"
                                                class="btn btn-light-success text-success  btn-lg px-4 fs-4 font-weight-medium"
                                                data-bs-toggle="modal"
                                                data-bs-target="#success-header-modal">เพิ่มคำใช้บ่อย</button>

                                            <form action="/new_word" method="POST">
                                                <div id="success-header-modal" class="modal fade" tabindex="-1"
                                                    aria-labelledby="success-header-modalLabel" aria-hidden="true"
                                                    style="display: none;">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div
                                                                class="modal-header modal-colored-header bg-success text-white">
                                                                <h4 class="modal-title" id="success-header-modalLabel">
                                                                    เพิ่มคำใช้บ่อย
                                                                </h4>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div align="left" class="modal-body">
                                                                <label style="margin-bottom: 10px"> คำใช้บ่อย : </label>
                                                                <div>
                                                                    <input type="text" name="words_often"
                                                                        placeholder="กรุณาป้อนคำใช้บ่อย.."
                                                                        class="form-control " required>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light"
                                                                    data-bs-dismiss="modal">ปิด</button>
                                                                <button type="submit"
                                                                    class="btn btn-light-success text-success font-weight-medium">เพิ่มคำใช้บ่อย</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div>
                                            </form>
                                            <div>
                                                <input id="words" value="<%=words1%>" readonly hidden />
                                                <input id='swords' value="<%=words2%>" readonly hidden />
                                                <% for(var w=0;w<words.length;w++){ %>
                                                    <br>
                                                    <a id="<%=words[w].words_id%>" href="#"
                                                        onclick="insertText(this.id)">/
                                                        <%=words[w].words_often %>
                                                    </a>


                                                    <a id="<%=words[w].words_id%>" data-bs-toggle="modal"
                                                        data-bs-target="#edit-words-modal" onclick="editwords(this.id)"
                                                        href="#"><i class="ti-pencil-alt"></i></a>

                                                    <form action="/updateword/<%=words[0].words_id%>" method="POST">
                                                        <div id="edit-words-modal" class="modal fade" tabindex="-1"
                                                            aria-labelledby="edit-header-modalLabel" aria-hidden="true"
                                                            style="display: none;">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div
                                                                        class="modal-header modal-colored-header bg-info text-white">
                                                                        <h4 class="modal-title"
                                                                            id="info-header-modalLabel">
                                                                            แก้ไขคำใช้บ่อย
                                                                        </h4>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div align="left" class="modal-body">
                                                                        <label style="margin-bottom: 10px"> คำใช้บ่อย :
                                                                        </label>
                                                                        <div id="editwords1">

                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-light"
                                                                            data-bs-dismiss="modal">ปิด</button>
                                                                        <button type="submit"
                                                                            class="btn btn-light-info text-info font-weight-medium">แก้ไขคำใช้บ่อย</button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div>
                                                    </form>
                                                    
                                                    <a id="<%=words[w].words_id%>" data-bs-toggle="modal"
                                                        data-bs-target="#deleteword-header-modal" href="#"
                                                        onclick="deletewords(this.id)"><i class="ti-trash"></i></a>

                                                    <form action="/deleteword/<%= words[0].words_id %>" method="POST">
                                                        <div id="deleteword-header-modal" class="modal fade"
                                                            tabindex="-1" aria-labelledby="deleteword-header-modalLabel"
                                                            aria-hidden="true" style="display: none;">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div
                                                                        class="modal-header modal-colored-header bg-danger text-white">
                                                                        <h4 class="modal-title"
                                                                            id="danger-header-modalLabel">
                                                                            ยืนยันการลบคำใช้บ่อย
                                                                        </h4>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div align="left" class="modal-body">
                                                                        <label style="margin-bottom: 10px"> คำใช้บ่อย :
                                                                        </label>
                                                                        <div id="deletewords1">

                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-light"
                                                                            data-bs-dismiss="modal">ปิด</button>
                                                                        <button type="submit"
                                                                            class="btn btn-light-danger text-danger font-weight-medium">ลบคำใช้บ่อย</button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div>
                                                    </form>
                                                    <br>
                                                    <%}%>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Model -->
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-3" id="messages2" role="tabpanel">
                            <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none"
                                href="javascript:void(0)"></a>
                            <div class="scrollable ps-container ps-theme-default" style="height: calc(100vh - 25px);"
                                data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                <div class="p-3" align="center">
                                    <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->
                                    <div class="card-body">
                                        <div class="button-group">
                                            <!-- ------------------------------------------ -->
                                            <!-- Fullscreen -->
                                            <!-- ------------------------------------------ -->
                                            <div>
                                                <input id="code" value="<%=code%>" readonly hidden />
                                                <input id='code1' value="<%=code1%>" readonly hidden />
                                                <% for(var i=0;i<pd.length;i++){ %>
                                                    <br>
                                                    <a id="<%=pd[i].data_id%>" href="#" onclick="insertCode(this.id)">
                                                        <%=pd[i].data_name%>
                                                    </a>
                                                    <br>
                                                    <%}%>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Model -->
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <!-- -------------------------------------------------------------- -->
        <!-- Right Part -->
        <!-- -------------------------------------------------------------- -->
        <div class="right-part mail-list bg-white overflow-auto">
            <!-- Nav tabs -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">
                            <%=data1[0].doc_name%>
                        </h4>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-light-warning text-warning btn-lg px-4 fs-4 font-weight-medium"
                            data-bs-toggle="modal" data-bs-target="#bs-example-modal-xlg"
                            value="<%=data1[0].page_id%>">Preview</button>
                        <form action="/updatepaper/<%=data1[0].page_id%>" method="post">
                            <button type="submit" class="btn btn-dark"> Save Text </button>
                            <br /><br />
                            <div class="form-group">
                                <textarea id="myEditor1" class="summernote" name="page_content" cols="" rows=""
                                    style="display: none;"><%= data1[0].page_content %></textarea>
                            </div>
                            <div>
                                <input type='text' name='page_number' value="<%= data1[0].page_number %>" readonly
                                    hidden>
                            </div>
                        </form>
                    </div>
                    <div class="modal fade" id="bs-example-modal-xlg" tabindex="-1"
                        aria-labelledby="bs-example-modal-xlg" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <page size="A4">
                                    <div class="modal-header d-flex align-items-center">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <h4 align="center"
                                        style="margin-top: 52.8px; margin-left: 48px; margin-right: 48px;">
                                        <span align="center">
                                            <!-- <%=data1[0].doc_name%> -->
                                        </span>
                                    </h4>
                                    <div style="margin-left: 48px; margin-right: 48px;">
                                        <% for (var i=0;i<data.length;i++){%>
                                            <% if (data.length !=null){%>
                                                <% if (data[i].page_action !=1){%>
                                                    <% if (data1[0].page_id==data[i].page_id) {%>
                                                        <%-data[i].page_content%>
                                                            <%}%>
                                                                <%}%>
                                                                    <%}%>
                                                                        <%}%>

                                                                            <script>

                                                                            </script>



                                    </div>
                                    <div style="margin-bottom: 96px;" align='center'>
                                        <!-- <button type="button"
                                        class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
                                        data-bs-dismiss="modal">Close</button> -->
                                    </div>
                                </page>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function insertText(id) {
            const words = document.getElementById("words").value
            const words1 = document.getElementById('swords').value
            let sort_words = words.split(',')
            let sort_swords = words1.split(',')
            let obj = []
            for (i in sort_words) {
                obj.push({ "words_id": sort_words[i], "words_often": sort_swords[i] })
            }
            for (j in obj) {
                if (id == obj[j].words_id) {
                    $('#myEditor1').summernote('editor.saveRange');
                    // Editor loses selected range (e.g after blur)      
                    $('#myEditor1').summernote('editor.restoreRange');
                    $('#myEditor1').summernote('editor.focus');
                    $('#myEditor1').summernote('editor.insertText', obj[j].words_often);
                }
            }
        }
        function editwords(id) {
            const words = document.getElementById("words").value //words_id
            const words1 = document.getElementById('swords').value //words_often
            let sort_words = words.split(',')
            let sort_swords = words1.split(',')
            let obj = []
            var editwordsx = document.getElementById("editwords1");
            for (i in sort_words) {
                obj.push({ "words_id": sort_words[i], "words_often": sort_swords[i] })
            }
            for (j in obj) {
                if (id == obj[j].words_id) {
                    editwordsx.innerHTML = ' <div><input type="text" name="words_often" id="words_often" value="' + obj[j].words_often + '" class="form-control" required></div><div> <input type="text" name="words_id" id="words_id" value="' + obj[j].words_id + '" required></div>'
                }
            }
        }

        function deletewords(id) {
            const words = document.getElementById("words").value //words_id
            const words1 = document.getElementById('swords').value //words_often
            let sort_words = words.split(',')
            let sort_swords = words1.split(',')
            let obj = []
            var deletewordsx = document.getElementById("deletewords1");
            for (i in sort_words) {
                obj.push({ "words_id": sort_words[i], "words_often": sort_swords[i] })
            }
            for (j in obj) {
                if (id == obj[j].words_id) {
                    deletewordsx.innerHTML = ' <div><input type="text" name="words_often" id="words_often" value="' + obj[j].words_often + '" class="form-control" readonly></div><div> <input type="text" name="words_id" id="words_id" value="' + obj[j].words_id + '" ></div>'
                }
            }
        }

        function insertCode(id) {
            const code = document.getElementById("code").value
            const code1 = document.getElementById('code1').value
            let sort_code = code.split(',')
            let sort_code1 = code1.split(',')
            let obj = []
            for (i in sort_code) {
                obj.push({ "data_id": sort_code[i], "data_code": sort_code1[i] })
            }

            for (j in obj) {
                if (id == obj[j].data_id) {
                    $('#myEditor1').summernote('editor.saveRange');
                    // Editor loses selected range (e.g after blur)      
                    $('#myEditor1').summernote('editor.restoreRange');
                    $('#myEditor1').summernote('editor.focus');
                    $('#myEditor1').summernote('editor.insertText', obj[j].data_code);
                }
            }
        }
    </script>


    <%- include('../_footer') -%>