<footer class="footer">
    ALLTRA Version 1.0, All right reserved by Sense Info Tech Co., Ltd.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- customizer Panel -->
<!-- ============================================================== -->
<aside class="customizer">
    <a href="javascript:void(0)" class="service-panel-toggle">
        <i class="fa fa-spin fa-cog"></i>
    </a>
    <div class="customizer-body">
        <ul class="nav customizer-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true"><i class="mdi mdi-wrench fs-6"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#chat" role="tab"
                    aria-controls="chat" aria-selected="false"><i class="mdi mdi-message-reply fs-6"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false"><i class="mdi mdi-history fs-6"></i></a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!-- Tab 1 -->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="p-3 border-bottom">
                    <!-- Sidebar -->
                    <h5 class="font-weight-medium mb-2 mt-2">Layout Settings</h5>
                    <div class="form-check mt-3">
                        <input type="checkbox" name="theme-view" class="form-check-input" id="theme-view">
                        <label class="form-check-label" for="theme-view"> <span>Dark Theme</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" class="sidebartoggler form-check-input" name="collapssidebar"
                            id="collapssidebar">
                        <label class="form-check-label" for="collapssidebar"> <span>Collapse Sidebar</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" name="sidebar-position" class="form-check-input" id="sidebar-position">
                        <label class="form-check-label" for="sidebar-position"> <span>Fixed Sidebar</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" name="header-position" class="form-check-input" id="header-position">
                        <label class="form-check-label" for="header-position"> <span>Fixed Header</span> </label>
                    </div>
                    <div class="form-check mt-2">
                        <input type="checkbox" name="boxed-layout" class="form-check-input" id="boxed-layout">
                        <label class="form-check-label" for="boxed-layout"> <span>Boxed Layout</span> </label>
                    </div>
                </div>
                <div class="p-3 border-bottom">
                    <!-- Logo BG -->
                    <h5 class="font-weight-medium mb-2 mt-2">Logo Backgrounds</h5>
                    <ul class="theme-color m-0 p-0">
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-logobg="skin1"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-logobg="skin2"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-logobg="skin3"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-logobg="skin4"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-logobg="skin5"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-logobg="skin6"></a></li>
                    </ul>
                    <!-- Logo BG -->
                </div>
                <div class="p-3 border-bottom">
                    <!-- Navbar BG -->
                    <h5 class="font-weight-medium mb-2 mt-2">Navbar Backgrounds</h5>
                    <ul class="theme-color m-0 p-0">
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-navbarbg="skin1"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-navbarbg="skin2"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-navbarbg="skin3"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-navbarbg="skin4"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-navbarbg="skin5"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-navbarbg="skin6"></a></li>
                    </ul>
                    <!-- Navbar BG -->
                </div>
                <div class="p-3 border-bottom">
                    <!-- Logo BG -->
                    <h5 class="font-weight-medium mb-2 mt-2">Sidebar Backgrounds</h5>
                    <ul class="theme-color m-0 p-0">
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-sidebarbg="skin1"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-sidebarbg="skin2"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-sidebarbg="skin3"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-sidebarbg="skin4"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-sidebarbg="skin5"></a></li>
                        <li class="theme-item list-inline-item me-1"><a href="javascript:void(0)"
                                class="theme-link rounded-circle d-block" data-sidebarbg="skin6"></a></li>
                    </ul>
                    <!-- Logo BG -->
                </div>
            </div>
            <!-- End Tab 1 -->
            <!-- Tab 2 -->
            <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="pills-profile-tab">
                <ul class="mailbox list-style-none mt-3">
                    <li>
                        <div class="message-center chat-scroll position-relative">
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_1'
                                data-user-id='1'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/1.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle online"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Pavan kumar</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">Just see the my
                                        admin!</span> <span class="fs-2 text-nowrap d-block text-muted">9:30
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_2'
                                data-user-id='2'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/2.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle busy"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Sonu Nigam</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">I've sung a
                                        song! See you at</span> <span class="fs-2 text-nowrap d-block text-muted">9:10
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_3'
                                data-user-id='3'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/3.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle away"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Arijit Sinh</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">I am a
                                        singer!</span> <span class="fs-2 text-nowrap d-block text-muted">9:08
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_4'
                                data-user-id='4'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/4.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle offline"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Nirav Joshi</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">Just see the my
                                        admin!</span> <span class="fs-2 text-nowrap d-block text-muted">9:02
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_5'
                                data-user-id='5'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/5.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle offline"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Sunil Joshi</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">Just see the my
                                        admin!</span> <span class="fs-2 text-nowrap d-block text-muted">9:02
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_6'
                                data-user-id='6'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/6.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle offline"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Akshay Kumar</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">Just see the my
                                        admin!</span> <span class="fs-2 text-nowrap d-block text-muted">9:02
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_7'
                                data-user-id='7'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/7.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle offline"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Pavan kumar</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">Just see the my
                                        admin!</span> <span class="fs-2 text-nowrap d-block text-muted">9:02
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                            <!-- Message -->
                            <a href="javascript:void(0)"
                                class="message-item d-flex align-items-center border-bottom px-3 py-2" id='chat_user_8'
                                data-user-id='8'>
                                <span class="user-img position-relative d-inline-block"> <img
                                        src="../assets/images/users/8.jpg" alt="user" class="rounded-circle w-100">
                                    <span class="profile-status rounded-circle offline"></span> </span>
                                <div class="w-75 d-inline-block v-middle ps-3">
                                    <h5 class="message-title mb-0 mt-1">Varun Dhavan</h5> <span
                                        class="fs-2 text-nowrap d-block text-muted text-truncate">Just see the my
                                        admin!</span> <span class="fs-2 text-nowrap d-block text-muted">9:02
                                        AM</span>
                                </div>
                            </a>
                            <!-- Message -->
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Tab 2 -->
            <!-- Tab 3 -->
            <div class="tab-pane fade p-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h4 class="mt-3 mb-3">ประวัติการใช้งาน</h4>
                <div class="steamline">
                    <%for (var i=0;i<session.log.length/2;i++){%>
                        <div class="sl-item">
                            <div class="sl-left bg-light-success text-success">
                                <i data-feather="user" class="feather-sm fill-white"></i>
                            </div>
                            <div class="sl-right">
                                <div class="font-weight-medium" style="font-weight: 600;">
                                    <h5>
                                        <%=session.firstname +" "+ session.lastname %></h5>
                                </div>
                                <div style=" line-height: 1.1;margin-bottom: 5%;">
                                            <span style=" font-size: 13px;color: #90a4ae;">
                                                <%=session.log[i].log_action%>
                                            </span>
                                            <br>
                                            <span style=" font-size: 13px;color: #90a4ae;">
                                                <%=session.log[i].time%>
                                                    <%=session.day[i]%>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>
        <!-- End Tab 3 -->
    </div>
</aside>
<div class="chat-windows"></div>


<!-- 
<script type="text/javascript" src="https://your-site-or-cdn.com/fontawesome/v6.0.0/js/conflict-detection.js">
</script> -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- apps -->
<script src="../dist/js/app.min.js"></script>
<script src="../dist/js/app.init.mini-sidebar.js"></script>
<script src="../dist/js/app-style-switcher.js"></script>
<!-- Theme settings -->
<script src="../dist/js/app-style-switcher.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="../assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="../dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../dist/js/feather.min.js"></script>
<script src="../dist/js/custom.min.js"></script>
<script src="../assets/libs/tablesaw/dist/tablesaw.jquery.js"></script>
<script src="../assets/libs/tablesaw/dist/tablesaw-init.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<!-- <script src="../dist/js/pages/dashboards/dashboard2.js"></script> -->
<!--This page JavaScript -->
<script src="../dist/js/pages/notes/notes.js"></script>

<!--sweet alert2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--This page plugins datatable -->
<!-- <script src="../assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../dist/js/pages/datatable/custom-datatable.js"></script>
<script src="../dist/js/pages/datatable/datatable-basic.init.js"></script> -->

<!-- <script src="../dist/dtthai.js"></script> -->

<!-- This Page JS -->
<script src="../dist/js/pages/email/email.js"></script>
<!-- <script src="../assets/libs/summernote/dist/summernote-bs4.min.js"></script> -->
<script src="../assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<!-- apexcharts JS -->
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/chart.js/dist/Chart.min.js"></script>
<!-- <script src="../assets/libs/chart.js/dist/Chart.min.js"></script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
crossorigin="anonymous"></script> -->

</body>

</html>