<%- include ("../../views/header") %>


    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ระบบสมาชิก</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>

                            <li class="breadcrumb-item active" aria-current="page">ระบบสมาชิก</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card ">

            
        </div>
    </div>

    <!-- Modal add Domain -->
    <!-- <div class="modal fade" id="add-cookietype-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-success text-white">
                    <h4 class="modal-title" id="exampleModalLabel1">เพิ่มประเภทคุกกี้</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/save/cookietypes" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="control-label">ชื่อหมวดหมู่คุกกี้</label>
                            <input type="text" class="form-control" id="recipient-name1" name="name_cp" required>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="control-label">เนื้อหา</label>
                            <textarea class="form-control" id="message-text1" name="detail_cp"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- Modal edit cookietype -->
    <!-- <div class="modal fade" id="edit-cookietype-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-info text-white ">
                    <h4 class="modal-title" id="exampleModalLabel1">เพิ่มประเภทคุกกี้</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/edit/cookietypes" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="control-label">ชื่อหมวดหมู่คุกกี้</label>
                            <input type="text" class="form-control" id="name_cp_id" name="name_cp" required>
                            <input type="text" class="form-control" id="id_cp" name="id_cp" hidden>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="control-label">เนื้อหา</label>
                            <textarea class="form-control" id="detail_cp_id" name="detail_cp"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <%- include ("../../views/footer") %>