<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">เปลี่ยนรหัสผ่าน</h3>
                <div class="d-flex align-items-center">
                    <!-- <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                                <li class="breadcrumb-item"><a href="/index2">การจัดการระบบ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">ตั้งค่าระบบ</li>

                            </ol>
                        </nav> -->
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body border-bottom">
                <h2 class="card-title">เปลี่ยนรหัสผ่าน</h2>
            </div>
            <form class="form-horizontal needs-validation" novalidate action="/changepw" method="post">
                <div class="card-body">
                    <!-- <input type="hidden" value="<%=data[0].acc_id%>" name="acc_id"> -->
                    <div class="mb-3 row">
                        <label for="num_admin" class="col-sm-3 text-end control-label col-form-label text-secondary">ชื่อผู้ใช้</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control border border-info" id="num_admin" placeholder="จำนวนคน" value="<%=data[0].username%>" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="num_user" class="col-sm-3 text-end control-label col-form-label text-secondary">ตั้งค่ารหัสผ่านใหม่</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control border border-info" id="num_user" placeholder="รหัสผ่าน" required name="password">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ntp" class="col-sm-3 text-end control-label col-form-label text-secondary" for="sender">ยืนยันรหัสผ่าน</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control border border-info" id="ntp" placeholder="ยืนยันรหัสผ่าน" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="pw_keep" class="col-sm-3 text-end control-label col-form-label text-secondary">ระยะเวลาในการเปลี่ยนรหัสผ่าน</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control border border-info" id="pw_keep" placeholder="จำนวนวัน" required name="pw_keep">
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success rounded-pill px-4 waves-effect waves-light">ยืนยัน</button>
                        </div>
                        <div class="col-sm-4">
                            <a href="/index2"> <button type="button" class="btn btn-secondary rounded-pill px-4 waves-effect waves-light">กลับ</button></a>
                        </div>
                    </div><br> -->
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-success waves-effect waves-light">ยืนยัน</button>
                        </div>
                        <div class="col-sm-1">
                            <a href="/index2"> <button type="button" class="btn btn-secondary waves-effect waves-light">กลับ</button></a>
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </div>
                    <br>
            </form>
            </div>
        </div>
        <!-- Row -->


        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
            <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
            <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
            <script>
                function myFunction() {
                    var popup = document.getElementById("sa-bg23");
                    popup.classList.toggle("sa-bg23");
                }
                $("#sa-bg23").click(function() {
                    Swal.fire({
                        title: 'Custom width, padding, background.',
                        width: 600,
                        padding: '3em',
                        background: '#fff url(../assets/images/background/active-bg.png)',
                        backdrop: `
                            rgba(0,0,123,0.4)
                            url("../assets/images/background/nyan-cat.gif")
                            center left
                            no-repeat
                        `
                    })
                });
            </script>