<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">ตั้งค่าระบบ</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index2">การจัดการระบบ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ข้อมูลการตั้งค่าระบบ</li>

                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== --
        <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="card-body">
                            <div class="border-bottom title-part-padding">
                                <h4 class="card-title  mb-0">ข้อมูลการตั้งค่าระบบ</h4>
                            </div>
                            <form class="form-horizontal needs-validation" novalidate action="/settingadd" method="post" id="Formadd">
                                <div class="card-body" style="min-height: 650px;">
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">จำนวนผู้ดูแลระบบ </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data[0].num_admin%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">จำนวนผู้ดูแลข้อมูล </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data[0].num_user%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">ระยะเวลาในการเปลี่ยนรหัสผ่าน </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data[0].day_keep%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">เครื่องแม่ข่ายที่ให้บริการปรับเทียบเวลา (NTP) </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data[0].ntp%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">เขตเวลา </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data[0].timezone%></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">IP Addressลา </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data3[0].ip%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">Netmark </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data3[0].netmark%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">Gateway </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data3[0].gateway%></label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-sm-6 text-end control-label col-form-label text-secondary">DNS </label>
                                        <div class="col-sm-3">
                                            <label class="control-label col-form-label"><%=data3[0].dns%></label>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-sm-5">
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/setting"> <button type="button" class="btn btn-lg  btn-warning waves-effect waves-light">แก้ไข</button>
                                            </a>
                                            <a href="/index2"> <button type="button" class="btn btn-lg  btn-secondary waves-effect waves-light">กลับ</button></a>

                                        </div>

                                        <div class="col-sm-5">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
        <!--start overlay-->
        <%- include('../_footer') -%>
            <script src="/UI/assets/libs/select2/dist/js/select2.full.min.js"></script>
            <script src="/UI/assets/libs/select2/dist/js/select2.min.js"></script>
            <script src="/UI/dist/js/pages/forms/select2/select2.init.js"></script>
            <script>
                function myFunction() {
                    var popup = document.getElementById("sa-bg23");
                    popup.classList.toggle("sa-bg23");
                }
                $("#sa-bg23").click(function() {
                    Swal.fire({
                        title: 'Custom width, padding, background.',
                        width: 600,
                        padding: '3em',
                        background: '#fff url(../assets/images/background/active-bg.png)',
                        backdrop: `
                            rgba(0,0,123,0.4)
                            url("../assets/images/background/nyan-cat.gif")
                            center left
                            no-repeat
                        `
                    })
                });
            </script>
            <script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="/UI/assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>

            <script>
                var userid = <%-JSON.stringify(session.userid)%>;

                // var z = <%-JSON.stringify(data2)%>;
                // var select = {};
                // var select2 = {};
                // for (let i = 0; i < x.length; i++) {
                //     select[x[i].group_id] = x[i].g_name
                // }
                // for (let i = 0; i < z.length; i++) {
                //     select2[z[i].acc_id] = z[i].name
                // }
                $("#sa-chain3").click(function() {

                    Swal.mixin({
                        input: 'text',
                        confirmButtonText: 'Next &rarr;',
                        showCancelButton: true,
                        progressSteps: ['1', '2']
                    }).queue([{
                        title: 'การยืนยันแบบ 2 ขั้นตอน',
                        text: 'ยันยืนรหัสผ่าน'
                    }, {
                        title: 'การยืนยันแบบ 2 ขั้นตอน',
                        text: 'OTP by Google Authenticator'
                    }]).then((result) => {

                        // var data1 = JSON.stringify(result.value)

                        if (result.value) {
                            var request1 = function() {
                                console.log(result);
                                result["userid"] = userid;
                                $.ajax({
                                    url: "http://119.81.44.155:8081/ajaxcheckuser",
                                    type: "post",
                                    data: result,
                                    success: function(data) {
                                        var result = data.data;
                                        if (result.length == 0) {
                                            alert("ใส่รหัสผ่านผิด")
                                            setInterval('location.reload()', 200);
                                        } else {
                                            $('#Formadd').trigger('submit');
                                            alert("บันทึกข้อมูลเรียบร้อย");
                                        }

                                    }
                                });
                            }
                            request1();
                        }
                    })
                });
            </script>