<%- include('../_header') -%>
    <style>
        .border-mos {
            flex: 1 1 auto;
            border: solid;
            border-radius: 15px;
            margin-top: 25px;
            margin: 10;
            border-radius: 15;
            /* margin-left: 25px;
                margin-right: 25px; */
            border-color: darkgrey;
            padding: 0;
        }
    </style>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-2 align-self-center">
                <h3 class="page-title">สรุปรายการโฮส</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                            <!-- <li class="breadcrumb-item"><a href="#">การตั้งค่า</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">สรุปรายการโฮส</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>


    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">Total Events</h4><br>

                        <div class="row">
                            <div class="col-1"> </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-primary waves-effect waves-light">7 วัน</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success waves-effect waves-light">30 วัน</button>
                            </div>
                        </div>
                        <div class="row border-top">
                            <div class="col-9  ">
                                <input class="form-control" type="datetime-local" name="date2" required>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Top Total Event</h4>
                            <br>
                            <div class="message-box scrollable" style="height: 230px;">
                                <div class="message-widget message-scroll">
                                    <!-- Message -->
                                    <% if (data){ for (var i = 0; i < data.length; i++) { %>
                                        <a href="/log/check/<%=data[i].device_id%>" class="d-flex align-items-center border-bottom p-3">
                                            <div class="user-img position-relative d-inline-block mr-0 mr-md-3">
                                                <img src="/UI/image/<%=data[i].image%>" alt="user" class="rounded w-100" style="height: 45px;">

                                                <span class="profile-status rounded-circle online"></span>
                                            </div>
                                            <div class="w-85 d-md-flex align-items-center v-middle ps-3">
                                                <div class="w-85">
                                                    <h5 class="mb-0 mt-1 font-weight-medium">
                                                        <%=data[i].name%>
                                                    </h5>
                                                    <span class="fs-3 text-nowrap d-block text-truncate mail-desc text-muted fw-normal"><%=data[i].num%></span>
                                                </div>
                                            </div>
                                        </a>
                                        <%  }} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Top EPS</h4>
                            <br>
                            <div class="message-box scrollable" style="height: 230px;">
                                <div class="message-widget message-scroll">
                                    <!-- Message -->
                                    <% if (data2){ for (var i = 0; i < data2.length; i++) { %>
                                        <a href="/log/check/<%=data2[i].device_id%>" class="d-flex align-items-center border-bottom p-3">
                                            <div class="user-img position-relative d-inline-block mr-0 mr-md-3">
                                                <img src="/UI/image/<%=data2[i].image%>" alt="user" class="rounded w-100" style="height: 45px;">

                                                <span class="profile-status rounded-circle online"></span>
                                            </div>
                                            <div class="w-85 d-md-flex align-items-center v-middle ps-3">
                                                <div class="w-85">
                                                    <h5 class="mb-0 mt-1 font-weight-medium">
                                                        <%=data2[i].name%>
                                                    </h5>
                                                    <span class="fs-3 text-nowrap d-block text-truncate mail-desc text-muted fw-normal"><%=data2[i].num%></span>
                                                </div>
                                            </div>
                                        </a>
                                        <%  }} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Top Total Log Useage</h4>
                            <br>
                            <div class="message-box scrollable" style="height: 230px;">
                                <div class="message-widget message-scroll">
                                    <!-- Message -->
                                    <% if (data2){ for (var i = 0; i < data2.length; i++) { %>
                                        <a href="/log/check/<%=data2[i].device_id%>" class="d-flex align-items-center border-bottom p-3">
                                            <div class="user-img position-relative d-inline-block mr-0 mr-md-3">
                                                <img src="/UI/image/<%=data2[i].image%>" alt="user" class="rounded w-100" style="height: 45px;">

                                                <span class="profile-status rounded-circle online"></span>
                                            </div>
                                            <div class="w-85 d-md-flex align-items-center v-middle ps-3">
                                                <div class="w-85">
                                                    <h5 class="mb-0 mt-1 font-weight-medium">
                                                        <%=data2[i].name%>
                                                    </h5>
                                                    <span class="fs-3 text-nowrap d-block text-truncate mail-desc text-muted fw-normal"><%=data2[i].num%></span>
                                                </div>
                                            </div>
                                        </a>
                                        <%  }} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Total Events</h4><br>
                            <div class="text-center" id="Total_Events"></div>
                        </div>
                        <div class="p-2 text-center border-top">
                            <h4 class="font-weight-medium mb-0">
                                <%if(data3){%>
                                    <%=data3[0].num%>
                                        <%}else{%> 0
                                            <%}%>
                            </h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Total Bandwidth</h4>
                            <div id="mossparkline"></div>
                        </div>
                        <div class="p-2 text-center border-top">
                            <h4 class="font-weight-medium mb-0">12456</h4>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="text-center">Total Log Usage</h4><br>
                            <div class="text-center" id="Total_Events"></div>
                        </div>
                        <div class="p-2 text-center border-top">
                            <h4 class="font-weight-medium mb-0">
                                <%if(data3){%>
                                    <%=data3[0].num%>
                                        <%}else{%> 0
                                            <%}%>
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex no-block align-items-center">
                            <h4 class="font-weight-medium">
                                ปริมาณข้อมูลล็อก
                            </h4>
                        </div>
                        <div id="total-events"></div>
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body analytics-info">
                        <div id="pie" style="height:345px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-8">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#samedata2-modal" data-bs-whatever="@mdo" type="button"><i class="fas fa-upload"></i> เปรียบเทียบ</button>
            </div>

        </div>
        <% if (data7){ for (var i = 0; i < data7.length; i++) { %>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row" style=" margin-left: 5px ;margin-right: 5px">
                            <div class="col-lg-3 col-md-6  ">
                                <div class="card border-mos">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start">
                                            <div>
                                                <h4 class="card-title">ปริมาณล็อก</h4>
                                                <h6 class="card-subtitle">
                                                    <%=data7[i].log%>
                                                </h6>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="dropdown">
                                                    <a href="#" class="link" id="new" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i data-feather="more-horizontal" class="feather-sm"></i>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="new">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="earnings-month<%=i%>"></div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6  ">
                                <div class="card border-mos">
                                    <div class="card-body">
                                        <h4 class="card-title">จำนวนไฟล์</h4>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="me-2 mdi mdi-file-chart text-success" style="font-size: 30px;"></i>
                                            </div>
                                            <div class="text-end col-10">
                                                <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i>
                                                    <%=data7[i].event%>
                                                </h2>
                                                <span class="text-muted">ไฟล์</span>
                                            </div>
                                        </div>
                                        <span class="text-success">80%</span>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6  ">
                                <div class="card border-mos">
                                    <div class="card-body">
                                        <h4 class="card-title">พื้นที่ใช้ไปทั้งสิ้น</h4>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="me-2 mdi mdi-server-security text-primary" style="font-size: 30px;"></i>
                                            </div>
                                            <div class="text-end col-10">
                                                <h2 class="fw-light mb-0"><i class="ti-arrow-up text-primary"></i> $120</h2>
                                                <span class="text-muted">GB</span>
                                            </div>
                                        </div>
                                        <span class="text-primary">80%</span>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6  ">
                                <div class="card border-mos">
                                    <div class="card-body">
                                        <h4 class="card-title">ปริมาณเหตุการณ์</h4>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="me-2 mdi mdi-chart-areaspline text-warning" style="font-size: 30px;"></i>
                                            </div>
                                            <div class="text-end col-10">
                                                <h2 class="fw-light mb-0"><i class="ti-arrow-up text-warning"></i>
                                                    <%=data7[i].file%>
                                                </h2>
                                                <span class="text-muted">เหตุการณ์</span>
                                            </div>
                                        </div>
                                        <span class="text-warning">80%</span>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6  ">
                                <div class="card border-mos">
                                    <div class="card-body">
                                        <h4 class="card-title">จำนวนวันที่จัดเก็บ</h4>
                                        <div class="row">
                                            <div class="col-2">
                                                <i class="me-2 mdi mdi-calendar-range text-info" style="font-size: 30px;"></i>
                                            </div>
                                            <div class="text-end col-10">
                                                <h2 class="fw-light mb-0"><i class="ti-arrow-up text-info"></i>
                                                    <%=data7[i].date%>
                                                </h2>
                                                <span class="text-muted">วัน</span>
                                            </div>
                                        </div>
                                        <span class="text-info">80%</span>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-1">
                        <div class="card">
                            <div class="row">
                                <i class="me-2 mdi mdi-cloud-print" style="font-size: 35px; text-align: center;"></i>
                            </div>
                        </div>
                    </div> -->
            </div>
            <%}}%>
                <div class="modal fade" id="samedata2-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                            <div class="modal-header d-flex align-items-center">

                                <h4 class="card-title"><i class="fas fa-upload"></i> &nbsp;ข้อกำหนดการเฝ้าระวัง
                                </h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                            </div>
                            <div class="modal-body">
                                <form action="/comparedevice" method="post">
                                    <input type="hidden" value="<%=session.device_id%>" name="device_id">
                                    <input type="hidden" value="<%=session.device_data%>" name="compare_device">

                                    <div class="mb-3 row">
                                        <label class="col-sm-3 text-end control-label col-form-label text-secondary" for="spec">เลือกอุปกรณ์</label>
                                        <div class="col-sm-6">
                                            <select class=".select2-with-border border-info form-control" style="width: 100%; height:36px;" name="device_id">
                                        <option  >กรุณาเลือก</option>
                                        <%  if(data6){ %>
                                            <%  for (var i = 0; i < data6.length; i++) {  %>
                                          <option value="<%= data6[i].device_id %>" > <%= data6[i].name %>  </option>
                                          <%  } }%>
                                    </select>
                                        </div>
                                    </div>

                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-success btn waves-effect waves-light btn-lg">ยืนยัน</button>
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" class="btn btn-secondary waves-effect waves-light  btn-lg" data-bs-dismiss="modal">ยกเลิก</button>
                                        </div>
                                        <div class="col-sm-5">
                                        </div>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -------------------------------------------------------------- -->
                <!-- End PAge Content -->
                <!-- -------------------------------------------------------------- -->
                <!--start overlay-->
                <%- include('../_footer') -%>



                    <script>
                        $(document).ready(function() {
                            var x = <%-JSON.stringify(data4)%>;
                            var count = [];
                            for (var i = 0; i < x.length; i++) {
                                count.push(x[i].num);
                            }
                            $("#Total_Events").sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                                type: 'bar',
                                height: '50',
                                barWidth: '2',
                                resize: true,
                                barSpacing: '5',
                                barColor: '#f62d51'
                            });
                            $("#Total_Bandwidth").sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                                type: 'bar',
                                height: '50',
                                barWidth: '2',
                                resize: true,
                                barSpacing: '5',
                                barColor: '#39c449'
                            });
                            $("#Total_Log_Usage").sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                                type: 'bar',
                                height: '50',
                                barWidth: '2',
                                resize: true,
                                barSpacing: '5',
                                barColor: '#7460ee'
                            });
                        });
                    </script>
                    <script>
                        $(function() {
                            "use strict"
                            var logs = [];
                            var de = [];
                            var x = <%-JSON.stringify(session.logperhour)%>;
                            var option_Product_Calculation = {
                                series: x,
                                chart: {
                                    fontFamily: 'Rubik,sans-serif',
                                    height: 301,
                                    type: "area",
                                    toolbar: {
                                        show: false,
                                    },
                                },
                                fill: {
                                    type: 'solid',
                                    opacity: 0.2,
                                    colors: ['#ffbc34', '#7460ee', '#f62d51', '#009efb', '#008FFB', '#efefef'] //ในกราฟใต้เส้น

                                },
                                grid: {
                                    show: true,
                                    strokeDashArray: 3,
                                    borderColor: "rgba(0,0,0,0.1)",
                                    xaxis: {
                                        lines: {
                                            show: true
                                        }
                                    },
                                },
                                colors: ['#ffbc34', '#7460ee', '#f62d51', '#009efb', '#008FFB', '#efefef'], //ในกราฟ
                                dataLabels: {
                                    enabled: false,
                                },
                                stroke: {
                                    curve: "smooth",
                                    width: 1,
                                    colors: ['#ffbc34', '#7460ee', '#f62d51', '#009efb', '#008FFB', '#efefef'] // เส้นกราฟ

                                },
                                markers: {
                                    size: 3,
                                    strokeColors: "transparent",
                                    colors: ['#ffbc34', '#7460ee', '#f62d51', '#009efb', '#008FFB', '#efefef'] //จุด

                                },
                                xaxis: {
                                    axisBorder: {
                                        show: true,
                                    },
                                    axisTicks: {
                                        show: true,
                                    },
                                    categories: x[0].hours,
                                    labels: {
                                        style: {
                                            colors: "#a1aab2",
                                        },
                                    },
                                },
                                yaxis: {
                                    labels: {
                                        style: {
                                            colors: "#a1aab2",
                                        },
                                    },
                                },
                                tooltip: {
                                    x: {
                                        format: "dd/MM/yy HH:mm",
                                    },
                                    theme: "dark",
                                },
                                legend: {
                                    show: false,
                                },
                            };

                            var chart_area_spline = new ApexCharts(document.querySelector("#total-events"), option_Product_Calculation);
                            chart_area_spline.render();
                        });
                    </script>
                    <script>
                        $(function() {
                            "use strict"
                            var y = <%-JSON.stringify(session.pushdata)%>;
                            for (var i = 0; i < y.length; i++) {
                                var card1 = {
                                    series: [{
                                        name: "Weekly Sales",
                                        data: [0, 3, 1, 2, 8, 1, 5, 1]
                                    }],
                                    chart: {
                                        height: 59,
                                        type: 'area',
                                        fontFamily: '"Nunito Sans",sans-serif',
                                        zoom: {
                                            enabled: false
                                        },
                                        toolbar: {
                                            show: false
                                        },
                                        sparkline: {
                                            enabled: true
                                        }
                                    },
                                    dataLabels: {
                                        enabled: false
                                    },
                                    colors: ['#b558ef69'],
                                    stroke: {
                                        curve: 'smooth',
                                        width: 2
                                    },
                                    fill: {
                                        type: 'solid',
                                        opacity: 0.2
                                    },
                                    grid: {
                                        show: false
                                    },
                                    xaxis: {
                                        show: false
                                    },
                                    yaxis: {
                                        show: false
                                    },
                                    tooltip: {
                                        theme: "dark",
                                    },
                                };
                                var chart1 = new ApexCharts(document.querySelector(".earnings-month" + [i]), card1);
                                chart1.render();
                            }

                        });
                    </script>
                    <script>
                        $(function() {
                            "use strict";
                            var x = <%-JSON.stringify(data5)%>;
                            var count = [];
                            var de_name = [];
                            var de_series = []
                            for (var i = 0; i < x.length; i++) {
                                de_name.push(x[i].de_type);
                                count.push(x[i].num);
                                de_series.push({
                                        value: x[i].num,
                                        name: x[i].de_type
                                    }

                                )
                            }
                            console.log(de_series);
                            var basicpieChart = echarts.init(document.getElementById('pie'));
                            var option = {
                                // Add title
                                title: {
                                    text: 'สัดส่วนของล็อกแต่ละประเภท',
                                    // subtext: 'Open source information',
                                    x: 'center'
                                },

                                // Add tooltip
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                                },

                                // Add legend
                                legend: {
                                    orient: 'vertical',
                                    x: 'left',
                                    // data: ['IE', 'Opera', 'Safari', 'Firefox', 'Chrome']
                                    data: de_name
                                },

                                // Add custom colors
                                color: ['#ffbc34', '#7460ee', '#212529', '#f62d51', '#008FFB', '#efefef'],



                                // Enable drag recalculate
                                calculable: true,

                                // Add series
                                series: [{
                                    name: 'ปริมาณล็อกจาก',
                                    type: 'pie',
                                    radius: '75%',
                                    center: ['50%', '57.5%'],
                                    // data: [{
                                    //         value: 335,
                                    //         name: 'IE'
                                    //     }, {
                                    //         value: 310,
                                    //         name: 'Opera'
                                    //     }, {
                                    //         value: 234,
                                    //         name: 'Safari'
                                    //     }, {
                                    //         value: 135,
                                    //         name: 'Firefox'
                                    //     }, {
                                    //         value: 1548,
                                    //         name: 'Chrome'
                                    //     }]
                                    data: de_series
                                }]
                            };

                            basicpieChart.setOption(option);

                        });
                    </script>