<%- include ("../../views/header") %>

    <!-- <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">จัดการประเภทคุกกี้</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/home">จัดการ Cookie</a></li>
                            <li class="breadcrumb-item active" aria-current="page">จัดการประเภทคุกกี้</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">เขียน e-mail</h4>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div> -->
    <!-- <div class="container-fluid"> -->

    <div class="email-app">
        <!-- -------------------------------------------------------------- -->
        <!-- Left Part -->
        <!-- -------------------------------------------------------------- -->
        <div class="left-part">
            <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
            <div class="scrollable" style="height: calc(100vh - 25px);">
                <div class="p-3">
                    <a id="compose_mail" class="waves-effect waves-light btn btn-info d-block"
                        href="javascript: void(0)">เขียน e-mail</a>
                </div>
                <div class="divider"></div>
                <ul class="list-group">
                    <li>
                        <small class="p-3 d-block text-uppercase text-dark font-weight-medium">เเฟ้ม</small>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="active list-group-item-action d-flex align-items-center"
                            id="Inbox"><i data-feather="inbox" class="feather-sm fill-white me-2"></i> Inbox <span
                                class="badge bg-light-success text-success px-3 rounded-pill font-weight-medium ms-auto">6</span></a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="list-group-item-action d-block"> <i data-feather="star"
                                class="feather-sm fill-white me-2"></i> Starred </a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="list-group-item-action d-flex align-items-center"
                            id="Draft"> <i data-feather="send" class="feather-sm fill-white me-2"></i> Draft <span
                                class="badge bg-light-danger text-danger font-weight-medium px-3 rounded-pill ms-auto">3</span></a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="list-group-item-action d-block">
                            <i class="fa-solid fa-envelope-open me-2"></i>ฉบับร่าง </a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="list-group-item-action d-block"> <i data-feather="mail"
                                class="feather-sm fill-white me-2"></i> ส่งข้อความ </a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <hr>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="list-group-item-action d-block"> <i data-feather="slash"
                                class="feather-sm fill-white me-2"></i> Spam </a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <a href="javascript:void(0)" class="list-group-item-action d-block"> <i data-feather="trash-2"
                                class="feather-sm fill-white me-2"></i> ถังขยะ </a>
                    </li>
                    <li class="list-group-item border-0 p-0">
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- Right Part -->
        <!-- -------------------------------------------------------------- -->
        <div class="right-part mail-list bg-white overflow-auto">
            <div class="p-3 border-bottom">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4>Mailbox </h4>
                        <span>Here is the list of mail</span>
                    </div>
                    <div class="ms-auto mt-3 mt-md-0">
                        <input placeholder="Search Mail" id="" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <!-- Action part -->
            <!-- Button group part -->
            <div class="bg-light p-3 d-md-flex align-items-center">
                <div class="btn-group mt-1 mb-1">
                    <div class="form-check">
                        <input type="checkbox" class="sl-all form-check-input danger check-light-danger" id="cstall">
                        <label class="form-check-label" for="cstall">Check All</label>
                    </div>
                </div>
                <div class="ms-auto">
                    <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-outline-secondary fs-5"><i
                                class="mdi mdi-reload"></i></button>
                        <button type="button" class="btn btn-outline-secondary fs-5"><i
                                class="mdi mdi-alert-octagon"></i></button>
                        <button type="button" class="btn btn-outline-secondary fs-5"><i
                                class="mdi mdi-delete"></i></button>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="mdi mdi-folder fs-5 "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> </div>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="mdi mdi-label fs-5"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Action part -->
            <!-- Mail list-->
            <div class="table-responsive">
                <table class="table email-table no-wrap table-hover v-middle">
                    <tbody>
                        <% if (pdpa_email) {%>
                            <%for (var i=0;i<pdpa_email.length;i++){%>
                                <tr class="unread">
                                    <!-- label -->
                                    <td class="chb">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="cst1">
                                            <label class="form-check-label" for="cst1">&nbsp;</label>
                                        </div>
                                    </td>
                                    <!-- star -->
                                    <td class="starred"><i class="far fa-star"></i></td>
                                    <!-- User -->
                                    <td class="user-image"><img src="../assets/images/users/1.jpg" alt="user"
                                            class="rounded-circle" width="30"></td>

                                    <!-- Message -->
                                    <td class="max-texts text-truncate px-1 py-3 no-wrap" style="width: 25%;">
                                        <%=pdpa_email[i].email_to%>
                                    </td>

                                    <td class="max-texts text-truncate px-1 py-3 no-wrap">
                                        <%=pdpa_email[i].email_subject%>
                                    </td>
                                    <td class="max-texts text-truncate px-1 py-3 no-wrap">
                                        <% if (pdpa_email[i].email_status==0){%>
                                            <p style="color: rgb(237, 240, 88);">
                                                รอการยินยอม
                                            </p>
                                            <%} else if(pdpa_email[i].email_status==1) {%>
                                                <P style="color: rgb(39, 233, 39);">
                                                    ยินยอม
                                                </P>
                                                <%} else {%>
                                                    <p style="color: red">
                                                        ไม่ยินยอม
                                                    </p>
                                                    <%}%>
                                    </td>
                                    <td style="width: 10%;">
                                        <% if (pdpa_email[i].email_status==0){%>
                                            <a href="/resend-email/<%=pdpa_email[i].id_email%>"
                                                class="btn btn-warning">ส่งใหม่</a>
                                            <%} else if(pdpa_email[i].email_status==1) {%>
                                                <!-- <a href="" class="btn btn-info">ยินยอม</a> -->
                                                <a href="/resend-email/<%=pdpa_email[i].id_email%>"
                                                    class="btn btn-warning">ส่งใหม่</a>
                                                <%} else {%>
                                                    <!-- <a href="" class="btn btn-info">ไม่ยินยอม</a> -->
                                                    <a href="/resend-email/<%=pdpa_email[i].id_email%>"
                                                        class="btn btn-warning">ส่งใหม่</a>
                                                    <%}%>

                                    </td>
                                    <td class="time">
                                        <%=pdpa_email[i].time%>
                                    </td>

                                </tr>
                                <% }%>
                                    <%}%>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="right-part mail-list-Draft bg-white overflow-auto">
            <div class="p-3 border-bottom">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4> Draft Mailbox </h4>
                        <span>Here is the list of mail</span>
                    </div>
                    <div class="ms-auto mt-3 mt-md-0">
                        <input placeholder="Search Mail" id="" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <!-- Action part -->
            <!-- Button group part -->
            <div class="bg-light p-3 d-md-flex align-items-center">
                <div class="btn-group mt-1 mb-1">
                    <div class="form-check">
                        <input type="checkbox" class="sl-all form-check-input danger check-light-danger" id="cstall">
                        <label class="form-check-label" for="cstall">Check All</label>
                    </div>
                </div>
                <div class="ms-auto">
                    <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-outline-secondary fs-5"><i
                                class="mdi mdi-reload"></i></button>
                        <button type="button" class="btn btn-outline-secondary fs-5"><i
                                class="mdi mdi-alert-octagon"></i></button>
                        <button type="button" class="btn btn-outline-secondary fs-5"><i
                                class="mdi mdi-delete"></i></button>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="mdi mdi-folder fs-5 "></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> </div>
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="mdi mdi-label fs-5"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> <a class="dropdown-item"
                                    href="javascript:void(0)">Dropdown link</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Action part -->
            <!-- Mail list-->
            <div class="table-responsive">
                <table class="table email-table no-wrap table-hover v-middle">
                    <tbody>
                        <!-- row -->
                        <tr class="unread">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst1">
                                    <label class="form-check-label" for="cst1">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/1.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Hanna Gover</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"><span
                                        class="badge bg-light-danger text-danger font-weight-medium rounded-pill px-3 me-2">Work</span>
                                    <span class="blue-grey-text text-darken-4">Lorem ipsum perspiciatis-</span> unde
                                    omnis iste natus error sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> 12:30 PM </td>
                        </tr>
                        <!-- row -->
                        <tr class="unread">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst2">
                                    <label class="form-check-label" for="cst2">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/2.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Genelia Roshan</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"><span
                                        class="badge bg-light-info text-info font-weight-medium rounded-pill px-3 me-2">Business</span>
                                    <span class="blue-grey-text text-darken-4">Inquiry about license </span>for
                                    Admin
                                    Template please provide us the license detail </a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> 11:30 AM </td>
                        </tr>
                        <!-- row -->
                        <tr class="unread">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst3">
                                    <label class="form-check-label" for="cst3">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/3.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name max-texts text-truncate px-1 py-3 no-wrap">
                                <h6 class="mb-0">Ritesh Deshmukh</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"><span
                                        class="badge bg-light-warning text-warning font-weight-medium px-3 rounded-pill me-2">Friend</span>
                                    <span class="blue-grey-text text-darken-4">Bitbucket (commit Pushed) by
                                        Ritesh</span>Lorem ipsum perspiciatis unde omnis iste natus error sit
                                    voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> 10:30 AM </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst4">
                                    <label class="form-check-label" for="cst4">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/4.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Akshay Kumar</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"><span
                                        class="badge bg-light-info text-info font-weight-medium rounded-pill px-3 me-2">Work</span>Perspiciatis
                                    unde omnis- iste Lorem ipsum perspiciatis unde omnis iste natus error sit
                                    voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> 9:30 AM </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst5">
                                    <label class="form-check-label" for="cst5">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/5.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">John Abraham</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"><span
                                        class="badge bg-light-success text-success font-weight-medium rounded-pill px-3 me-2">Work</span>
                                    Lorem ipsum perspiciatis- unde omnis iste natus error sitnatus error sit
                                    voluptatem
                                    voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 10 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst6">
                                    <label class="form-check-label" for="cst6">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/4.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Akshay Kumar</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"> Lorem ipsum perspiciatis - unde omnis iste natus
                                    error
                                    sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 09 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst7">
                                    <label class="form-check-label" for="cst7">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/1.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Hanna Gover</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"> Unde omnis Lorem ipsum perspiciatis - unde omnis
                                    iste
                                    natus error sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 09 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst8">
                                    <label class="form-check-label" for="cst8">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/4.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Akshay Kumar</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"> Iste natus error sit lorem - ipsum perspiciatis unde
                                    omnis iste natus error sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 09 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst9">
                                    <label class="form-check-label" for="cst9">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/1.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Hanna Gover</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"><span
                                        class="badge bg-light-danger text-danger font-weight-medium rounded-pill px-3 me-2">Work</span>
                                    Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> 12:30 PM </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst10">
                                    <label class="form-check-label" for="cst10">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/4.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Akshay Kumar</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"> Lorem ipsum perspiciatis - unde omnis iste natus
                                    error
                                    sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 09 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst11">
                                    <label class="form-check-label" for="cst11">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/1.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Hanna Gover</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"> Unde omnis Lorem ipsum perspiciatis - unde omnis
                                    iste
                                    natus error sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 09 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst12">
                                    <label class="form-check-label" for="cst12">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/4.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Akshay Kumar</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)"> Iste natus error sit lorem - ipsum perspiciatis unde
                                    omnis iste natus error sit voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> Mar 09 </td>
                        </tr>
                        <!-- row -->
                        <tr class="">
                            <!-- label -->
                            <td class="chb">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="cst13">
                                    <label class="form-check-label" for="cst13">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td class="starred"><i class="far fa-star"></i></td>
                            <!-- User -->
                            <td class="user-image"><img src="../assets/images/users/1.jpg" alt="user"
                                    class="rounded-circle" width="30"></td>
                            <td class="user-name">
                                <h6 class="mb-0">Hanna Gover</h6>
                            </td>
                            <!-- Message -->
                            <td class="max-texts text-truncate px-1 py-3 no-wrap"> <a class="link"
                                    href="javascript: void(0)">Lorem ipsum perspiciatis unde omnis iste natus error
                                    sit
                                    voluptatem</a></td>
                            <!-- Attachment -->
                            <td class="clip"><i class="fa fa-paperclip"></i></td>
                            <!-- Time -->
                            <td class="time"> 12:30 PM </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="p-3 mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- -------------------------------------------------------------- -->
        <!-- Right Part  Mail Compose -->
        <!-- -------------------------------------------------------------- -->
        <div class="right-part mail-compose bg-white overflow-auto" style="display: none;">
            <div class="p-4 border-bottom">
                <div class="d-flex align-items-center">
                    <div>
                        <h4>เขียน e-mail</h4>
                        <span>สร้างข้อความใหม่</span>
                    </div>
                    <div class="ms-auto">
                        <a class="btn btn-info" href="../../dist/file_domain/Email.csv" download>csv file</a>
                        <button id="cancel_compose" class="btn btn-dark">กลับ</button>
                    </div>
                </div>
            </div>
            <!-- Action part -->
            <!-- Button group part -->
            <div class="card-body">
                <form action="/send-email" method="post" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <div class="col">
                            <input type="email" id="email" name="email_to" class="form-control" placeholder="ถึง">
                        </div>
                        <div class="col-1 text-center">
                            csv file
                        </div>
                        <div class="custom-file col">
                            <input class="form-control" type="file" id="formFile" name="email_file_csv"
                                multiple="multiple" accept=".csv">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col">
                            <input type="text" id="subject" name="email_subject" class="form-control"
                                placeholder="หัวข้อ">
                        </div>
                        <div class="col-1 text-center">
                            เอกสาร
                        </div>
                        <div class="custom-file col">
                            <input class="form-control" type="file" id="formFile" name="email_file" multiple="multiple">
                        </div>

                    </div>
                    <h4>เขียนข้อความ</h4>
                    <div>
                        <textarea name="email_content" id="message" style="width: 100%;height: 270px;"></textarea>
                    </div>
                    <div class=" d-flex align-items-center ">
                        <button type="submit" class="btn btn-success mt-3 m-1"><i class="far fa-envelope"></i>
                            ส่ง</button>
                        <button type="button" class="btn btn-dark mt-3 m-1">ทิ้ง</button>
                        <i class="me-2 mdi mdi-paperclip mt-3 m-1" style="font-size: 30px;"></i>
                    </div>
                </form>
                <!-- Action part -->
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- Right Part  Mail detail -->
        <!-- -------------------------------------------------------------- -->
        <div class="right-part mail-details bg-white overflow-auto" style="display: none;">
            <div class="card-body bg-light">
                <button type="button" id="back_to_inbox" class="btn btn-outline-secondary fs-5 me-2"><i
                        class="mdi mdi-arrow-left"></i></button>
                <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-outline-secondary fs-5"><i class="mdi mdi-reply"></i></button>
                    <button type="button" class="btn btn-outline-secondary fs-5"><i
                            class="mdi mdi-alert-octagon"></i></button>
                    <button type="button" class="btn btn-outline-secondary fs-5"><i class="mdi mdi-delete"></i></button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="mdi mdi-folder fs-5 "></i> </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                                href="javascript:void(0)">Dropdown link</a> <a class="dropdown-item"
                                href="javascript:void(0)">Dropdown link</a> </div>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                class="mdi mdi-label fs-5"></i> </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item"
                                href="javascript:void(0)">Dropdown link</a> <a class="dropdown-item"
                                href="javascript:void(0)">Dropdown link</a> </div>
                    </div>
                </div>
            </div>
            <div class="card-body border-bottom">
                <h4 class="mb-0">Your Message title goes here</h4>
            </div>
            <div class="card-body border-bottom">
                <div class="d-flex no-block align-items-center mb-5">
                    <div class="me-2"><img src="../assets/images/users/1.jpg" alt="user" class="rounded-circle"
                            width="45">
                    </div>
                    <div class="">
                        <h5 class="mb-0 fs-4 font-weight-medium">Hanna Gover <small> ( hgover@gmail.com )</small>
                        </h5>
                        <span>to Suniljoshi19@gmail.com</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-11">
                        <h4 class="mb-3">Hey Hi,</h4>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                            dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Nulla
                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu
                            pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                            dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.Nulla
                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                            arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu
                            pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4><i class="fa fa-paperclip me-2 mb-2"></i> Attachments <span>(3)</span></h4>
                <div class="row">
                    <div class="col-md-2">
                        <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment"
                                src="../assets/images/big/img1.jpg"> </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment"
                                src="../assets/images/big/img2.jpg"> </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascript:void(0)"> <img class="img-thumbnail img-responsive" alt="attachment"
                                src="../assets/images/big/img3.jpg"> </a>
                    </div>
                </div>
                <div class="border mt-3 p-3">
                    <p class="pb-3">click here to <a href="javascript:void(0)">Reply</a> or <a
                            href="javascript:void(0)">Forward</a></p>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../../views/footer") %>