<%- include ("../../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">E-mail Consent</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/appeal">รับเรื่องร้องเรียน</a></li>
                            <!-- <li class="breadcrumb-item"><a href="/appeal">cookie Consent</a></li> -->
                            <li class="breadcrumb-item">E-mail Consent</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">e-mail Consent</h4>
            </div>
            <div class="card-body">
                <div class="row pb-3">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#write-email-modal"><i class="fas fa-plus"></i>
                            เขียน e-mail</button>
                        <a class="btn btn-info" href="../../dist/file_domain/Email_consent.csv" download>
                            <i class=" fas fa-download"></i> csv file</a>
                    </div>
                    <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" id="reface"><i data-feather="refresh-cw"></i></a>
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                id="Srearch" aria-describedby="button-addon2">
                            <button class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <!---------------------------  table setdate  ---------------------------->
                <div style="min-height: 470px;" class="table-responsive">
                    <div id="table_Data_Email_consent">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <!-- </div> -->
        <!-- Modal appeal Domain -->
        <div class="modal fade" id="write-email-modal" tabindex="-1" aria-labelledby="bs-example-modal-lg"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-bottom">
                        <h4 class="modal-title" id="exampleModalLabel1">เขียน e-mail</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <form action="/send-email" enctype="multipart/form-data" method="post">
                            <div class="mb-3 row">
                                <div class="col">
                                    <input type="email" id="email" name="email_to" class="form-control"
                                        placeholder="ถึง">
                                </div>
                                <div class="col-1 text-center">
                                    csv file
                                </div>
                                <div class="custom-file col">
                                    <input class="form-control" type="file" id="formFile" name="email_file_csv"
                                        multiple="multiple" accept=".csv">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <div class="col">
                                    <input type="text" id="subject" name="email_subject" class="form-control"
                                        placeholder="หัวข้อ">
                                </div>
                                <div class="col-1 text-center">
                                    เอกสาร
                                </div>
                                <div class="custom-file col">
                                    <input class="form-control" type="file" id="formFile" name="email_file"
                                        multiple="multiple">
                                </div>
                            </div>

                            <h4>เขียนข้อความ</h4>
                            <div>
                                <textarea name="email_content" id="message"
                                    style="width: 100%;height: 250px;"></textarea>
                            </div>
                            <div class="modal-footer" style="justify-content: center;">
                                <button type="submit" class="btn btn-success"><i
                                        class="far fa-envelope me-1"></i>ส่ง</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ทิ้ง</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../dist/js/views_js/email_consent/email_consent.js"></script>
        <%- include ("../../../_footer") %>