<%- include('../_header') -%>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">

                <h3 class="page-title"> หน้ากระดาษ </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index">ข้อมูลเอกสาร</a></li>
                            <li class="breadcrumb-item">หน้ากระดาษ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0"> หน้าเอกสาร <span class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <div class="email-app">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab" aria-selected="true">
                                        <span><i class=" ti-file"></i>
                                        </span>
                                        <span class="d-none d-md-block ms-3">กระดาษ</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab" aria-selected="false">
                                        <span><i class="ti-book"></i>
                                        </span>
                                        <span class="d-none d-md-block ms-2">คำใช้บ่อย</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex" data-bs-toggle="tab" href="#messages2" role="tab" aria-selected="false">
                                        <span><i class="ti-server"></i>
                                        </span>
                                        <span class="d-none d-md-block ms-2">ข้อมูลส่วนบุคคล</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- -------------------------------------------------------------- -->
                            <!-- Left Part -->
                            <!-- -------------------------------------------------------------- -->
                            <div class="left-part" style="height: 900px; overflow: scroll;">
                                <!-- Tab panes -->


                                <div class="tab-content">
                                    <div class="tab-pane active" id="home2" role="tabpanel">
                                        <div class="p-3">
                                            <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
                                            <div class=" scrollable ps-container ps-theme-default" data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                                <div class="p-4" align="center">
                                                    <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->
                                                    <div>
                                                        <div class="button-group">
                                                            <!-- ------------------------------------------ -->
                                                            <!-- Fullscreen -->
                                                            <!-- ------------------------------------------ -->

                                                            <form action="/paper/<%=doc_number%>" method="post">
                                                                <button class="btn btn-success"> เพิ่มหน้า</button>
                                                            </form>

                                                            <br>
                                                            <div>
                                                                <% let count=0 %>
                                                                    <% for (var i=0;i<data.length;i++){%>
                                                                        <% if (data.length !=null){%>
                                                                            <% if (data[i].page_action !=1){%>
                                                                                <div align='center'><img src='/UI/assets/images/Paper-Sheet-Transparent-Free-PNG.png' style='width: 50%'>
                                                                                    <h3><a href='/editpaper/<%=data[i].page_id%>' class='btn btn-secondary'>หน้า
                                                                                            <%= count +=1 %>
                                                                                        </a>
                                                                                    </h3>
                                                                                </div>
                                                                                <a href="/deletepaper/<%= data[i].page_id %>" class="btn btn-danger">
                                                                                    ลบ</a>

                                                                                <%}%>
                                                                                    <%}%>
                                                                                        <%}%>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Model -->
                                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                                </div>
                                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane p-3" id="profile2" role="tabpanel">
                                        <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
                                        <div class="scrollable ps-container ps-theme-default" style="height: calc(100vh - 25px);" data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                            <div class="p-3" align="center">
                                                <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->

                                                <div class="card-body">
                                                    <div class="button-group">
                                                        <!-- ------------------------------------------ -->
                                                        <!-- Fullscreen -->
                                                        <!-- ------------------------------------------ -->
                                                        <button type="button" class="btn btn-success   font-weight-medium" data-bs-toggle="modal" data-bs-target="#success-header-modal">เพิ่มคำใช้บ่อย</button>

                                                        <form action="/new_word" method="POST">
                                                            <div id="success-header-modal" class="modal fade" tabindex="-1" aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header modal-colored-header border-bottom title-part-padding">
                                                                            <h4 class="modal-title" style="color: black;">
                                                                                เพิ่มคำใช้บ่อย
                                                                            </h4>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class='table table-borderless'>
                                                                                <th class="col-md-3">
                                                                                    คำใช้บ่อย :
                                                                                </th>
                                                                                <td class="col-md-9">
                                                                                    <input type="text" name="words_often" placeholder="กรอกคำใช้บ่อย.." class="form-control " required>
                                                                                </td>
                                                                            </table>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-success  font-weight-medium">เพิ่มข้อมูล</button>
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>

                                                                        </div>
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                            </div>
                                                        </form>
                                                        <div>
                                                            <input id="words" value="<%=words1%>" readonly hidden />
                                                            <input id='swords' value="<%=words2%>" readonly hidden />
                                                            <% for(var w=0;w<words.length;w++){ %>
                                                                <br>
                                                                <a id="<%=words[w].words_id%>" href="#" onclick="insertText(this.id)">/
                                                                    <%=words[w].words_often %>
                                                                </a>

                                                                <br>
                                                                <a id="<%=words[w].words_id%>" data-bs-toggle="modal" data-bs-target="#edit-words-modal" onclick="editwords(this.id)" href="#"><i
                                                                        style="color: #ffc348;"
                                                                        class="ti-pencil-alt "></i></a>
                                                                <a id="<%=words[w].words_id%>" data-bs-toggle="modal" data-bs-target="#deleteword-header-modal" href="#" onclick="deletewords(this.id)"><i class="ti-trash"
                                                                        style="color: #f62d51;"></i></a>

                                                                <form action="/updateword/<%=words[0].words_id%>" method="POST">
                                                                    <div id="edit-words-modal" class="modal fade" tabindex="-1" aria-labelledby="edit-header-modalLabel" aria-hidden="true" style="display: none;">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                                                                                    <h4 class="modal-title" style="color: black;">
                                                                                        แก้ไขคำใช้บ่อย
                                                                                    </h4>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <table class='table table-borderless'>
                                                                                        <th class="col-md-3">
                                                                                            คำใช้บ่อย :
                                                                                        </th>
                                                                                        <td class="col-md-9" id="editwords1">

                                                                                        </td>
                                                                                    </table>

                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit" class="btn btn-warning font-weight-medium">แก้ไขข้อมูล</button>
                                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>

                                                                                </div>
                                                                            </div>
                                                                            <!-- /.modal-content -->
                                                                        </div>
                                                                        <!-- /.modal-dialog -->
                                                                    </div>
                                                                </form>



                                                                <form action="/deleteword/<%= words[0].words_id %>" method="POST">
                                                                    <div id="deleteword-header-modal" class="modal fade" tabindex="-1" aria-labelledby="deleteword-header-modalLabel" aria-hidden="true" style="display: none;">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header modal-colored-header border-bottom title-part-padding">
                                                                                    <h4 class="modal-title" style="color: black;">
                                                                                        ยืนยันการลบคำใช้บ่อย
                                                                                    </h4>
                                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <table class='table table-borderless'>
                                                                                        <th class="col-md-3">
                                                                                            คำใช้บ่อย :
                                                                                        </th>
                                                                                        <td class="col-md-9" id="deletewords1">

                                                                                        </td>
                                                                                    </table>

                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="submit" class="btn btn-danger font-weight-medium">ลบข้อมูล</button>
                                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>

                                                                                </div>
                                                                            </div>
                                                                            <!-- /.modal-content -->
                                                                        </div>
                                                                        <!-- /.modal-dialog -->
                                                                    </div>
                                                                </form>
                                                                <br>
                                                                <%}%>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Model -->
                                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                                </div>
                                            </div>
                                            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane p-3" id="messages2" role="tabpanel">
                                        <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
                                        <div class="scrollable ps-container ps-theme-default" style="height: calc(100vh - 25px);" data-ps-id="6986a19e-a3b6-d79a-3c8b-3dcadaa61df2">
                                            <div class="p-3" align="center">
                                                <!-- <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block" href="javascript: void(0)">เพิ่มเอกสารใหม่</a> -->
                                                <div class="card-body">
                                                    <div class="button-group">
                                                        <!-- ------------------------------------------ -->
                                                        <!-- Fullscreen -->
                                                        <!-- ------------------------------------------ -->
                                                        <div>
                                                            <input id="code" value="<%=code%>" readonly hidden />
                                                            <input id='code1' value="<%=code1%>" readonly hidden />
                                                            <input id='code_name' value="<%=code_name%>" readonly hidden />
                                                            <% for(var i=0;i<pd.length;i++){ %>
                                                                <br>
                                                                <a id="<%=pd[i].data_id%>" href="#" onclick="insertCode(this.id)">
                                                                    <%=pd[i].data_name%>
                                                                </a>
                                                                <br>
                                                                <%}%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Model -->
                                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
                                                </div>
                                            </div>
                                            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>






                            <!-- -------------------------------------------------------------- -->
                            <!-- Right Part -->
                            <!-- -------------------------------------------------------------- -->
                            <div class="right-part mail-list bg-white overflow-auto">
                                <!-- Nav tabs -->
                                <% if (data1 !=0){%>
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="border-bottom title-part-padding">
                                                <h4 class="card-title mb-0">
                                                    <%=data1[0].doc_name%>
                                                </h4>
                                            </div>
                                            <div class="card-body">
                                                <form action="/updatepaper/<%=data1[0].page_id%>" method="post">
                                                    <button type="button" class="btn btn-info  btn-lg px-4 fs-4 font-weight-medium" data-bs-toggle="modal" data-bs-target="#bs-example-modal-xlg" value="<%=data1[0].page_id%>">ดูตัวอย่าง</button>
                                                    <button type="submit" class="btn btn-success btn-lg px-4 fs-4 font-weight-medium">
                                                        บันทึกเอกสาร </button>
                                                    <br /><br />
                                                    <div class="form-group" align="center">
                                                        <textarea id="myEditor1" class="summernote" name="page_content" style="display: none;"><%= data1[0].page_content %></textarea>
                                                    </div>
                                                    <div>
                                                        <input type='text' name='page_number' value="<%= data1[0].page_number %>" readonly hidden>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal fade" id="bs-example-modal-xlg" tabindex="-1" aria-labelledby="bs-example-modal-xlg" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog modal-xl" style="width:742px;">
                                                    <div class="modal-content">
                                                        <div class="modal-header d-flex align-items-center">
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>

                                                        <div style="width: 595px;height: 842px;margin: 10%;">
                                                            <% for (var i=0;i<data.length;i++){%>
                                                                <% if (data.length !=null){%>
                                                                    <% if (data[i].page_action !=1){%>
                                                                        <% if (data1[0].page_id==data[i].page_id) {%>
                                                                            <div id="setcode">
                                                                                <%-data[i].page_content%>
                                                                            </div>
                                                                            <%}%>
                                                                                <%}%>
                                                                                    <%}%>
                                                                                        <%}%>
                                                        </div>
                                                        <div style="margin-bottom: 150px;" align='center'>
                                                            <!-- <button type="button"
                                                        class="btn btn-light-danger text-danger font-weight-medium waves-effect text-start"
                                                        data-bs-dismiss="modal">Close</button> -->
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </div>
                                    </div>
                                    <%}else{%>
                                        <div class="col-12">
                                            <div class="card">

                                                <div class="card-body" align="center">
                                                    <h2>กรุณาเพิ่มหน้าเพื่อเริ่มต้น</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/mode/xml/xml.min.js"></script>
    <script src="/UI/assets/extra-libs/summernote/summernote-lite.min.js"></script>
    <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
    <script src="/UI/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script src="/UI/dist/js/pages/notes/notes.js"></script>

    <script src="/UI/dist/js/pages/email/email.js"></script>
    <script src="/UI/assets/libs/summernote/dist/summernote-bs4.min.js"></script>
    <script src="/UI/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script>
        var mini = true;

        function toggleSidebar() {
            if (mini) {
                this.mini = false;
                $('#export_icon').css('display', 'none')
                $('#export_hidden').css('margin-left', '15%')
            } else {
                this.mini = true;
                $('#export_icon').css('display', '')
            }
        }
        /************************************/
        //default editor
        /************************************/
        $('.summernote').summernote({
            height: 300, // set editor height
            width: 595,
            minHeight: 842, // set minimum height of editor
            maxHeight: 842, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });

        /************************************/
        //inline-editor
        /************************************/
        $('.inline-editor').summernote({
            airMode: true
        });

        /************************************/
        //edit and save mode
        /************************************/
        window.edit = function() {
                $(".click2edit").summernote()
            },
            window.save = function() {
                $(".click2edit").summernote('destroy');
            }

        var edit = function() {
            $('.click2edit').summernote({
                focus: true
            });
        };

        var save = function() {
            var markup = $('.click2edit').summernote('code');
            $('.click2edit').summernote('destroy');
        };

        /************************************/
        //airmode editor
        /************************************/
        $('.airmode-summer').summernote({
            airMode: true
        });
    </script>


    <%- include('../_footer') -%>