<!-- <!DOCTYPE html>
<html lang="en"> -->

<head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title> -->
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="../../dist/css/styledomain.css" />


</head>

<body>
    <div class="cookie-container">
        <p>
            <%=domaingroup.dialog_dg %>
        </p>
        <div class="col-12">
            <div style="text-align: right;">
                <a href="#" style="color: rgb(56, 223, 223);">เลือกประเภทคุกกี้</a>

                <button class="cookie-btn btn btn-success">
                    ตกลง
                </button>
                <button class="cookie-btn">
                    ยกเลิก
                </button>
            </div>
        </div>
    </div>
    <!-- <script src="main.js"></script> -->
    <script src="../../dist/js/banner-js/main.js"></script>

</body>

<!-- </html> -->