<%- include ("../../../_header") %>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">จัดการ Cookie</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">จัดการเนื้อหา</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <a href="/home" class="btn btn-dark">กลับ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form action="/Savedialogs" method="post">
            <input type="text" name="id_dg" value="<%=domaingroup.id_dg%>" hidden>
            <input type="text" name="id_st" value="<%=domaingroup.id_st%>" hidden>
            <input type="text" name="id_dl" value="<%=domaingroup.id_dl%>" hidden>
            <input type="text" name="id_dsp" value="<%=domaingroup.id_dsp%>" hidden>

            <div class="row">
                <h4 style="color: rgb(56, 223, 223);">ชื่อ Cookie</h4>
                <h2><b>
                        <%=domaingroup.namedomain_dg%>
                    </b></h2>
                <h4>ข้อความที่จะให้ปรากฏใน cookie หน้าเเรก</h4>
                <div class="row">
                    <div class="col-10">
                        <div class="card">
                            <div class="card-body">
                                <textarea id="input" onkeyup="sendCode()"
                                    class="form-control"><%=domaingroup.detail_dialog%></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="display:grid;align-items: center;">
                        <div>
                            <div>
                                <i class="fas fa-history" style="color: #009efb;font-size: 30px;"></i>
                                <a>กลับไปค่าล่าสุด</a>
                            </div>
                            <br>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="default" value="0"
                                        id="flexCheckDefault" onclick="defaultDialog()"
                                        style="background-color: rgb(196, 196, 196);">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        บันทึกเป็นค่าเริ่มต้น
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 style="color: rgb(56, 223, 223);">เเสดงตัวอย่าง</h4>
            <div class="card">
                <div class="card-body">
                    <div id="banner" class="btn <%=domaingroup.nameclass%>">
                        <p id="Preview-banner" <%if(domaingroup.height){%>style="height:
                            <%=domaingroup.height%>px;"<%}%> >
                                    <%=domaingroup.detail_dialog%>
                        </p>
                        <div style="text-align: right;">
                            <a style="color: rgb(56, 223, 223);font-size: 13px;">เลือกประเภทคุกกี้</a>
                            <button type="button" class="btn btn-outline-success">ยอมรับ</button>
                            <button type="button" class="btn btn-outline-danger">ไม่ยอมรับ</button>
                        </div>
                        <input class="form-control" name="dialogs" value="<%=domaingroup.dialog_dg%>" id="dialogs"
                            hidden>
                    </div>
                </div>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">ปรับเเต่ง Banner Cookie</label>

                <input style="width: 7%;" onkeyup="keyupFunction()" id="demo" type="text" name="height"
                    value="<%=domaingroup.height%>">
                <label class="form-label">ปรับความสูง Banner Cookie ( px )</label>
            </div>

            <div class="row">
                <div class="col-7">
                    <h4>Theme</h4>
                </div>
                <div class="col-4">
                    <h4>ตำเเหน่ง</h4>
                </div>
                <div class="col-7">
                    <div class="card">
                        <div class="card-body" id="Theme">
                            <div class="Container">
                                <div class="row">
                                    <div class="col" style="text-align: center;">
                                        <div class="circum-color-theme-ready" id="light-theme-circum">
                                            <button type="button" class="btn btn-secondary"
                                                style="width: 90%;height: 40px;" onclick="ChiangthemeLight()"></button>
                                            <label>Light Theme</label>
                                        </div>
                                    </div>
                                    <div class="col" style="text-align: center;">
                                        <div class="circum-color-theme-ready" id="dark-theme-circum">
                                            <button type="button" class="btn btn-dark" name="dark"
                                                style="width: 90%;height: 40px;" onclick="chiangthemedark()"></button>
                                            <label>Dark Theme</label>
                                            <input type="text" name="class" value="<%=domaingroup.nameclass%>" hidden
                                                id="dark">
                                        </div>
                                    </div>
                                    <!-- <div class="circum-color-theme"> -->
                                    <div class="col-6">

                                        <div class="circum-color-theme-ready" id="color-theme-circum">
                                            <div class="row">
                                                <div class="col" style="text-align: center;">
                                                    <button type="button" class="btn btn-success" id="button-color"
                                                        style="width: 90%;height: 40px;" onclick="chiangthemecolor()">
                                                    </button>
                                                    <br>
                                                    <label>Color Theme</label>
                                                </div>
                                                <div class="col" style="text-align: left;">
                                                    <input type="text" class="form-control" style="width:100%;"
                                                        id="input-color-theme" onclick="chiangthemecolor()"
                                                        onkeyup="keyupColortheme()">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body" id="location">
                            <div class="row">
                                <div class="col">
                                    <!-- <div class="circum-color-ready" id="color-under">
                                            <button type="button" class="form-control button-height" onclick="under()">
                                                <a class="form-control" id="location-buttom"></a>
                                            </button>
                                            <h5>ด้านล่าง</h5>
                                        </div> -->
                                    <div class="circum-color-ready" id="color-under">
                                        <button type="button" class="form-control button-height" onclick="under()">
                                            <a class="form-control" id="location-buttom"></a>
                                        </button>
                                        <h5>ด้านล่าง</h5>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="circum-color-ready" id="color-tops">
                                        <button type="button" class="form-control button-height" onclick="tops()">
                                            <a class="form-control" id="location-top"></a>
                                        </button>
                                        <h5>ด้านบน</h5>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="" id="color-middle">
                                        <button type="button" class="form-control button-height" onclick="middle()">
                                            <a class="form-control" id="location-center"></a>
                                        </button>
                                        <h5>ตรงกลาง</h5>
                                    </div>
                                </div>
                            </div>
                            <input name="namelocation" value="<%=domaingroup.namelocation%>" hidden
                                id="location-database">
                        </div>
                    </div>
                </div>
            </div>

            <h4 style="color: rgb(56, 223, 223);"><a href="/">ปรับเเต่งค่าประเภทคุกกี้</a></h4>
            <div class="row">
                <div class="col-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label">ปรับเเต่ง </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-cookieType"
                            style="background-color: grey;">
                        <label class="form-check-label" for="flexCheckDefault-cookieType">
                            บันทึกเป็นค่าเริ่มต้น
                        </label>
                    </div>
                </div>
                <div class="col-5">
                    <i class="fas fa-history" style="color: #009efb;"></i>
                    <a href="/">กลับไปค่าล่าสุด</a>
                </div>
                <!-- <div class="col" style="margin-inline-start: 7%;">
                    <button type="button" class="btn btn-success" onclick="AppendPolicy()"> + เพิ่มค่า
                        Cookie
                        จัดเก็บ</button>
                </div> -->
                <div class="col" style="margin-inline-start: 7%;">
                    <button type="button" class="btn btn-success px-4"><i class="fas fa-plus"></i>
                        <a href="/setting/cookietypes" style="color: white;">เพิ่มค่าCookieจัดเก็บ</a>
                    </button>
                </div>
            </div>
            <% if(cookiepolicy){ %>
                <% for(var i=0;i< cookiepolicy.length;i++) {%>
                    <input type="text" name="id_dsc" value="<%=cookiepolicy[i].id_dsc%>" hidden>
                    <div class="cookie-policy">
                        <div class="row ">
                            <div class="col-2">
                                <input class="form-control type-cookie text-center" name="name_cp"
                                    value="<%=cookiepolicy[i].name_cookietype%>">
                            </div>
                            <div class="col-8">
                                <textarea class="form-control" onkeyup="keyupcontent('<%=cookiepolicy[i].id_dsc%>')"
                                    id="content_<%=cookiepolicy[i].id_dsc%>"
                                    name="detail_policy"><%=cookiepolicy[i].detail_cookie%></textarea>
                            </div>
                            <div class="col">
                                <div class="form-check form-switch">
                                    <input class="form-check-input check_class" type="checkbox" name="approve_cp"
                                        value="<%=cookiepolicy[i].id_dsc%>" id="active_<%=cookiepolicy[i].id_dsc%>"
                                        onclick="activeCheck('<%=cookiepolicy[i].id_dsc%>')"
                                        <%if(cookiepolicy[i].approve==1){%> checked<%}%>>

                                        <label class="form-check-label check_label "
                                            id="label_<%=cookiepolicy[i].id_dsc%>"><b>
                                                <%if(cookiepolicy[i].approve==1){%> Active<%}else{%><b
                                                            style="color: red;">No active</b>
                                                        <%}%>
                                            </b></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <% } else {%>
                            ไม่มีข้อมูล
                            <%}%>
                                <div class="test-policy">
                                </div>
                                <h4 style="color: rgb(56, 223, 223);margin-top: 1%;">เเสดงตัวอย่าง</h4>

                                <div class="card">
                                    <br>
                                    <% if(cookiepolicy){ %>
                                        <% for(var i=0;i< cookiepolicy.length;i++) {%>
                                            <div class="card-body" style="padding: 0.25rem;">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <p style="color: #39c449;" class="text-center">
                                                            <b>
                                                                <%=cookiepolicy[i].name_cookietype%>
                                                            </b>
                                                        </p>
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="form-control"
                                                            id="content_preview_<%=cookiepolicy[i].id_dsc%>"
                                                            style="background-color:#39c449;color: white;width: 100%;height: 100px;">
                                                            <%=cookiepolicy[i].detail_cookie%>
                                                        </p>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input check_class"
                                                                id="active_preview_<%=cookiepolicy[i].id_dsc%>"
                                                                type="checkbox"
                                                                onclick="activeCheck_preview('<%=cookiepolicy[i].id_dsc%>')"
                                                                <%if(cookiepolicy[i].approve==1){%>checked
                                                            <%}%>>

                                                                <label class="form-check-label check_label "
                                                                    id="label_preview_<%=cookiepolicy[i].id_dsc%>"><b>
                                                                        <%if(cookiepolicy[i].approve==1){%>
                                                                            Active<%}else{%><b style="color: red;">No
                                                                                    active</b>
                                                                                <%}%>
                                                                    </b></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                                <% } else {%>
                                                    ไม่มีข้อมูล
                                                    <%}%>
                                                        <div class="row card-body">
                                                            <div style="text-align: right;">
                                                                <button type="button"
                                                                    class="btn btn-success">ยอมรับที่เลือก
                                                                </button>
                                                                <button type="button"
                                                                    onclick="$('.check_class').prop('checked',true),$('.check_label').text('Avtice'),$('.check_label').attr('style','color=black')"
                                                                    class="btn btn-info ">ยอมรับทั้งหมด
                                                                </button>
                                                            </div>
                                                        </div>
                                </div>
                                <div style="text-align: right;">
                                    <button type="submit" class="btn btn-success">บันทักสไตล์</button>
                                </div>
        </form>
    <!-- </div> -->


    <%if (domaingroup.namelocation=="middle" ) {%>
        <script>
            document.onreadystatechange = function () { // document.ready in jquery
                const span = document.getElementById("color-middle");
                const classes = span.classList;
                classes.add("circum-color");
            }
        </script>
        <%} else if (domaingroup.namelocation=="top" ) {%>
            <script>
                document.onreadystatechange = function () { // document.ready in jquery
                    const span = document.getElementById("color-tops");
                    const classes = span.classList;
                    classes.add("circum-color");
                }
            </script>
            <%} else {%>
                <script>
                    document.onreadystatechange = function () { // document.ready in jquery
                        const span = document.getElementById("color-under");
                        const classes = span.classList;
                        classes.add("circum-color");
                    }
                </script>
                <%}%>

                    <!-- script ของ สี theme -->
                    <% if (domaingroup.nameclass=="btn-dark" ) {%>
                        <script>
                            document.addEventListener("DOMContentLoaded", function (event) {
                                const span = document.getElementById("dark-theme-circum");
                                const classes = span.classList;
                                classes.remove("circum-color-theme-ready");
                                classes.add("circum-color-theme");
                            });
                        </script>
                        <% } else {%>
                            <script>
                                document.addEventListener("DOMContentLoaded", function (event) {
                                    const span = document.getElementById("light-theme-circum");
                                    const classes = span.classList;
                                    classes.remove("circum-color-theme-ready");
                                    classes.add("circum-color-theme");
                                });
                            </script>
                            <%}%>
                                <!-- script ของ สี theme -->
                                <style>
                                    #test {
                                        border: 1.5px solid black;
                                        padding: 20px;
                                        margin: 20px;
                                    }

                                    #Theme {
                                        border: 1.5px solid grey;
                                        border-radius: 5px;
                                    }

                                    #location {
                                        border: 1.5px solid grey;
                                        border-radius: 5px;
                                    }

                                    #location .button-height {
                                        height: 37px;
                                    }

                                    #location .row .col h5 {
                                        text-align: center;
                                        margin-top: 5%;
                                    }

                                    #banner {
                                        width: 100%;
                                        border: 1.5px solid black;
                                        box-sizing: border-box;
                                    }

                                    .test-tt {
                                        background-color: black;
                                    }

                                    #Preview-banner {
                                        border: 10px;
                                        padding: 10px;
                                        margin: 10px;
                                        text-align: left;
                                    }

                                    /* ตำเเหน่งด้านล่าง */
                                    /* #location-buttom {
                                        margin-top: 28%;
                                        width: 140%;
                                        background-color: black;
                                        margin-left: -20%;
                                    } */

                                    #location-buttom {
                                        /* margin-top: 28%;*/
                                        left: -10%;
                                        width: 120%;
                                        position: relative;
                                        top: 11px;
                                        background-color: black;
                                        /* margin-left: -20%; */
                                    }

                                    /* ตำเเหน่งด้านบน */
                                    #location-top {
                                        /* margin-top: -30%; */
                                        position: relative;
                                        left: -10%;
                                        width: 120%;
                                        background-color: black;
                                        bottom: 10px;

                                        /* margin-left: -20%; */
                                    }

                                    /* ตำเเหน่งตรงกลาง */
                                    #location-center {
                                        position: relative;
                                        width: 120%;
                                        background-color: black;
                                        left: -10%;
                                    }

                                    /* เส้นรอบวง ตำเเหน่ง */
                                    .circum-color {
                                        padding: 2px;
                                        border: 2px solid rgb(255, 182, 0);
                                        border-radius: 5px;
                                    }

                                    .circum-color-theme {
                                        padding: 6px;
                                        border: 2px solid rgb(255, 182, 0);
                                        border-radius: 5px;
                                    }

                                    .circum-color-theme-ready {
                                        padding: 6px;
                                        border-radius: 5px;
                                    }

                                    .cookie-policy {
                                        border: 1.5px solid grey;
                                        border-radius: 5px;
                                        padding: 10px;
                                        margin-top: 1%;

                                    }

                                    /* Cookie-Policy*/
                                    .type-cookie {
                                        width: 105%;
                                        height: 50px;
                                    }

                                    .cookie-policy textarea {
                                        width: 100%;
                                        height: 100px;
                                        /* color: black; */
                                    }

                                    #input {
                                        height: 200px;
                                    }
                                </style>
                                <script>
                                    // เปลี่ยนสี ธีน ให้เป็นสีมืด
                                    function chiangthemedark() {
                                        const span = document.getElementById("banner");
                                        const classes = span.classList;
                                        classes.add("btn-dark");
                                        document.getElementById("dark").value = "btn-dark";


                                        const span1 = document.getElementById("dark-theme-circum");
                                        const classes1 = span1.classList;
                                        classes1.remove("circum-color-theme-ready");
                                        classes1.add("circum-color-theme");

                                        const span2 = document.getElementById("light-theme-circum");
                                        const classes2 = span2.classList;
                                        classes2.remove("circum-color-theme");
                                        classes2.add("circum-color-theme-ready");

                                        const span3 = document.getElementById("color-theme-circum");
                                        const classes3 = span3.classList;
                                        classes3.remove("circum-color-theme");
                                        classes3.add("circum-color-theme-ready");
                                    }
                                    // เปลี่ยนสี ธีน ให้เป็นสีข้าว
                                    function ChiangthemeLight() {
                                        const span = document.getElementById("banner");
                                        const classes = span.classList;
                                        classes.remove("btn-dark");
                                        document.getElementById("dark").value = " ";

                                        const span1 = document.getElementById("dark-theme-circum");
                                        const classes1 = span1.classList;
                                        classes1.remove("circum-color-theme");
                                        classes1.add("circum-color-theme-ready");

                                        const span2 = document.getElementById("light-theme-circum");
                                        const classes2 = span2.classList;
                                        classes2.remove("circum-color-theme-ready");
                                        classes2.add("circum-color-theme");

                                        const span3 = document.getElementById("color-theme-circum");
                                        const classes3 = span3.classList;
                                        classes3.remove("circum-color-theme");
                                        classes3.add("circum-color-theme-ready");

                                    }

                                    function chiangthemecolor() {
                                        document.getElementById("dark").value = " ";

                                        const span1 = document.getElementById("color-theme-circum");
                                        const classes1 = span1.classList;
                                        classes1.remove("circum-color-theme-ready");
                                        classes1.add("circum-color-theme");

                                        const span2 = document.getElementById("light-theme-circum");
                                        const classes2 = span2.classList;
                                        classes2.remove("circum-color-theme");
                                        classes2.add("circum-color-theme-ready");

                                        const span3 = document.getElementById("dark-theme-circum");
                                        const classes3 = span3.classList;
                                        classes3.remove("circum-color-theme");
                                        classes3.add("circum-color-theme-ready");

                                    }

                                    function under() {
                                        document.getElementById("location-database").value = "under";
                                        const span = document.getElementById("color-under");
                                        const classes = span.classList;
                                        classes.add("circum-color");

                                        const span1 = document.getElementById("color-tops");
                                        const classes1 = span1.classList;
                                        classes1.remove("circum-color");

                                        const span2 = document.getElementById("color-middle");
                                        const classes2 = span2.classList;
                                        classes2.remove("circum-color");

                                    }
                                    function tops() {
                                        document.getElementById("location-database").value = "top";


                                        const span = document.getElementById("color-under");
                                        const classes = span.classList;
                                        classes.remove("circum-color");

                                        const span1 = document.getElementById("color-tops");
                                        const classes1 = span1.classList;
                                        classes1.add("circum-color");

                                        const span3 = document.getElementById("color-middle");
                                        const classes3 = span3.classList;
                                        classes3.remove("circum-color");

                                    }
                                    function middle() {
                                        document.getElementById("location-database").value = "middle";
                                        const span = document.getElementById("color-middle");
                                        const classes = span.classList;
                                        classes.add("circum-color");

                                        const span1 = document.getElementById("color-tops");
                                        const classes1 = span1.classList;
                                        classes1.remove("circum-color");

                                        const span3 = document.getElementById("color-under");
                                        const classes3 = span3.classList;
                                        classes3.remove("circum-color");


                                    }

                                    var input = document.getElementById("input");
                                    var Preview = document.getElementById("Preview-banner");
                                    function sendCode() {
                                        // console.log(input);
                                        Preview.innerHTML = input.value;
                                        document.getElementById("dialogs").value = Preview.innerHTML = input.value;
                                    }


                                    var aa = 1;

                                    // สร้างปรับเเต่งค่าประเภทคุกกี้ เพิ่ม
                                    function AppendPolicy() {



                                        // var classpass = 1;
                                        var input = document.createElement('input');
                                        var input1 = document.createElement('input');
                                        var label = document.createElement('label');
                                        var b = document.createElement('b');
                                        var div = document.createElement('div');
                                        var div1 = document.createElement('div');
                                        var div2 = document.createElement('div');
                                        var div3 = document.createElement('div');
                                        var div4 = document.createElement('div');
                                        var div5 = document.createElement('div');
                                        var textarea = document.createElement('textarea');


                                        // การประกาศ type,class,name,innerHTML(ข้อความ) ให้กับ Element ต่างๆๆ เช่น div input อื่นๆ
                                        input.type = "text";
                                        input1.type = "checkbox";
                                        input.className = "form-control type-cookie";
                                        input1.className = "form-check-input";
                                        label.className = "form-check-label";
                                        div.className = "cookie-policy";
                                        div1.className = "row";
                                        div2.className = "col-2";
                                        div3.className = "col-8";
                                        div4.className = "col";
                                        div5.className = "form-check form-switch";
                                        textarea.className = "form-control";
                                        textarea.name = "detail_policy_append";
                                        b.innerHTML = "Active";
                                        input.name = "name_cp_append";
                                        input1.name = "approve_cp";
                                        input1.checked = "true";
                                        input1.id = "aa" + aa;

                                        // การ setAttribute funtion ให้กับ input
                                        input1.setAttribute("onclick", "activeCheck_append()");

                                        aa += 1;
                                        console.log(aa);

                                        div.appendChild(div1);
                                        div1.appendChild(div2);
                                        div1.appendChild(div3);
                                        div1.appendChild(div4);
                                        div4.appendChild(div5);
                                        div5.appendChild(input1);
                                        div5.appendChild(label);
                                        label.appendChild(b);
                                        div3.appendChild(textarea);
                                        div2.appendChild(input);
                                        document.getElementsByClassName("test-policy")[0].appendChild(div);
                                        // document.createElement("test-policy")[0].appendChild(div);

                                    }

                                    function keyupFunction() {
                                        var demo = document.getElementById("demo").value;
                                        if (demo <= "45") {
                                            var height = document.getElementById("Preview-banner").style.height = "";
                                        } else {
                                            var height = document.getElementById("Preview-banner").style.height = demo + "px";
                                        }
                                    }

                                    function keyupColortheme() {
                                        var color = document.getElementById("input-color-theme").value;
                                        document.getElementById("button-color").style.backgroundColor = color, document.getElementById("button-color").style.borderColor = color;
                                        document.getElementById("dark").value = " ";
                                    }
                                    function defaultDialog() {
                                        var x = document.getElementById("flexCheckDefault").value;

                                        if (document.getElementById("flexCheckDefault").value === "0") {
                                            var demo = document.getElementById("flexCheckDefault").value = "1";
                                            // console.log(demo);
                                        } else {
                                            var demo = document.getElementById("flexCheckDefault").value = "0";
                                            // console.log(demo);
                                        }

                                    }

                                    function activeCheck(id) { // ส่วนของ setting 
                                        if ($('#active_' + id).prop("checked") == true) {
                                            $('#active_' + id).val(id);
                                            $('#label_' + id).text("Active");
                                            $('#label_' + id).attr('style', 'color:black');
                                            $('#active_preview_' + id).prop("checked", true) // prop คือ ถาม arrt ที่เรียกใช้เป็น checked==true ไหม
                                            $('#label_preview_' + id).text("Active");
                                            $('#label_preview_' + id).attr('style', 'color:black');

                                        } else {
                                            $('#active_' + id).val(id);
                                            $('#label_' + id).text("No Active");
                                            $('#label_' + id).attr('style', 'color:red');
                                            $('#label_preview_' + id).text("No Active");
                                            $('#label_preview_' + id).attr('style', 'color:red');
                                            $('#active_preview_' + id).prop("checked", false);
                                        }
                                    }
                                    function activeCheck_preview(id) { // ส่วนของ preview 
                                        if ($('#active_preview_' + id).prop("checked") == true) {
                                            $('#active_' + id).val(id);
                                            $('#label_preview_' + id).text("Active");
                                            $('#label_preview_' + id).attr('style', 'color:black');
                                            $('#active_' + id).prop("checked", true)
                                            $('#label_' + id).text("Active");
                                            $('#label_' + id).attr('style', 'color:black');
                                        } else {
                                            $('#active_' + id).val(id);
                                            $('#label_preview_' + id).text(" No active");
                                            $('#label_preview_' + id).attr('style', 'color:red');
                                            $('#label_' + id).text("No Active");
                                            $('#label_' + id).attr('style', 'color:red');
                                            $('#active_' + id).prop("checked", false);
                                        }
                                    }

                                    function keyupcontent(id) {
                                        var content = document.getElementById("content_" + id).value;
                                        document.getElementById("content_preview_" + id).innerHTML = content;
                                    }


                                </script>

                                <%- include ("../../../_footer") %>