<%- include ("../../../_header") %>

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">จัดการ Cookie</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">จัดการ Cookie</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <!-- <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#addDomain-modal"> + เพิ่มโดเมน
                        </button> -->
                        <button type="button" class="btn btn-success px-4" data-bs-toggle="modal"
                            data-bs-target="#addDomain-modal"><i class="fas fa-plus"></i>
                            เพิ่มโดเมน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid note-has-grid">
        <ul class="nav nav-pills  bg-white mb-3 align-items-center" style="padding: 0.5rem;">
            <li class="nav-item"> <a href="javascript:void(0)"
                    class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center active px-3 px-md-3 me-0 me-md-2"
                    id="all-category">
                    <i class="fa-solid fa-cookie-bite" id="all-cookie"></i>
                    <span class="d-none d-md-block font-weight-medium">ทั้งหมด</span></a>
            </li>

            <li class="nav-item"> <a href="javascript:void(0)"
                    class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center px-3 px-md-3 me-0 me-md-2"
                    id="cookie-tag">
                    <i class=" spect fill-white  fab fa-font-awesome-alt"></i>
                    <span class="d-none d-md-block font-weight-medium">สร้าง Tag</span></a>
            </li>
            <% for (i in tag ) {%>
                <li class="nav-item"> <a href="javascript:void(0)"
                        class="nav-link rounded-pill note-link d-flex align-items-center justify-content-center px-3 px-md-3 me-0 me-md-2"
                        id="tag_<%=tag[i].id_tag%>,<%= tag[i].id_tag%>">
                        <i class=" spect fill-white  fab fa-font-awesome-alt set_color"
                            id="style_<%= tag[i].id_tag%>"></i>
                        <span class="d-none d-md-block font-weight-medium">
                            <%=tag[i].tag_name%>
                        </span>
                    </a>
                </li>
                <script>
                    document.getElementById("style_<%= tag[i].id_tag%>").style.color = "<%=tag[i].tag_styles%>";
                </script>
                <%}%>
        </ul>

        <h4 class="topic" style="text-decoration: underline;color: #a6a6a6;">Cookie ร่าง</h4>
        <div class="tab-content">
            <div id="note-full-container" class="note-has-grid row">
                <% if(domaingroup){ %>
                    <% for(var i=0;i< domaingroup.length;i++) {%>
                        <div class="col-md-4 single-note-item all-category"
                            id="badge-group-item<%=domaingroup[i].id_dg%>">
                            <div class="card card-body">
                                <span class="side-stick" style="background-color: skyblue;width: 5px;"></span>
                                <h5 class="note-title text-truncate w-75 mb-0"
                                    data-noteHeading="Book a Ticket for Movie">
                                    Cookie
                                </h5>
                                <div class="note-content mt-3">
                                    <h6>
                                        <%=day_thai[i]%>
                                    </h6>
                                    <h6 id="h6-<%=i+1%>">
                                        <%=domaingroup[i].message%>
                                    </h6>
                                    <h6 id="id-<%=i+1%>" hidden class="id_domain_<%=domaingroup[i].id_dg%>">
                                        <%=domaingroup[i].id_dg%>
                                    </h6>
                                </div>
                                <div class="text-center mt-1">
                                    <a href="/dialogs/<%=domaingroup[i].id_dg%>">
                                        <p class="tag-cookie domain_<%=domaingroup[i].id_dg%>"
                                            id="p-namedomain-<%=i+1%>">
                                            <%=domaingroup[i].namedomain_dg%>
                                        </p>
                                    </a>
                                </div>

                                <div class="d-flex align-items-center ">
                                    <img width="10%" src="/UI/image/<%=session.image%>" class="rounded-circle me-1">
                                    <!-- <img width="10%" src="../../dist/img/<%=session.image%>" 
                                        class="rounded-circle me-1">-->
                                    <p style="font-size: 12px;margin-left: 1%;">ผู้ร่างเอกสาร <br>
                                        <b>
                                            <%=session.acc_name%>
                                        </b>
                                    </p>
                                    <h6 class=" me-1 ms-auto">
                                        <i class="fas fa-share-alt-square" style="color: aqua;"></i>
                                        <a href="#">แซร์เอกสาร</a>
                                    </h6>
                                    <h6 class="ms-auto">
                                        <i class="far fa-envelope"></i>
                                        <a href="/management/email_consent" style="color: rgb(56, 55, 55);">E-mail
                                            เอกสาร</a>
                                    </h6>
                                    <div class="ms-auto" id="tag_select_domain_<%=domaingroup[i].id_dg%>">
                                        <!-- <i class="fab fa-font-awesome-alt" style="font-size: 25px;"></i>
                                                    <i class="fab fa-font-awesome-alt" style="font-size: 25px;"></i> -->
                                    </div>
                                    <div>
                                        <div class="category-selector btn-group">
                                            <a class="nav-link dropdown-toggle category-dropdown label-group p-0"
                                                data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                                aria-expanded="true">
                                                <div class="category">
                                                    <div class="category-business">
                                                    </div>
                                                    <div class="category-social"></div>
                                                    <div class="category-important">
                                                    </div>
                                                    <span class="more-options text-dark">
                                                        <i class="icon-options-vertical"></i></span>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right category-menu">

                                                <a class="dropdown-item position-relative category-business text-info"
                                                    data-bs-toggle="modal" data-bs-target="#edit"
                                                    onclick="Edit('<%=i+1%>')">
                                                    <i class="mdi mdi-checkbox-blank-circle-outline me-1"></i>เเก้ไข</a>

                                                <a class="dropdown-item position-relative category-important text-danger"
                                                    onclick="Delete('<%=domaingroup[i].id_dg%>')">
                                                    <i class="mdi mdi-checkbox-blank-circle-outline me-1"></i>ลบ</a>
                                                <%if (tag) {%>
                                                    <% for (j in tag ) {%>
                                                        <a class="dropdown-item position-relative category-important text-info"
                                                            onclick="tag_selecte('<%=tag[j].id_tag%>,<%=domaingroup[i].id_dg%>,<%=tag[j].tag_styles%>')">
                                                            <i
                                                                class="spect fill-white  fab fa-font-awesome-alt style_select_<%= tag[j].id_tag%>"></i>
                                                            <%=tag[j].tag_name%>
                                                        </a>
                                                        <script>
                                                            $(".style_select_<%= tag[j].id_tag%>").css("color", "<%=tag[j].tag_styles%>");
                                                        </script>
                                                        <%}%>
                                                            <% }%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                            <% } else {%>
                                ไม่มีข้อมูล
                                <%}%>
            </div>
        </div>
        <div class="row cookie-tag mt-4">
            <div class="col">
                <div class="card ">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">สร้าง Tag</h4>
                    </div>
                    <div class="card-body">
                        <div class="row pb-3">
                            <div class="col-md-8">
                                <button type="button" class="btn btn-success px-4" data-bs-toggle="modal"
                                    data-bs-target="#add-tag-modal"><i class="fas fa-plus"></i>
                                    สร้าง Tag</button>
                            </div>
                            <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                <div class="input-group mb-2 ">
                                    <a class="btn btn-outline-warning" id="reface"><i data-feather="refresh-cw"></i></a>
                                    <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                        id="Srearch" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-warning" type="button" id="button-addon2"><i
                                            class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive" style="min-height: 470px;" id="table-data-tag">
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 text-secondary ">
                                <div class="row">
                                    <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a
                                            id="show_all"></a>
                                        รายการ</span>
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" class="mt-2">
                                    <ul class="pagination">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->

    <!-- Modal edit Domain -->
    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h4 class="modal-title" id="exampleModalLabel1">เเก้ไขโดเมน</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/edit-domain" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="control-label">ชื่อโดเมน</label>
                            <input type="text" class="form-control" id="domain_edit" name="namedomain_dg"
                                placeholder="https://www.domain.com" value="https://">
                        </div>
                        <div class="mb-3">
                            <label class="control-label">ข้อความ</label>
                            <textarea class="form-control" id="message_edit" name="message"></textarea>
                        </div>
                        <input type="text" id="id_edit" name="id_dg" hidden>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal add Domain -->
    <div class="modal fade" id="addDomain-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h4 class="modal-title" id="exampleModalLabel1">เพิ่มโดเมน</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/adddomain" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="control-label">ชื่อโดเมน</label>
                            <input type="text" class="form-control" id="recipient-name1" name="namedomain_dg"
                                placeholder="https://www.domain.com" value="https://" required>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="control-label">ข้อความ</label>
                            <textarea class="form-control" id="message-text1" name="message"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal add Tag -->
    <div class="modal fade" id="add-tag-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog  modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h4 class="modal-title" id="exampleModalLabel1">สร้างTag</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/saveTag" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="control-label">กรอก Tag</label>
                            <input type="text" name='tag_dg' value="" style="border-radius: 4px;" required>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal edit Tag -->
    <div class="modal fade" id="edit-tag-modal" tabindex="-1" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom">
                    <h4 class="modal-title" id="exampleModalLabel1">เเก้ไขข้อมูล</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/editTag" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="control-label">ชื่อTag</label>
                            <input type="text" name='tag_name' class="form-control" id="edit_tag_model">
                            <input type="text" name='id_tag' id="id_tag_model" hidden>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <button type="submit" class="btn btn-success">ตกลง</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <style>
        .tag-cookie {
            background-color: #a6a6a69e;
            color: black;
            padding: 0px;
            font-size: 21px;
            font-weight: 500;
        }

        /* .tagify {
            max-width: 700px;
        } */

        .spect {
            margin-right: 0.75rem;
            width: 18px;
            height: 24px;
            font-size: 26px;
            /* color: black; */
        }

        #all-cookie {
            margin-right: 0.5rem;
            font-size: 20px;
        }
    </style>

    <script src="../../dist/js/views_js/cookie_managemet/cookie_managemet.js"> </script>
    <%- include ("../../../_footer") %>