<%- include ("../../views/header") %>
    <!-- <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">จัดการ Cookie</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
                            <li class="breadcrumb-item active" aria-current="page">จัดการเนื้อหา</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <a href="/home" class="btn btn-dark">กลับ</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="card card-body">
            <div class="col-12">
                <div style="text-align: center;">
                    <img src="../../dist/img/underconstruction1.gif" alt="underconstruction" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <%- include ("../../views/footer") %>