<%- include('../_header') -%>
  <!-- <%-JSON.stringify(dataout)%> -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-md-5 align-self-center">
          <h3 class="page-title">กำหนดการใช้ข้อมูลส่งออกไปภายนอก</h3>
          <br />
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Data protect Action</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">การป้องกันข้อมูลสู่ภายนอก (Export)</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  กำหนดการใช้ข้อมูล
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-3 col-md-6" style="margin-left: 15%">
          <a href="/pattern/datatype">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">รูปแบบข้อมูล</h4>
                <div class="text-end">
                  <h2 class="fw-light mb-0">
                    <i class="ti-arrow-up text-success"></i>
                    (ทดสอบ)
                  </h2>
                  <span class="text-muted">ขณะ (ทดสอบ)</span>
                </div>
                <span class="text-success" id="bar1">100%</span>
                <div class="progress">
                  <div id="progress-bar1" class="progress-bar bg-success" role="progressbar" aria-valuenow=""
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <a href="/pattern/disk">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">พื้นที่จัดเก็บ ตามรูปแบบ GB</h4>
                <div class="text-end">
                  <h2 class="fw-light mb-0">
                    <i class="ti-arrow-up text-info"></i><span id="diskSpace"> (ทดสอบ) </span>
                  </h2>
                  <span class="text-muted">(ทดสอบ)</span>
                </div>
                <span class="text-info" id="bar2"> 0 </span>
                <div class="progress">
                  <div id="progress-bar2" class="progress-bar bg-info" role="progressbar" aria-valuenow=""
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
          <a href="/pattern/used">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">การใช้งานรูปแบบ</h4>
                <div class="text-end">
                  <h2 class="fw-light mb-0">
                    <i class="ti-arrow-up text-purple"></i> 0
                  </h2>
                  <span class="text-muted">(ทดสอบ)</span>
                </div>
                <span class="text-purple" id="bar3">0%</span>
                <div class="progress">
                  <div id="progress-bar3" class="progress-bar bg-purple" role="progressbar" aria-valuenow=""
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Column -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="border-bottom title-part-padding">
              <h4 class="card-title mb-0">
                กำหนดการใช้ข้อมูล
                เพื่อให้มั่นใจว่าข้อมูลที่ถูกนำออกไปถูกต้องตามนโยบายและควบคุมโดย
                DPO<span class="text-secondary"></span>
              </h4>
            </div>
            <div class="card-body">
              <%if(dataout.length > 0){%>
              <form action="javascript:void(0);" method="post">
                <div class="row">
                  <div class="col-md-8">
                    <a href="#new_pattern" class="btn btn-success" data-bs-toggle="modal">
                      <i class="me-2 mdi mdi-file-export"></i>
                      กำหนดการใช้ข้อมูล</a>
                  </div>
                  <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                    <div class="input-group mb-2">
                      <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                          data-feather="refresh-cw"></i></a>
                      <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput" name="search"
                        aria-label="" aria-describedby="button-addon2" value="" />
                      <button type="submit" class="btn btn-outline-warning">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <%}%>
              <div style="min-height: 470px; margin-left: 1%; margin-right: 1%">
                <%if(dataout.length > 0){%>
                <table id="myTable" class="tablesaw table-striped table-bordered table-hover table"
                  data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%">
                  <thead>
                    <tr>
                      <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3"
                        class="border text-center no">
                        ลำดับ
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                        class="border text-center">
                        ชื่อประเภท
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4" class="border text-center">
                        ข้อมูลที่แยกประเภท
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        วันที่สร้าง
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        ระยะเวลา
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        เครื่องหมายข้อมูล
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        ผู้สร้าง
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        อุปกรณ์/Agent
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        DPO review
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        ดูข้อมูล
                      </th>
                      <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                        ลบรูปแบบ
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                      <%for (i in dataout){%>
                        <tr>
                          <td class="title align-top"><%=parseInt(i)+1%></td>
                          <td class="text-wrap text-break align-top"><%=dataout[i].classify_name%></td>
                          <td class="align-top"><%=dataout[i].pattern_name%></td>
                          <td class="text-wrap text-break align-top"><%=dataout[i].datecreate%></td>
                          <td class="align-top"><%=dataout[i].long_date%> วัน <%=dataout[i].long_hour%> ชั่วโมง</td>
                          <%if(dataout[i].classify_type_data_in_event_personal_datamark == 1){%>
                            <td class="title align-top" style="color: green;">Yes</td>
                            <%}else{%>
                              <td class="title align-top" style="color: red;">No</td>
                                <%}%>
                          <td class="text-wrap text-break align-top"><%=dataout[i].firstname %> <%=dataout[i].lastname %></td>
                          <td class="align-top"><%=dataout[i].pattern_storage_method_outside_device_name %> จาก <span style="color: red;"><%=dataout[i].pattern_storage_method_outside_agent_name %></span></td> 
                          <td class="title align-top" style="color: red;">DPO Review</td>
                          <td class="title align-top tablesaw-swipe-cellhidden tablesaw-swipe-cellpersist text-center" style="width:110px"><b class="tablesaw-cell-label">
                            ดูรูปแบบ</b> <span class="tablesaw-cell-content"><a style="cursor: pointer;" class="text-info"><i class="fas fa-file-alt fa-2x"></i></a></span></td>
                            <td class="title align-top tablesaw-swipe-cellhidden tablesaw-swipe-cellpersist text-center" style="width:110px"><b class="tablesaw-cell-label">
                              ลบรูปแบบ</b> <span class="tablesaw-cell-content"><a style="cursor: pointer;" onclick="alertdel('<%=dataout[i].data_out_id%>','<%=dataout[i].classify_name%>');" class="text-info"><i class="fas fa-trash-alt fa-2x" style="color:red"></i></a></span></td>
                          </tr>
                      <%}%>
                  </tbody>
                </table>
                <%}else{%>
                  <center>
                  <div class="col-md-6 col-sm-12 mt-2">
                    <div class="card  card-hover">
                        <div class="card-header bg-info">
                            <h4 class="mb-0 text-white">เพิ่มข้อมูล กำหนดการใช้ข้อมูล</h4></div>
                        <div class="card-body">
                            <h3 class="card-title">การเตรียมข้อมูลเพื่อส่งออก</h3>
                            <p class="card-text">↓ สามารถกดได้ที่ปุ่มด้านล่าง ↓</p>
                            
                            <a href="#new_pattern" class="btn btn-success" data-bs-toggle="modal">
                              <i class="me-2 mdi mdi-file-export"></i>
                              กำหนดการใช้ข้อมูล</a>
                        </div>
                    </div>
                </div>
                </center>
                  <%}%>
              </div>
              <%if(dataout.length > 0){%>
              <div class="row">
                <div class="col-md-6 text-secondary" style="margin-left: 1%">
                  <span>แสดงผล <span id="start-1">1</span> ถึง
                    <span id="end"><%=dataout.length%></span> ทั้งหมด <%=dataout.length%> รายการ</span>
                </div>
                <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                  <nav aria-label="Page navigation example" style="margin-right: 2%">
                    <ul class="pagination" id="pagination-wapper"></ul>
                  </nav>
                </div>
              </div>
              <%}%>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <form action="/dataoutadd" method="POST">
        <%- include('data_out_add') -%>
        <%- include('data_out_addclass') -%>
      </form>

      <!-- -------------------------------------------------------------- -->
      <!-- End PAge Content -->
      <!-- -------------------------------------------------------------- -->
      <!--start overlay-->
    </div>
      <%- include('../_footer') -%>
    
    <script>
      function alertdel(id,name){
        let confirmAction = confirm("(ตัวลบชั่วคราว) ต้องการลบ "+name +" ใช่หรือไม่");
        if (confirmAction) {
          location.href = "/dataoutdel/"+id;
        }
    }
    </script>
