<div id="add-classicfication" class="modal fade" tabindex="-2" aria-labelledby="success-header-modalLabel"
aria-hidden="true" style="display: none; margin-top: 2%">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header modal-colored-header border-bottom title-part-padding">
            <h4 class="modal-title" style="color: black; font-weight: bold;">
                ข้อมูลที่ Classicfication
            </h4>
        </div>
        <div class="modal-body">
            <div class="h5" style="font-weight: bold;">
                เลือกข้อมูลที่ต้องการใช้งาน
            </div>
            <div>
                <table class="table table-boardless">
                    <tbody id="table-body-policy-add">
                        <%if(classi.length > 0){%>
                            <%for (i in classi){%>
                                <tr>
                                    <th style="vertical-align: center;">
                                        <div>ประเภท: <%=classi[i].classify_name%></div>
                                        <div>ข้อมูลที่แยกประเภท: <%=classi[i].pattern_name%></div>
                                        <%if(classi[i].classify_type_data_in_event_personal_datamark == 1){%>
                                            <div >Data Mark: Yes</div>
                                            <%}else{%>
                                                <div>Data Mark: No</div>
                                                <%}%>
                                    </th>
                                    <!-- pattern_storage_method_outside_agent_name -->
                                    <td style="vertical-align: middle; width: 150px;">
                                        <span class="btn btn-success" onclick="checkclassid('<%=classi[i].classify_id%>','<%=classi[i].classify_name%>');" data-bs-dismiss="modal"><i class="icon-plus" style="font-size: 25px; vertical-align: middle;"></i>&nbsp; &nbsp;เลือก</span>
                                    </td>
                                </tr>
                            <%}}%>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 justify-content-center align-self-center d-block d-md-flex">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pagination-wapper-policy-add">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12 text-secondary">
                    <span>แสดงผล <span id="start-policy-add">0</span> ถึง <span
                            id="end-policy-add">1</span>
                        ทั้งหมด <span id="total-policy-add">1</span> รายการ</span>
                </div>
            </div>
            <div class="modal-footer">
                <div style="margin-right: 42%;">
                    <button type="button" class="btn btn-danger font-weight-large"
                        data-bs-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>
<script>
    function checkclassid(valid,name){
    document.getElementById("shownameclass").value = name
    document.getElementById("idclassi").value = valid
    console.log(document.getElementById("idclassi").value);
    $("#tablecsv").empty();
    var array = <%-JSON.stringify(data) %>;
    fetch = document.getElementById("tablecsv");
    var thead1 = document.createElement('thead');
    fetch.appendChild(thead1);
    tr = document.getElementById('tablecsv').tHead;
    for (head in array[0]) {
      th = document.createElement('th');
      th.className = "border text-center";
      th.innerHTML = array[0][head];
      tr.appendChild(th);
    }
    array.shift();
    $("#showdata").text("มี "+array.length+" Row "+array[0].length+" Colum")
    for (var i = 0; i < array.length; i++) {
      var newRow = fetch.insertRow(fetch.length);
      for (var j = 0; j < array[i].length; j++) {
        var cell = newRow.insertCell(j);
        //cell.innerHTML = array[i][j];
        cell.className = "text-wrap text-break align-top";
        if (array[i][j] != "") {
          cell.innerHTML = array[i][j];
        } else {
          cell.style.color = "red";
          cell.style.textAlign = "center";
          cell.innerHTML = '-';
        }

        // $(cell).css("color","black");
        //$(cell).css('color','red');
      }
    }
    
    // }
    // var x = document.getElementById("tablecsv");
    // x.style.display = "none"



    }
    function toggleText() {
        $("#tablecsv").empty();
    //   var x = document.getElementById("tablecsv");
    //   if (x.style.display === "none") {
    //     x.style.display = "";
    //   } else {
    //     x.style.display = "none";
    //   }
    }
</script>