<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Agent Database</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">Agent Database</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="database_ag">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">จำนวน Record ทั้งหมด</h4>
                        <div class="text-end">
                            <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i>
                                <% var count=0 %>
                                    <% for (var i=0;i<data.length;i++){%>
                                        <% count+=1 %>
                                            <%}%>
                                                <%= count %>
                            </h2>
                            <span class="text-muted">ขณะ <%= (new Date().getDate())+"/"+((new
                                    Date().getMonth())+1)+"/"+(new Date().getFullYear())%></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <!-- <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ขนาดไฟล์ทั้งหมดโดยเฉลี่ย</h4>
                        <div class="text-end">
                            <h2 class="fw-light mb-0"><i class="ti-arrow-up text-info"></i>
                                
                            </h2>
                            <span class="text-muted">ขณะ <%= (new Date().getDate())+"/"+((new
                                    Date().getMonth())+1)+"/"+(new Date().getFullYear())%></span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3>ช่วงเวลาของ Records ทั้งหมด</h3>
                                        <h6 class="card-subtitle">ขณะ <%= (new Date().getDate())+"/"+((new
                                                Date().getMonth())+1)+"/"+(new Date().getFullYear())%>
                                        </h6>
                                    </div>
                                    <!-- <div class="ms-auto ">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <h6 class="text-muted"><i
                                                        class="fa fa-circle me-1 text-success"></i>Product A</h6>
                                            </li>
                                            <li class="list-inline-item">
                                                <h6 class="text-muted"><i
                                                        class="fa fa-circle me-1 text-info"></i>Product B</h6>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div id="revenue-statistics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">รายการ Agent Database<span class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <form action="javascrip:void(0);" method="post">
                            <div class="row pb-3">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput"
                                            name="search" aria-label="" aria-describedby="button-addon2">
                                        <button type="submit" class="btn btn-outline-warning"> Search </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="min-height: 470px; margin-left: 0.5%; margin-right: 1%;">
                            <table id="myTable" class="tablesaw no-wrap table-striped table-bordered table-hover table"
                                data-tablesaw-mode="stack" data-tablesaw-sortable>
                                <thead>
                                    <tr>
                                        <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                            data-tablesaw-priority="3" class="border text-center" style="width: 5%;">
                                            ลำดับ</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            ข้อมูล</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                            class="border text-center">
                                            เวลา/ วันที่บันทึก</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8"
                                            class="border text-center" style="width: 10%;">
                                            ตัวเลือก</th>
                                    </tr>
                                </thead>
                                <!-- <input id="item0" value="<% for(i in data){%><%= data[i].status %>,<%}%>" readonly
                                    hidden /> -->
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-secondary">
                                <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด
                                    รายการ</span>
                            </div>
                            <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                                <nav aria-label="Page navigation example" class="mt-2">
                                    <ul class="pagination" id="pagination-wapper">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <form action="/database_ag/delete" method="POST">
                            <div id="delete" class="modal fade" tabindex="-1" aria-labelledby="danger-header-modalLabel"
                                aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header modal-colored-header bg-danger text-white">
                                            <h4 class="modal-title" id="danger-header-modalLabel">
                                                <span id="header"></span>
                                            </h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div align="center" class="modal-body">
                                            <div clas="form-group">
                                                <label class="h4">
                                                    ลำดับ : </label>
                                                <div style="margin-bottom: 10px">
                                                    <span id="id_delete"></span>
                                                </div>
                                                <label class="h4">
                                                    ข้อมูล : </label>
                                                <div style="margin-bottom: 10px">
                                                    <span id="status_delete"></span>
                                                </div>
                                                <label class="h4">
                                                    เวลา/ วันที่บันทึก : </label>
                                                <div style="margin-bottom: 10px">
                                                    <span id="date_delete"></span>
                                                </div>
                                                <div>
                                                    <span id="value"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <div style="margin-right: 30%;">
                                                <button type="submit"
                                                class="btn btn-light-danger text-danger font-weight-medium">ยืนยันการลบข้อมูล</button>

                                            <button type="button" class="btn btn-light"
                                                data-bs-dismiss="modal">ปิด</button>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/dist/js/all_function_agents.js"></script>
    <!-- <script src="/UI/dist/js/pages/dashboards/dashboard3.js"></script> -->
    <script src="/UI/dist/js/custom_charts.js"></script>
    <%- include('../_footer') -%>
        <!-- <div align = 'center' >
        <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
    </div> -->