<%- include('../_header') -%>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h3 class="page-title">Agent file/Log</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                        <li class="breadcrumb-item">Agent file/Log</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="file_log_ag">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">จำนวนไฟล์ทั้งหมด</h4>
                    <div class="text-end">
                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i>
                            <%= dir %>
                        </h2>
                        <span class="text-muted">ขณะ <%= (new Date().getDate())+"/"+((new
                                Date().getMonth())+1)+"/"+(new Date().getFullYear())%></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ขนาดไฟล์ทั้งหมดโดยเฉลี่ย</h4>
                    <div class="text-end">
                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-info"></i>
                            <span id="total-size"></span>
                        </h2>
                        <span class="text-muted">ขณะ <%= (new Date().getDate())+"/"+((new
                                Date().getMonth())+1)+"/"+(new Date().getFullYear())%></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3>ช่วงเวลาที่ไฟล์มีการแก้ไข</h3>
                                    <h6 class="card-subtitle">ขณะ <%= (new Date().getDate())+"/"+((new
                                            Date().getMonth())+1)+"/"+(new Date().getFullYear())%>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="revenue-statistics"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">รายการ Agent file/Log<span class="text-secondary"></span></h4>
                </div>
                <div class="card-body">
                    <form action="javascrip:void(0);" method="post">
                        <div class="row pb-3">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput"
                                        name="search" aria-label="" aria-describedby="button-addon2">
                                    <button type="submit" class="btn btn-outline-warning"> Search </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div style="min-height: 470px; margin-left: 0.5%; margin-right: 1%;">
                        <table id="myTable" class="tablesaw no-wrap table-striped table-bordered table-hover table"
                            data-tablesaw-mode="stack" data-tablesaw-sortable>
                            <thead>
                                <tr>
                                    <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                        data-tablesaw-priority="3" class="border text-center" style="width: 5%;">
                                        ลำดับ</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                        class="border text-center">
                                        ชื่อไฟล์</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"
                                        class="border text-center">
                                        นามสกุลไฟล์</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                        class="border text-center">
                                        ขนาดไฟล์</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                        class="border text-center">
                                        เวลา/วันที่ แก้ไขล่าสุด</th>
                                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8"
                                        class="border text-center">
                                        ดูข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-secondary">
                            <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <%= dir %>
                                    รายการ</span>
                        </div>
                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example" class="mt-2">
                                <ul class="pagination" id="pagination-wapper">
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="detail" class="modal fade" tabindex="-1"
                        aria-labelledby="info-header-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-colored-header bg-info text-white">
                                    <h4 class="modal-title" id="info-header-modalLabel">
                                        ข้อมูลของไฟล์ <span id="name"></span>
                                    </h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- <label style="">
                                        ประเภทเอกสาร: </label>
                                    <div id="deletedoc_type">

                                    </div> -->
                                </div>
                                <div class="modal-footer">

                                    <!-- <button type="submit"
                                        class="btn btn-light-danger text-danger font-weight-medium">ยืนยันการลบข้อมูล</button> -->

                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">ปิด</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/UI/dist/js/all_function_agents.js"></script>
<!-- <script src="/UI/dist/js/pages/dashboards/dashboard3.js"></script> -->
<script src="/UI/dist/js/custom_charts.js"></script>
    <!-- <div align = 'center' >
        <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
    </div> -->
    <%- include('../_footer') -%>
        