<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Agent Logger (Hash)</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">Agent Logger (Hash)</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="logger_hash_ag">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">จำนวน Directory ทั้งหมด</h4>
                        <div class="text-end">
                            <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i>
                                <%= path.length %>
                            </h2>
                            <span class="text-muted">ขณะ <%= (new Date().getDate())+"/"+((new
                                    Date().getMonth())+1)+"/"+(new Date().getFullYear())%></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">จำนวน Records ทั้งหมด</h4>
                        <div class="text-end">
                            <h2 class="fw-light mb-0"><i class="ti-arrow-up text-info"></i>
                                <%= hash.length %>
                            </h2>
                            <span class="text-muted">ขณะ <%= (new Date().getDate())+"/"+((new
                                    Date().getMonth())+1)+"/"+(new Date().getFullYear())%></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap">
                                    <div>
                                        <h3>จำนวน Records ทั้งหมดต่อช่วงเวลา</h3>
                                        <h6 class="card-subtitle">ขณะ <%= (new Date().getDate())+"/"+((new
                                                Date().getMonth())+1)+"/"+(new Date().getFullYear())%>
                                        </h6>
                                    </div>
                                    <!-- <div class="ms-auto ">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <h6 class="text-muted"><i
                                                        class="fa fa-circle me-1 text-success"></i>Product A</h6>
                                            </li>
                                            <li class="list-inline-item">
                                                <h6 class="text-muted"><i
                                                        class="fa fa-circle me-1 text-info"></i>Product B</h6>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div id="revenue-statistics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0">รายการ Agent Logger (Hash)<span class="text-secondary"></span></h4>
            </div>
            <div class="card-body">
                <form action="javascrip:void(0);" method="post">
                    <div class="row pb-3">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput" name="search"
                                    aria-label="" aria-describedby="button-addon2">
                                <button type="submit" class="btn btn-outline-warning"> Search </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="min-height: 470px; margin-left: 0.5%; margin-right: 1%;">
                    <table id="myTable" class="tablesaw no-wrap table-striped table-bordered table-hover table"
                        data-tablesaw-mode="stack" data-tablesaw-sortable>
                        <thead>
                            <tr>
                                <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col
                                    data-tablesaw-priority="3" class="border text-center" style="width: 5%;">
                                    ลำดับ</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist"
                                    class="border text-center">
                                    ชื่ออุปกรณ์ที่ส่งมา</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"
                                    class="border text-center">
                                    ระบบปฏิบัติการ</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4"
                                    class="border text-center">
                                    ที่อยู่ของไฟล์</th>
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5"
                                    class="border text-center">
                                    ชื่อไฟล์</th>
                                <!-- <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6"
                                            class="border text-center">
                                            บรรทัดทั้งหมด</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7"
                                            class="border text-center">
                                            วันที่/เวลา ที่บันทึก</th>
                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8"
                                            class="border text-center">
                                            ค่าแฮชของไฟล์</th> -->
                                <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7"
                                    class="border text-center">
                                    รายละเอียด</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 text-secondary">
                        <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <%= hash.length%>
                                รายการ</span>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination" id="pagination-wapper">
                            </ul>
                        </nav>
                    </div>
                </div>
                <div id="detail" class="modal fade" tabindex="-1" aria-labelledby="info-header-modalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header modal-colored-header bg-info text-white">
                                <h4 class="modal-title" id="info-header-modalLabel">
                                            <span id="header"></span>
                                        </h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="form-group">
                                    <label class="h4">
                                        จำนวนบรรทัด: </label>
                                    <div  style="margin-bottom: 10px;">
                                        <span id="size_logger_ag"></span>
                                    </div>
                                    <label class="h4">
                                        วันที่/เวลาที่บันทึก: </label>
                                    <div  style="margin-bottom: 10px;">
                                        <span id="recording_time_logger_ag"></span>
                                    </div>
                                    <label class="h4">
                                        ค่าแฮชของไฟล์: </label>
                                    <div style="margin-bottom: 10px;">
                                        <span id="hash_value_logger_ag"></span>
                                    </div>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">ปิด</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/dist/js/all_function_agents.js"></script>
    <!-- <script src="/UI/dist/js/pages/dashboards/dashboard3.js"></script> -->
    <script src="/UI/dist/js/custom_charts.js"></script>
    <%- include('../_footer') -%>
        <!-- <div align = 'center' >
        <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
    </div> -->