<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Agent Management</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">Agent Management</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="index">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">จัดการใช้งาน Agent (Agent Management)<span class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <form action="javascript:void(0);" method="post">
                            <!-- Header table -->
                            <div class="row">
                                <div class="col-md-8">
                                    <a href="#new_agent" class="btn btn-success" data-bs-toggle="modal">
                                        <i class="mdi mdi-account-plus"></i> สร้างการจัดการ Agent</a>
                                </div>
                                <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                                    <div class="input-group mb-2">
                                        <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                                data-feather="refresh-cw"></i></a>
                                        <input type="text" class="form-control" placeholder="ค้นหา.." id="myInput" name="search" aria-label="" aria-describedby="button-addon2" value="">
                                        <button type="submit" class="btn btn-outline-warning"> Search </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Header table -->
                            <!-- Body table -->
                            <div style="min-height: 600px;">
                                <br/>
                                <table id="myTable" class="tablesaw table-striped table-bordered table-hover table" data-tablesaw-mode="stack" data-tablesaw-sortable style="margin-top: 1%;">
                                    <thead>
                                        <tr class="">
                                            <th data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="1" class="border text-center no">ลำดับ</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist" class="border text-center" style="width: 9%;">
                                                รหัสของ Agent</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2" class="border text-center">
                                                ชื่อของ Agent</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3" class="border text-center">
                                                ประเภทของ Agent</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4" class="border text-center" style="width: 20%;">
                                                คำอธิบาย</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5" class="border text-center">
                                                อุปกรณ์ที่ติดตั้ง</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="6" class="border text-center">
                                                IP Address</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7" class="border text-center">
                                                วันที่สร้าง</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8" class="border text-center">
                                                ผู้สร้าง</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="9" class="border text-center">
                                                ดูข้อมูล</th>
                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="10" class="border text-center">
                                                ลบช้อมูล</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">

                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-secondary" style="margin-left: 1%;">
                                    <span>แสดงผล <span id="start"></span> ถึง <span id="end"></span> ทั้งหมด <span id="total-agent"></span> รายการ</span>
                                </div>
                                <div class="col-md justify-content-end align-self-center d-block d-md-flex">
                                    <nav aria-label="Page navigation example" style="margin-right: 2%;">
                                        <ul class="pagination" id="pagination-wapper">
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Body table -->
                        </form>
                    </div>
                </div>
                <form action="/agent_manage/add" method="POST">
                    <div id="new_agent" class="modal fade" tabindex="-1" aria-labelledby="success-header-modalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-bottom title-part-paddin">
                                    <h4 class="modal-title" id="success-header-modalLabel">
                                        <span style="font-weight: bold;"><i class="mdi mdi-account-plus"></i>
                                            สร้างการจัดการ Agent</a></span>
                                    </h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div clas="form-group">
                                        <div style="margin-bottom: 3%;">
                                            <label for="select-agent">เลือก Agent</label>
                                            <select id="select-agent" name="agent_type_id" class="form-control" style="width: 80%; display: inline;">
                                                <option value="">กรุณาเลือก</option>
                                            </select>
                                        </div>
                                        <div style="margin-bottom: 3%;">
                                            <label for="select-code">รหัสของ Agent</label>
                                            <input id="select-code" type="text" placeholder="กรุณาเลือก Agent..." class="form-control" style="width: 76%; display: inline;" readonly>
                                        </div>
                                        <div style="margin-bottom: 3%;">
                                            <label for="select-type">ประเภทของ Agent</label>
                                            <input id="select-type" type="text" placeholder="กรุณาเลือก Agent..." class="form-control" style="width: 71%; display: inline;" readonly>
                                        </div>
                                        <div style="margin-bottom: 3%;">
                                            <label for="select-des">คำอธิบาย</label>
                                            <textarea name="" id="select-des" cols="10" rows="5" readonly style="resize: none;" class="form-control">กรุณาเลือก Agent...</textarea>
                                        </div>
                                        <div style="margin-bottom: 3%;">
                                            <label for="select-device">อุปกรณ์ที่ต้องการติดตั้ง</label>
                                            <input id="select-device" name="implement_device" type="text" placeholder="กรุณาป้อนอุปกรณ์..." class="form-control" style="width: 45%; display: inline;"> &nbsp;&nbsp;
                                            <span><a href="javascript:void(0);" style="text-decoration: underline;">เลือกอุปกรณ์</a></span>
                                        </div>
                                        <div style="margin-bottom: 3%;">
                                            <label for="select-ip">IP Address</label>
                                            <input id="select-ip" name="ip_address" type="text" placeholder="กรุณาป้อนIP..." class="form-control" style="width: 67.5%; display: inline;"> &nbsp;&nbsp;
                                            <span><a href="javascript:void(0);" style="text-decoration: underline;">เลือก IP</a></span>
                                        </div>
                                        <input type="text" name="acc_id" value="<%= session.acc_id %>" readonly hidden />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" style="margin-right: 10%;" class="btn btn-success">ยืนยัน</button>
                                    <button type="button" style="margin-right: 30%;" class="btn btn-light-danger text-danger" data-bs-dismiss="modal">ยกเลิก</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/dist/js/all_function_agents.js"></script>
    <%- include('../_footer') -%>