<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Monitor</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/monitor">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ข้อมูลออก</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="row">


                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="margin-left: 10px;">
                            <div class="card-body">
                                <div class="row">
                                    <div style="text-align: center;">

                                        <div class="dis-in">
                                            <p style="font-size: x-small;color: #90a4ae;">Mail Server</p>
                                        </div>
                                        <div class="dis-in">
                                            <div class="connect" style="display: inline-block;"></div>
                                        </div>
                                        <div class="dis-in">
                                            <p style="font-size: x-small;color: #90a4ae;">ALLTra</p>
                                        </div>
                                        <div class="dis-in">
                                            <div class="connect" style="display: inline-block;"></div>
                                        </div>
                                        <div class="dis-in">
                                            <p style="font-size: x-small;color: #90a4ae;">Server</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->

                    <div class="col-lg-3 col-md-6" style="margin-top: 20px;">
                        <div class="card">
                            <div class="card-body analytics-info">
                                <h4 class="card-title">Total Visit</h4>
                                <div class="row">
                                    <div class="col-4">
                                        <div id="sparklinedash"></div>
                                    </div>
                                    <div class="col-8 text-end d-flex align-items-center justify-content-end">
                                        <i data-feather="arrow-up" class="fill-white feather-sm text-success"></i> <span class="counter text-success font-weight-medium">1659</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-inline text-end">
                                    <li class="list-inline-item">
                                        <h5><i class="fa fa-circle me-1 text-inverse"></i>iPhone</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5><i class="fa fa-circle me-1 text-info"></i>iPad</h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5><i class="fa fa-circle me-1 text-success"></i>iPod</h5>
                                    </li>
                                </ul>
                                <div style="height: 100px;" id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body analytics-info">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="card-title mb-0">Total Visit</h4>
                                    <div class="ms-auto">
                                        <small class="text-success"><i data-feather="arrow-up" class="fill-white text-success feather-sm"></i> 18% High then last month</small>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="border-end pe-3">
                                        <h6 class="text-muted fw-normal">Overall Growth</h6>
                                        <b>80.40%</b>
                                    </div>
                                    <div class="ms-3 border-end pe-3">
                                        <h6 class="text-muted fw-normal">Montly</h6>
                                        <b>15.40%</b>
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="text-muted fw-normal">Day</h6>
                                        <b>5.50%</b>
                                    </div>
                                </div>
                            </div>
                            <div id="sparkline8"></div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="row">
                        <div>
                            <p>ชื่ออุปกรณ์ xxx</p>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="card">
                                <div class="card-body pd-5px bd-st">
                                    <p class="t-center">
                                        <a class="btn btn-warning" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
                                                  การส่งออกข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                    </p>

                                    <div class="collapse show" id="collapseExample6">
                                        <div class="card-body pd-5px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">AIITRA 1.1.1</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Log Mangenment (Log 3)</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">MySQL Server</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Drive G</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">xxxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Data Hash MD 5</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Check Log 0-1-3</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                        <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="card">
                                <div class="card-body pd-5px bd-st">
                                    <p class="t-center">
                                        <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
                                                  การบันทึกข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                    </p>

                                    <div class="collapse show" id="collapseExample5">
                                        <div class="card-body pd-5px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">xxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Log Mangenment (Log2)</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">MySQL</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Server</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Drive G</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">xxxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Data Hash MD 5</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Check Log 0-1</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="45">
                                                        <p class="text-color-1 dis-in" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="25px">
                                                        <p class="text-color-1 dis-in" style="font-size: x-small;">Monitor</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="25px">
                                                        <p class="text-color-1 dis-in" style="font-size: x-small;">Watch Dog</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="25px">
                                                        <p class="text-color-1 dis-in" style="font-size: x-small;">Data out</p>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="card">
                                <div class="card-body pd-5px bd-st">
                                    <p class="t-center">
                                        <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
                                                  การจัดเก็บ Log<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                    </p>

                                    <div class="collapse show" id="collapseExample4">
                                        <div class="card-body pd-5px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">xxxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Log Raw (Log1)</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">MySQL Server</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Drive F:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">xxxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Dada Hash MD 5</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Check Log 0=1</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                        <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="card">
                                <div class="card-body pd-5px bd-st">
                                    <p class="t-center">
                                        <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                                                  การรับข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                    </p>

                                    <div class="collapse show" id="collapseExample3">
                                        <div class="card-body pd-5px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">xxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Spac:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, deleniti!</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Network:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">xx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Roout NAT:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">deleniti!</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">CoreSwitch</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                        <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="card">
                                <div class="card-body pd-5px bd-st">
                                    <p class="t-center">
                                        <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                                                  การส่งข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                    </p>
                                    <div class="collapse show" id="collapseExample2">
                                        <div class="card card-body pd-5px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Agent AIITRA 1.0 for mail</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">internet:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Lorem ipsum</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">User:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Lorem ipsum</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Password:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Lorem ipsum</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Log Raw (Log 0)</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Data Hash MD 5</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Check Log 0</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Policy All day M-F 23.00</p>
                                                    </div>
                                                </div>


                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                        <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <div class="card">
                                <div class="card-body pd-5px bd-st">
                                    <p class="t-center">
                                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                  แหล่งกำเนิด<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                    </p>

                                    <div class="collapse show" id="collapseExample">
                                        <div class="card-body pd-5px">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">xxx</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Spac:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, deleniti!</p>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div>
                                                        <p class="text-color-1 f-text-10px">Log Raw (0)</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Network:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div>
                                                        <p class="text-color-1 f-text-8px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, deleniti!</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="t-center">
                                                        <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                        <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">ประวัติการนำเข้าข้อมูล</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="complex_head_col" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ชื่อ file</th>
                                        <th>การส่งข้อมูลออก</th>
                                        <th>วิธีจัดส่ง</th>
                                        <th>Hash(Log3)</th>
                                        <th>แหล่งกำเนิด</th>
                                        <th>วันที่จัดเก็บ</th>
                                        <th>Hash(Log1)</th>
                                        <th>Check</th>
                                        <th>การบันทึกข้อมูล</th>
                                        <th>Hash(Log2)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>$170,750</td>
                                        <td>Tokyo</td>
                                        <td>8422</td>
                                        <td>g.winters@datatables.net</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>$86,000</td>
                                        <td>San Francisco</td>
                                        <td>1562</td>
                                        <td>a.cox@datatables.net</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ชื่อ file</th>
                                        <th>การส่งข้อมูลออก</th>
                                        <th>วิธีจัดส่ง</th>
                                        <th>Hash(Log3)</th>
                                        <th>แหล่งกำเนิด</th>
                                        <th>วันที่จัดเก็บ</th>
                                        <th>Hash(Log1)</th>
                                        <th>Check</th>
                                        <th>การบันทึกข้อมูล</th>
                                        <th>Hash(Log2)</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include('../_footer') -%>

            <!--This page JavaScript -->
            <script src="/UI/assets/libs/chartist/dist/chartist.min.js"></script>
            <script src="/UI/assets/libs/echarts/dist/echarts-en.min.js"></script>
            <script src="/UI/assets/libs/flot/excanvas.min.js"></script>
            <script src="/UI/assets/libs/flot/jquery.flot.js"></script>
            <script src="/UI/assets/libs/jquery.flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
            <script src="/UI/assets/libs/d3/dist/d3.min.js"></script>
            <script src="/UI/assets/libs/c3/c3.min.js"></script>
            <script src="/UI/assets/libs/gaugeJS/dist/gauge.min.js"></script>
            <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
            <script src="/UI/dist/js/pages/widget/card-custom.js"></script>



            <!-- This Page charts LOG-->
            <script src="/UI/dist/js/pages/chartsLog/chartsLog.js"></script>

            <!-- Custom fullcalendar -->

            <script src="/UI/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
            <script src="/UI/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>

            <script src="/UI/assets/libs/moment/min/moment.min.js"></script>
            <script src="/UI/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
            <script src="/UI/dist/js/pages/calendar/cal-init.js"></script>

            <!-- Custom fullcalendar -->
            <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>



            <!-- This Date JS -->
            <script src="/UI/assets/libs/moment/moment.js"></script>
            <script src="/UI/assets/libs/daterangepicker/daterangepicker.js"></script>




            <!--This page repeater -->
            <script src="/UI/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
            <script src="/UI/assets/extra-libs/jquery.repeater/repeater-init.js"></script>
            <script src="/UI/assets/extra-libs/jquery.repeater/dff.js"></script>

            <script src="/UI/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>



            <script src="/UI/assets/libs/raphael/raphael.min.js"></script>
            <script src="/UI/assets/libs/morris.js/morris.min.js"></script>
            <script src="/UI/dist/js/pages/morris/morris-data.js"></script>

            <!--This page table -->
            <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
            <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
            <script src="/UI/dist/js/pages/datatable/datatable-advanced.init.js"></script>