<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Monitor</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/monitor">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ข้อมูลเข้า</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card" style="margin-left: 10px; height: 400px;">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-9">
                        <div class="card">

                            <div class="card-body analytics-info">
                                <div id="basic-bar" style="height:400px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->

                    <!-- Column -->
                </div>
            </div>
        </div>


        <div class="row">
            <% if (data) { %>
                <% for (var i = 0; i< data.length; i++) { %>
                    <div class="col-lg-12 col-md-6">
                        <div class="row">
                            <div>
                                <p class="p_st">ชื่ออุปกรณ์
                                    <%= data[i].name %>
                                </p>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="card">
                                    <div class="card-body pd-5px bd-st">
                                        <p class="t-center">
                                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample-<%= data[i].device_id %>" role="button" aria-expanded="false" aria-controls="collapseExample-<%= data[i].device_id %>">
                                                  แหล่งกำเนิด<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                        </p>

                                        <div class="collapse show" id="collapseExample-<%= data[i].device_id %>">
                                            <div class="card-body pd-5px">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">
                                                                <%= data[i].hostname %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Spac:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">
                                                                <%= data[i].spec %>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Log Raw (0)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Network:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">
                                                                <%= data[i].hostname %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                            <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6">
                                <div class="card">
                                    <div class="card-body pd-5px bd-st">
                                        <p class="t-center">
                                            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample2-<%= data[i].device_id %>" role="button" aria-expanded="false" aria-controls="collapseExample2-<%= data[i].device_id %>">
                                                  การส่งข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                        </p>
                                        <div class="collapse show" id="collapseExample2-<%= data[i].device_id %>">
                                            <div class="card card-body pd-5px">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Agent AIITRA 1.0 for mail</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">internet:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Lorem ipsum</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">User:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Lorem ipsum</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Password:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Lorem ipsum</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Log Raw (Log 0)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Data Hash MD 5</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Check Log 0</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Policy All day M-F 23.00</p>
                                                        </div>
                                                    </div>


                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                            <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6">
                                <div class="card">
                                    <div class="card-body pd-5px bd-st">
                                        <p class="t-center">
                                            <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample3-<%= data[i].device_id %>" role="button" aria-expanded="false" aria-controls="collapseExample3-<%= data[i].device_id %>">
                                                  การรับข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                        </p>

                                        <div class="collapse show" id="collapseExample3-<%= data[i].device_id %>">
                                            <div class="card-body pd-5px">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">xxx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Spac:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, deleniti!</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Network:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">xx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Roout NAT:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">deleniti!</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">CoreSwitch</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                            <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6">
                                <div class="card">
                                    <div class="card-body pd-5px bd-st">
                                        <p class="t-center">
                                            <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample4-<%= data[i].device_id %>" role="button" aria-expanded="false" aria-controls="collapseExample4-<%= data[i].device_id %>">
                                                  การจัดเก็บ Log<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                        </p>

                                        <div class="collapse show" id="collapseExample4-<%= data[i].device_id %>">
                                            <div class="card-body pd-5px">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">xxxx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Log Raw (Log1)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">MySQL Server</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Drive F:</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">xxxx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Dada Hash MD 5</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Check Log 0=1</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                            <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6">
                                <div class="card">
                                    <div class="card-body pd-5px bd-st">
                                        <p class="t-center">
                                            <a class="btn btn-info" data-bs-toggle="collapse" href="#collapseExample5-<%= data[i].device_id %>" role="button" aria-expanded="false" aria-controls="collapseExample5-<%= data[i].device_id %>">
                                                  การบันทึกข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                        </p>

                                        <div class="collapse show" id="collapseExample5-<%= data[i].device_id %>">
                                            <div class="card-body pd-5px">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">xxx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Log Mangenment (Log2)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">MySQL</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Server</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Drive G</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">xxxx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Data Hash MD 5</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Check Log 0-1</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="45">
                                                            <p class="text-color-1 dis-in" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="25px">
                                                            <p class="text-color-1 dis-in" style="font-size: x-small;">Monitor</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="25px">
                                                            <p class="text-color-1 dis-in" style="font-size: x-small;">Watch Dog</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle dis-in" alt="user" width="25px">
                                                            <p class="text-color-1 dis-in" style="font-size: x-small;">Data out</p>
                                                        </div>
                                                    </div>

                                                </div>



                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6">
                                <div class="card">
                                    <div class="card-body pd-5px bd-st">
                                        <p class="t-center">
                                            <a class="btn btn-warning" data-bs-toggle="collapse" href="#collapseExample6-<%= data[i].device_id %>" role="button" aria-expanded="false" aria-controls="collapseExample6-<%= data[i].device_id %>">
                                                  การส่งออกข้อมูล<i class="me-2 mdi mdi-chevron-down" style="font-size: 20px;"></i>
                                                </a>
                                        </p>

                                        <div class="collapse show" id="collapseExample6-<%= data[i].device_id %>">
                                            <div class="card-body pd-5px">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">AIITRA 1.1.1</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Log Mangenment (Log 3)</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">MySQL Server</p>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-5">
                                                        <div>
                                                            <p class="text-color-1 f-text-10px">Drive G</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">xxxx</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Data Hash MD 5</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div>
                                                            <p class="text-color-1 f-text-8px">Check Log 0-1-3</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="t-center">
                                                            <img src="/UI/assets/images/users/2.jpg" class="rounded-circle" alt="user" width="45">
                                                            <p class="text-color-1" style="font-size: x-small;">ผู้ดูเเลระบบ</p>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <%}%>
                        <%}%>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">ประวัติการนำเข้าข้อมูล</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="complex_head_col" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>ชื่อ file</th>
                                        <th>แหล่งกำเนิด</th>
                                        <th>วิธีจัดส่ง</th>
                                        <th>Hash(Log0)</th>
                                        <th>วันที่จัดเก็บ</th>
                                        <th>Hash(Log1)</th>
                                        <th>Check</th>
                                        <th>การบันทึกข้อมูล</th>
                                        <th>Hash(Log2)</th>
                                        <th>การส่งข้อมูลออก</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>$170,750</td>
                                        <td>Tokyo</td>
                                        <td>8422</td>
                                        <td>g.winters@datatables.net</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>$86,000</td>
                                        <td>San Francisco</td>
                                        <td>1562</td>
                                        <td>a.cox@datatables.net</td>
                                        <td>$320,800</td>
                                        <td>Edinburgh</td>
                                        <td>5421</td>
                                        <td>t.nixon@datatables.net</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ชื่อ file</th>
                                        <th>แหล่งกำเนิด</th>
                                        <th>วิธีจัดส่ง</th>
                                        <th>Hash(Log0)</th>
                                        <th>วันที่จัดเก็บ</th>
                                        <th>Hash(Log1)</th>
                                        <th>Check</th>
                                        <th>การบันทึกข้อมูล</th>
                                        <th>Hash(Log2)</th>
                                        <th>การส่งข้อมูลออก</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

        </div>



        <%- include('../_footer') -%>
            <!-- ============================================================== -->
            <!-- All Jquery -->

            <!--This page JavaScript -->
            <script src="/UI/assets/libs/chartist/dist/chartist.min.js"></script>
            <script src="/UI/assets/libs/echarts/dist/echarts-en.min.js"></script>
            <script src="/UI/assets/libs/flot/excanvas.min.js"></script>
            <script src="/UI/assets/libs/flot/jquery.flot.js"></script>
            <script src="/UI/assets/libs/jquery.flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
            <script src="/UI/assets/libs/d3/dist/d3.min.js"></script>
            <script src="/UI/assets/libs/c3/c3.min.js"></script>
            <script src="/UI/assets/libs/gaugeJS/dist/gauge.min.js"></script>
            <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
            <script src="/UI/dist/js/pages/widget/card-custom.js"></script>



            <!-- This Page charts LOG-->
            <script src="/UI/dist/js/pages/chartsLog/chartsLog.js"></script>

            <!-- Custom fullcalendar -->

            <script src="/UI/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
            <script src="/UI/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>

            <script src="/UI/assets/libs/moment/min/moment.min.js"></script>
            <script src="/UI/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
            <script src="/UI/dist/js/pages/calendar/cal-init.js"></script>

            <!-- Custom fullcalendar -->
            <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>



            <!-- This Date JS -->
            <script src="/UI/assets/libs/moment/moment.js"></script>
            <script src="/UI/assets/libs/daterangepicker/daterangepicker.js"></script>




            <!--This page repeater -->
            <script src="/UI/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
            <script src="/UI/assets/extra-libs/jquery.repeater/repeater-init.js"></script>
            <script src="/UI/assets/extra-libs/jquery.repeater/dff.js"></script>

            <script src="/UI/dist/js/pages/sparkline/jquery.charts-sparkline.js"></script>



            <script src="/UI/assets/libs/raphael/raphael.min.js"></script>
            <script src="/UI/assets/libs/morris.js/morris.min.js"></script>
            <script src="/UI/dist/js/pages/morris/morris-data.js"></script>

            <!--This page table -->
            <script src="/UI/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
            <script src="/UI/dist/js/pages/datatable/custom-datatable.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
            <script src="/UI/dist/js/pages/datatable/datatable-advanced.init.js"></script>

            <script src="/UI/assets/libs/echarts/dist/echarts-en.min.js"></script>
            <script>
                $(function() {
                    var a = <%-JSON.stringify(data2)%>;
                    var b = <%-JSON.stringify(data3)%>;
                    var c = <%-JSON.stringify(data4)%>;
                    var d = <%-JSON.stringify(data5)%>;
                    // ------------------------------
                    // Basic bar chart
                    // ------------------------------
                    // based on prepared DOM, initialize echarts instance
                    var myChart = echarts.init(document.getElementById('basic-bar'));

                    // specify chart configuration item and data
                    var option = {
                        // Setup grid
                        grid: {
                            left: '1%',
                            right: '2%',
                            bottom: '3%',
                            containLabel: true
                        },

                        // Add Tooltip
                        tooltip: {
                            trigger: 'axis'
                        },

                        legend: {
                            data: c
                        },
                        toolbox: {
                            show: true,
                            feature: {

                                magicType: {
                                    show: true,
                                    type: ['line', 'bar']
                                },
                                restore: {
                                    show: true
                                },
                                saveAsImage: {
                                    show: true
                                }
                            }
                        },
                        color: d,
                        calculable: true,
                        xAxis: [{
                            type: 'category',
                            data: b
                        }],
                        yAxis: [{
                            type: 'value'
                        }],
                        series: a
                    };
                    // use configuration item and data specified to show chart
                    myChart.setOption(option);





                    //------------------------------------------------------
                    // Resize chart on menu width change and window resize
                    //------------------------------------------------------
                    $(function() {

                        // Resize chart on menu width change and window resize
                        $(window).on('resize', resize);
                        $(".sidebartoggler").on('click', resize);

                        // Resize function
                        function resize() {
                            setTimeout(function() {

                                // Resize chart
                                myChart.resize();

                            }, 200);
                        }
                    });
                });
            </script>