<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">Monitor</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/monitor">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">เฝ้าระวัง</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-7 justify-content-end align-self-center d-none d-md-flex">
                <div class="d-flex">
                    <div class="dropdown me-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    January 2021
                                </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">February 2021</a></li>
                            <li><a class="dropdown-item" href="#">March 2021</a></li>
                            <li><a class="dropdown-item" href="#">April 2021</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-success"><i data-feather="plus" class="fill-white feather-sm"></i>
                                เพิ่มการเฝ้าดู</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="test1">
                <div class="card">
                    <div class="card-body pd-10px">
                        <div class="d-flex align-items-start bd-b">
                            <div>

                                <h4 class="card-title mt-5px"><i class="me-2 mdi mdi-bullseye icon-status"></i>ข้อกำหนดการเฝ้าระวัง</h4>
                            </div>
                            <div class="ms-auto p-right">
                                <i class="mdi mdi-reorder-horizontal cursor-icon"></i>
                                <i class="mdi mdi-fullscreen cursor-icon"></i>
                                <i class="mdi mdi-close-octagon cursor-icon"></i>

                            </div>
                        </div>

                    </div>
                    <div class="card-body pd-10px">
                        <div class="row" style="    margin-bottom: 1px;
                                                                border-bottom: 1px solid #e9ecef!important;">

                            <div class="col-sm-5">
                                <div>
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">ชื่อข้อกำหนดการเฝ้าระวัง</p>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" style="display: inline-block;width: 100%;font-size: x-small;height: 25px;">
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div>
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">เลือกอุปกรณ์</p>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <select class="form-select mr-sm-2" id="inlineFormCustomSelect" style="    font-size: xx-small;height: 25px;">
                                                <option selected>Choose...</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                </div>
                            </div>


                            <div class="col-sm-5">
                                <div>
                                    <p style="font-size: x-small;">ประเภทข้อมูล</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <p style="font-size: x-small;font-weight: bold;">xxx</p>
                                </div>
                            </div>


                            <div class="col-sm-5">
                                <div>
                                    <p style="font-size: x-small;">ประเภทการจัดส่งข้อมูลมาจัดเก็บ</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <p style="font-size: x-small;font-weight: bold;">xxx</p>
                                </div>
                            </div>



                            <div class="col-sm-5">
                                <div>
                                    <p style="font-size: x-small;">วันที่เริ่มมีข้อมูล</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <p style="font-size: x-small;font-weight: bold;">xxx - ปัจจุบัน</p>
                                </div>
                            </div>


                            <div>
                                <p style="font-size: xx-small;
                                        color: blueviolet;">ปริมาณ Log ทั้งหมด</p>

                            </div>

                            <div class="col-10 col-xl-12 align-items-center">
                                <div>
                                    <p style="font-size: x-large;font-weight: bold;margin-bottom: 1px;">xxx</p>
                                    <p style="font-size: xx-small;
                                        color: #90a4ae;"> 14% <i class="ti-arrow-down text-danger"></i>เมื่อเทียบจากค่าเฉลี่ย</p>
                                </div>
                                <div>

                                </div>
                            </div>
                            <div class="earnings-month mt-1"></div>

                            <div style="margin-top: 10px;"></div>


                            <div class="col-sm-12">
                                <div>
                                    <p style="font-size: small;font-weight: bold;">ข้อกำหนดการเฝ้าดู</p>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">Sender e-mail address</p>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" placeholder="ปล่อยยว่างถ้าไม่ทราบ" style="display: inline-block;width: 80%;font-size: x-small;height: 25px;">
                                    <i class="me-2 mdi mdi-alert-circle-outline"></i>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">Message ID</p>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" placeholder="ปล่อยยว่างถ้าไม่ทราบ" style="display: inline-block;width: 80%;font-size: x-small;height: 25px;">
                                    <i class="me-2 mdi mdi-alert-circle-outline"></i>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">Receiver e-mail address</p>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" placeholder="ปล่อยยว่างถ้าไม่ทราบ" style="display: inline-block;width: 80%;font-size: x-small;height: 25px;">
                                    <i class="me-2 mdi mdi-alert-circle-outline"></i>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">Receiver e-mail address</p>
                                </div>
                            </div>

                            <div class="col-sm-7">
                                <div>
                                    <input type="checkbox" style="position: relative;top: 5px;display: inline-block;">
                                    <p style="font-size: xx-small;color: #90a4ae; margin-bottom: 1px; display: inline-block;position: relative;top: -15%;">Complete</p>
                                    <input type="checkbox" style="position: relative;top: 5px;display: inline-block;">
                                    <p style="font-size: xx-small;color: #90a4ae; margin-bottom: 1px; display: inline-block;position: relative;top: -15%;">Not Complete</p>
                                </div>
                            </div>


                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">IP address of client to server</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" placeholder="ปล่อยยว่างถ้าไม่ทราบ" style="display: inline-block;width: 80%;font-size: x-small;height: 25px;margin-bottom: 5px;">
                                    <i class="me-2 mdi mdi-alert-circle-outline"></i>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">Date and Time</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class='input-group' style="margin-bottom: 5px;">
                                    <input style="font-size: 9px;padding: 2px;" type='text' class="form-control dateranges" />

                                    <span class="input-group-text">
                                                    <i data-feather="calendar" class="feather-sm"></i>
                                                </span>

                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">IP address of cending computer</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" placeholder="ปล่อยยว่างถ้าไม่ทราบ" style="display: inline-block;width: 80%;font-size: x-small;height: 25px;">
                                    <i class="me-2 mdi mdi-alert-circle-outline"></i>
                                </div>
                            </div>

                            <div class="col-sm-5">
                                <div style="text-align: right;">
                                    <p style="font-size: x-small;font-weight: bold;display: inline-block;">User ID</p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>
                                    <input type="text" class="form-control" placeholder="ปล่อยยว่างถ้าไม่ทราบ" style="display: inline-block;width: 80%;font-size: x-small;height: 25px;">
                                    <i class="me-2 mdi mdi-alert-circle-outline"></i>
                                </div>
                            </div>




                            <div class="col-sm-12">
                                <div>
                                    <p style="font-size: x-small;font-weight: bold;">การเตือน/การส่งข้อมูล</p>
                                </div>
                            </div>
                            <div>
                            </div>
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">
                                <div class='input-group mb-3'>
                                    <input style="font-size: 9px;" type='text' class="form-control dateranges" />

                                    <span class="input-group-text">
                                                    <i data-feather="calendar" class="feather-sm"></i>
                                                </span>

                                </div>
                            </div>
                            <div class="col-sm-2">

                            </div>


                            <div class="email-repeater col-sm-12">
                                <div data-repeater-list="repeater-group">
                                    <div data-repeater-item class="row">
                                        <div class="col-sm-10" style="padding-right: 1px;">
                                            <input type="checkbox" checked data-size="mini" />
                                            <i class="mdi mdi-bell-plus"></i>
                                            <input type="email" class="form-control" style="font-size: xx-small;color: #90a4ae;display: inline-block;width: 75%;" placeholder="Email">
                                        </div>
                                        <div class="col-sm-2" style="padding: 1px;">
                                            <i data-repeater-delete="" class="me-2 mdi mdi-close-circle-outline"></i>
                                        </div>
                                        <div class="col-sm-12">
                                            <p style="font-size: xx-small;color: #90a4ae; margin-bottom: 1px; display: inline-block;position: relative;
                                                            top: -15%;">ความถี่ในการเตือน</p>
                                            <input type="checkbox" checked data-size="mini" />
                                            <p style="font-size: xx-small;color: #90a4ae; margin-bottom: 1px; display: inline-block;position: relative;
                                                            top: -15%;">1 ครั้งต่อ</p>
                                            <input type="text" style="    display: inline-block;
                                                            width: 15px;
                                                            font-size: 7px;
                                                            height: 15px;
                                                            position: relative;
                                                            top: -10%;display: inline-block;" placeholder="24">
                                            <p style="font-size: xx-small;color: #90a4ae; margin-bottom: 1px; display: inline-block;position: relative;
                                                            top: -15%;">ชั่วโมง</p>
                                            <input type="checkbox" checked data-size="mini" />
                                            <p style="font-size: xx-small;color: #90a4ae; margin-bottom: 1px; display: inline-block;position: relative;
                                                            top: -15%;">เมื่อพบข้อมูล</p>

                                        </div>
                                    </div>
                                </div>
                                <i data-repeater-create="" class="me-2 mdi mdi-plus-circle-outline"></i>

                            </div>
                            <div style="text-align: center;">
                                <button class="form-control" style="    width: 30%;
                                                font-weight: bold;
                                                font-size: 12px; display: inline;margin-bottom: 10px;"> แก้ไข </button>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->

        <!-- Column -->
        <!-- Column -->

        <%- include('../_footer') -%>

            <!--This page JavaScript -->
            <script src="/UI/assets/libs/chartist/dist/chartist.min.js"></script>
            <script src="/UI/assets/libs/echarts/dist/echarts-en.min.js"></script>
            <script src="/UI/assets/libs/flot/excanvas.min.js"></script>
            <script src="/UI/assets/libs/flot/jquery.flot.js"></script>
            <script src="/UI/assets/libs/jquery.flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
            <script src="/UI/assets/libs/d3/dist/d3.min.js"></script>
            <script src="/UI/assets/libs/c3/c3.min.js"></script>
            <script src="/UI/assets/libs/gaugeJS/dist/gauge.min.js"></script>
            <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
            <script src="/UI/dist/js/pages/widget/card-custom.js"></script>



            <!-- This Page charts LOG-->
            <script src="/UI/dist/js/pages/chartsLog/chartsLog.js"></script>

            <!-- Custom fullcalendar -->

            <script src="/UI/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
            <script src="/UI/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>

            <script src="/UI/assets/libs/moment/min/moment.min.js"></script>
            <script src="/UI/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
            <script src="/UI/dist/js/pages/calendar/cal-init.js"></script>

            <!-- Custom fullcalendar -->
            <script src="/UI/assets/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script>
                $(".bt-switch input[type='checkbox'], .bt-switch input[type='radio']").bootstrapSwitch();
                var radioswitch = function() {
                    var bt = function() {
                        $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioState")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck")
                        }), $(".radio-switch").on("switch-change", function() {
                            $(".radio-switch").bootstrapSwitch("toggleRadioStateAllowUncheck", !1)
                        })
                    };
                    return {
                        init: function() {
                            bt()
                        }
                    }
                }();
                $(document).ready(function() {
                    radioswitch.init()
                });
            </script>



            <!-- This Date JS -->
            <script src="/UI/assets/libs/moment/moment.js"></script>
            <script src="/UI/assets/libs/daterangepicker/daterangepicker.js"></script>
            <script>
                /*******************************************/
                // Basic Date Range Picker
                /*******************************************/
                $('.daterange').daterangepicker();

                /*******************************************/
                // Date & Time
                /*******************************************/
                $('.datetime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    locale: {
                        format: 'MM/DD/YYYY h:mm A'
                    }
                });

                /*******************************************/
                //Calendars are not linked
                /*******************************************/
                $('.timeseconds').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    timePicker24Hour: true,
                    timePickerSeconds: true,
                    locale: {
                        format: 'MM-DD-YYYY h:mm:ss'
                    }
                });

                /*******************************************/
                // Single Date Range Picker
                /*******************************************/
                $('.singledate').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true
                });

                /*******************************************/
                // Auto Apply Date Range
                /*******************************************/
                $('.autoapply').daterangepicker({
                    autoApply: true,
                });

                /*******************************************/
                // Calendars are not linked
                /*******************************************/
                $('.linkedCalendars').daterangepicker({
                    linkedCalendars: false,
                });

                /*******************************************/
                // Date Limit
                /*******************************************/
                $('.dateLimit').daterangepicker({
                    dateLimit: {
                        days: 7
                    },
                });

                /*******************************************/
                // Show Dropdowns
                /*******************************************/
                $('.showdropdowns').daterangepicker({
                    showDropdowns: true,
                });

                /*******************************************/
                // Show Week Numbers
                /*******************************************/
                $('.showweeknumbers').daterangepicker({
                    showWeekNumbers: true,
                });

                /*******************************************/
                // Date Ranges
                /*******************************************/
                $('.dateranges').daterangepicker({
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                });

                /*******************************************/
                // Always Show Calendar on Ranges
                /*******************************************/
                $('.shawCalRanges').daterangepicker({
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    alwaysShowCalendars: true,
                });

                /*******************************************/
                // Top of the form-control open alignment
                /*******************************************/
                $('.drops').daterangepicker({
                    drops: "up" // up/down
                });

                /*******************************************/
                // Custom button options
                /*******************************************/
                $('.buttonClass').daterangepicker({
                    drops: "up",
                    buttonClasses: "btn",
                    applyClass: "btn-info",
                    cancelClass: "btn-danger"
                });

                /*******************************************/
                // Language
                /*******************************************/
                $('.localeRange').daterangepicker({
                    ranges: {
                        "Aujourd'hui": [moment(), moment()],
                        'Hier': [moment().subtract('days', 1), moment().subtract('days', 1)],
                        'Les 7 derniers jours': [moment().subtract('days', 6), moment()],
                        'Les 30 derniers jours': [moment().subtract('days', 29), moment()],
                        'Ce mois-ci': [moment().startOf('month'), moment().endOf('month')],
                        'le mois dernier': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    locale: {
                        applyLabel: "Vers l'avant",
                        cancelLabel: 'Annulation',
                        startLabel: 'Date initiale',
                        endLabel: 'Date limite',
                        customRangeLabel: 'SÃ©lectionner une date',
                        // daysOfWeek: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi','Samedi'],
                        daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                        monthNames: ['Janvier', 'fÃ©vrier', 'Mars', 'Avril', 'ÐœÐ°i', 'Juin', 'Juillet', 'AoÃ»t', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
                        firstDay: 1
                    }
                });
            </script>



            <!--This page repeater -->
            <script src="/UI/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
            <script src="/UI/assets/extra-libs/jquery.repeater/repeater-init.js"></script>
            <script src="/UI/assets/extra-libs/jquery.repeater/dff.js"></script>