<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">กำหนดรูปแบบข้อมูล</h3>
                <div class="d-flex align-items-center" style="margin-top: 1%;">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าแรก</a></li>
                            <li class="breadcrumb-item"><a href="/pattern">กำหนดรูปแบบข้อมูล</a></li>
                            <li class="breadcrumb-item active" aria-current="page">รายละเอียดของรูปแบบ <%=
                                    pattern[0].pattern_name %>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="detail">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">รายละเอียดของรูปแบบ <%= pattern[0].pattern_name %><span
                                    class="text-secondary"></span></h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <!-- Method 1 -->
                                <p class="h5 font-bold">กำหนดค่าข้อมูล</p>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern">
                                        ชื่อรูปแบบ :
                                    </td>
                                    <td>
                                        <%= pattern[0].pattern_name %>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern">
                                        Tag :
                                    </td>
                                    <td>
                                        <%= pattern[0].pattern_tag %>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern">
                                        Label :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_label !="" || pattern[0].pattern_label !=null){%>
                                            <%= pattern[0].pattern_label %>
                                                <%}else{%>
                                                    <span class="span-table-boolean-false">ไม่มี</span>
                                                    <%}%>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="font-bold td-head-detail-pattern">
                                        เริ่ม :
                                    </td>
                                    <td class="td-body-date-detail-pattern">
                                        <span id="start_date" data-value="<%= pattern[0].pattern_start_date %>"></span>
                                    </td>
                                    <td class="td-body-detail-pattern font-bold">
                                        ระยะเวลาการจัดเก็บ
                                    </td>
                                    <td class="td-body-date-detail-pattern2">
                                        <%= pattern[0].pattern_total_date %>
                                    </td>
                                    <td class="font-bold">
                                        วัน
                                    </td>
                                </table>
                                <!-- Method 2 -->
                                <p class="h5 font-bold">ชนิดข้อมูล</p>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        File MS Excsel / CSV :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_type_data_file !=0){%>
                                            <span class="span-table-boolean-true">มี</span>
                                            <% if(pattern[0].pattern_type_data_file_path != "" || pattern[0].pattern_type_data_file_path != null){%>
                                                <span>[<% if(pattern[0].pattern_type_data_file_of_path == 0) {%>
                                                            Linux (<%= pattern[0].pattern_type_data_file_path%>) ]</span>
                                                        <%}else{%>
                                                            Windows (<%= pattern[0].pattern_type_data_file_path%>) ]</span>
                                                        <%}%>
                                                <%}else{%>
                                                    <span class="span-table-boolean-false">(ไม่ได้ระบุ)</span>
                                                    <%}%>
                                            <%}else{%>
                                                <span class="span-table-boolean-false">ไม่มี</span>
                                                <%}%>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        Database :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_type_data_database !=0){%>
                                            <span class="span-table-boolean-true">มี / </span>
                                            <% if(pattern[0].pattern_type_data_database_name !="" ||
                                                pattern[0].pattern_type_data_database_name !=null){%>
                                                <span>(<%= pattern[0].pattern_type_data_database_name %>)</span>
                                                <%}else{%>
                                                    <span class="span-table-boolean-false">(ไม่ได้ระบุ)</span>
                                                    <%}%>
                                                        <%}else{%>
                                                            <span class="span-table-boolean-false">ไม่มี</span>
                                                            <%}%>
                                    </td>
                                </table>
                                <!-- Method 3 -->
                                <p class="h5 font-bold">วิธีจัดเก็บข้อมูลส่วนบุคคล</p>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        ภายใน Alltar :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_storage_method_inside !=0){%>
                                            <span class="span-table-boolean-true">มี</span>
                                            <%}else{%>
                                                <span class="span-table-boolean-false">ไม่มี</span>
                                                <%}%>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        ภายนอก :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_storage_method_outside !=0){%>
                                            <span class="span-table-boolean-true">มี&ensp;</span>
                                            <span class="">[&emsp;(อุปกรณ์ : </span>
                                            <% if(pattern[0].pattern_storage_method_outside_device !=0){%>
                                                <% if(pattern[0].pattern_storage_method_outside_device_name !="" ||
                                                    pattern[0].pattern_storage_method_outside_device_name !=null){%>
                                                    <span class="span-table-boolean-true">มี / </span>
                                                    <span>
                                                        <%=pattern[0].pattern_storage_method_outside_device_name%>
                                                            ),&emsp;
                                                    </span>
                                                    <%}else{%>
                                                        <span class="span-table-boolean-false">ไม่ได้ระบุ),&emsp;</span>
                                                        <%}%>
                                                            <%}else{%>
                                                                <span
                                                                    class="span-table-boolean-false">ไม่มี),&emsp;</span><br />
                                                                <%}%>
                                                                    <span class="">(Agent : </span>
                                                                    <% if(pattern[0].pattern_storage_method_outside_agent
                                                                        !=0){%>
                                                                        <% if(pattern[0].pattern_storage_method_outside_agent_name
                                                                            !="" ||
                                                                            pattern[0].pattern_storage_method_outside_agent_name
                                                                            !=null){%>
                                                                            <span class="span-table-boolean-true">มี /
                                                                            </span>
                                                                            <span>
                                                                                <%=pattern[0].pattern_storage_method_outside_agent_name%>
                                                                                    ),&emsp;
                                                                            </span>
                                                                            <%}else{%>
                                                                                <span
                                                                                    class="span-table-boolean-false">ไม่ได้ระบุ),&emsp;</span>
                                                                                <%}%>
                                                                                    <%}else{%>
                                                                                        <span
                                                                                            class="span-table-boolean-false">ไม่มี),&emsp;</span><br />
                                                                                        <%}%>
                                                                                            <span class="">(Database
                                                                                                ภายนอก : </span>
                                                                                            <% if(pattern[0].pattern_storage_method_outside_database_outside
                                                                                                !=0){%>
                                                                                                <% if(pattern[0].pattern_storage_method_outside_database_outside_name
                                                                                                    !="" ||
                                                                                                    pattern[0].pattern_storage_method_outside_database_outside_name
                                                                                                    !=null){%>
                                                                                                    <span
                                                                                                        class="span-table-boolean-true">มี
                                                                                                        / </span>
                                                                                                    <span>
                                                                                                        <%=pattern[0].pattern_storage_method_outside_database_outside_name%>
                                                                                                            )&emsp;]
                                                                                                    </span>
                                                                                                    <%}else{%>
                                                                                                        <span
                                                                                                            class="span-table-boolean-false">ไม่ได้ระบุ)&emsp;</span>]
                                                                                                        <%}%>
                                                                                                            <%}else{%>
                                                                                                                <span
                                                                                                                    class="span-table-boolean-false">ไม่มี)&emsp;</span><br />]
                                                                                                                <%}%>
                                                                                                                    <%}else{%>
                                                                                                                        <span
                                                                                                                            class="span-table-boolean-false">ไม่มี</span>
                                                                                                                        <%}%>
                                    </td>
                                </table>
                                <!-- Method 4 -->
                                <p class="h5 font-bold">ข้อมูลส่วนบุคคลที่จัดเก็บ (ตัวอย่าง)</p>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        ตัวอย่าง :
                                    </td>
                                    <td>
                                        <a href="/show_slide/<%= pattern[0].doc_id %>" target="_blank"
                                            rel="noopener noreferrer" class="btn btn-success">Previewer</a>
                                    </td>
                                </table>
                                <!-- Method 5 -->
                                <p class="h5 font-bold">ฐานการประมวลผล</p>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        ที่เลือก :
                                    </td>
                                    <td>
                                        <%= pattern[0].pattern_processing_base_name %>
                                    </td>
                                </table>
                                <!-- Method 6 -->
                                <p class="h5 font-bold">ผู้ประมวลผล</p>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        ภายใน :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_processor_inside !=0){%>
                                            <span class="span-table-boolean-true">มี / </span>
                                            <% if(pattern[0].pattern_processor_inside_name !="" ||
                                                pattern[0].pattern_processor_inside_name !=null){%>
                                                <span>(<% for(var k=0;k<users_inside.length;k++){%>
                                                    <% if(k == users_inside.length-1){%>
                                                        <%= users_inside[k].firstname %> <%= users_inside[k].lastname %>
                                                    <%}else{%>
                                                        <%= users_inside[k].firstname %> <%= users_inside[k].lastname %>,
                                                    <%}%>
                                                <%}%>)</span>
                                                <%}else{%>
                                                    <span class="span-table-boolean-false">(ไม่ได้ระบุ)</span>
                                                    <%}%>
                                                        <%}else{%>
                                                            <span class="span-table-boolean-false">ไม่มี</span>
                                                            <%}%>
                                    </td>
                                </table>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern font-bold">
                                        ภายนอก :
                                    </td>
                                    <td>
                                        <% if(pattern[0].pattern_processor_outside !=0){%>
                                            <span class="span-table-boolean-true">มี / </span>
                                            <% if(pattern[0].pattern_processor_outside_name !="" ||
                                                pattern[0].pattern_processor_outside_name !=null){%>
                                                <span>(<% for(var k=0;k<users_outside.length;k++){%>
                                                    <% if(k == users_outside.length-1){%>
                                                        <%= users_outside[k].firstname %> <%= users_outside[k].lastname %>
                                                    <%}else{%>
                                                        <%= users_outside[k].firstname %> <%= users_outside[k].lastname %>,
                                                    <%}%>
                                                <%}%>)</span>
                                                <%}else{%>
                                                    <span class="span-table-boolean-false">(ไม่ได้ระบุ)</span>
                                                    <%}%>
                                                        <%}else{%>
                                                            <span class="span-table-boolean-false">ไม่มี</span>
                                                            <%}%>
                                    </td>
                                </table>
                                <!-- Method 7 -->
                                <p class="h5 font-bold">กำหนดระยะเวลาสิ้นสุด</p>
                                <table class="table table-boardless">
                                    <td class="td-head-detail-pattern3 font-bold">
                                        เมื่อหมดระยะเวลาจัดเก็บข้อมูลจะจัดเก็บต่อไปอีกเป็นระยะเวลา
                                    </td>
                                    <td class='td-body-date-detail-pattern3'>
                                        <% if(pattern[0].pattern_set_end_date !=0){%>
                                            <% if(pattern[0].pattern_set_end_date_total !="" ||
                                                pattern[0].pattern_set_end_date_total !=null){%>
                                                <span>
                                                    <%= pattern[0].pattern_set_end_date_total %>
                                                </span>
                                                <%}else{%>
                                                    <span class="span-table-boolean-false">-</span>
                                                    <%}%>
                                                        <%}else{%>
                                                            <span class="span-table-boolean-false">ไม่มี</span>
                                                            <%}%>
                                    </td>
                                    <td class="td-head-detail-pattern4 font-bold">
                                        วัน
                                        (ถือการสิ้นสุดจะเป็นการเตรียมทำลายข้อมูลและไม่มีการใช้ข้อมูลเพิ่อการประมวลผล)
                                    </td>
                                    <td class="td-head-detail-pattern5 font-bold">
                                    </td>
                                </table>
                                <!-- Method 8 -->
                                <p class="h5 font-bold p-inline"> DPO ต้องอนุมัติทุกครั้งถึงสามารถประมวลผลได้ : 
                                    <% if(pattern[0].pattern_dpo_approve_process != 0){%>
                                        <span class="span-boolean-true">มี</span>
                                    <%}else{%>
                                        <span
                                            class="span-boolean-false">ไม่มี</span>
                                    <%}%>
                                </p>
                                <p class="h5 font-bold p-inline">DPO ต้องอนุมัติทุกครั้งถึงจะนำข้อมูล Raw file ออกได้ :
                                    <% if(pattern[0].pattern_dpo_approve_raw_file_out != 0){%>
                                        <span class="span-boolean-true">มี</span>
                                    <%}else{%>
                                        <span
                                            class="span-boolean-false">ไม่มี</span>
                                    <%}%>
                                </p>
                            </div>
                        </div>
                        <div class="text-center" style="margin-top: 2%;">
                            <a href="javascript:void(0);" onclick="history.back()" class="btn btn-info">ย้อนกลับ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/UI/dist/js/all_function_pattern.js"></script>
    <%- include('../_footer') -%>